<template>
    <div class="Admin_container">
        <side-bar>
            <sidebar-link to="/admin/manage-doctor">
                <i class="nc-icon nc-single-copy-04"></i>
                <p>Quản Lý Hồ Sơ Bác Sĩ</p>
            </sidebar-link>
            <sidebar-link to="/admin/manage-patient">
                <i class="nc-icon nc-notes"></i>
                <p>Quản Lý Bệnh Nhân</p>
            </sidebar-link>
            <sidebar-link to="/admin/manage-specialist">
                <i class="nc-icon nc-paper-2"></i>
                <p>Quản Lý Khoa</p>
            </sidebar-link>
            <sidebar-link to="/admin/create-account">
                <i class="nc-icon nc-badge"></i>
                <p>Tạo Tài Khoản</p>
            </sidebar-link>
        </side-bar>
        <div class="main-panel">
            <NavBarAdmin></NavBarAdmin>

            <ContentAdmin @click="toggleSidebar">

            </ContentAdmin>

            <FooterAdmin></FooterAdmin>
        </div>
    </div>
</template>

<script>
    import NavBarAdmin from "./NavBarAdmin";
    import FooterAdmin from "./FooterAdmin";
    import ContentAdmin from "./ContentAdmin";
    export default {
        name: "AdminLayout",
        components: {
            NavBarAdmin,
            FooterAdmin,
            ContentAdmin,
        },
        methods: {
            toggleSidebar () {
                if (this.$sidebar.showSidebar) {
                    this.$sidebar.displaySidebar(false)
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>