<template>
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <router-link :to="{path:'/admin'}">Quản lý hệ thống</router-link>
                    </li>
                </ul>
            </nav>
            <div class="copyright text-center">
                &copy; Booking care phiên bản thử nghiệm
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "FooterAdmin"
    }
</script>

<style lang="scss" scoped>

</style>