<template>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin</a>
            <button type="button"
                    class="navbar-toggler navbar-toggler-right"
                    :class="{toggled: $sidebar.showSidebar}"
                    aria-controls="navigation-index"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    @click="toggleSidebar">
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav ml-auto">
<!--                    <base-dropdown tag="li">-->
<!--                        <template slot="title">-->
<!--                            <i class="nc-icon nc-bell-55"></i>-->
<!--                            <b class="caret"></b>-->
<!--                            <span class="notification">5</span>-->
<!--                        </template>-->
<!--                        <a class="dropdown-item" href="#">Notification 1</a>-->
<!--                        <a class="dropdown-item" href="#">Notification 2</a>-->
<!--                        <a class="dropdown-item" href="#">Notification 3</a>-->
<!--                        <a class="dropdown-item" href="#">Notification 4</a>-->
<!--                        <a class="dropdown-item" href="#">Another notification</a>-->
<!--                    </base-dropdown>-->

                    <li class="nav-item">
                        <a href="#" class="nav-link" @click="logout">
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "NavBarAdmin",
        computed: {
            routeName () {
                const {name} = this.$route;
                return this.capitalizeFirstLetter(name)
            }
        },
        data () {
            return {
                activeNotifications: false
            }
        },
        methods: {
            logout: function(){
                localStorage.clear();
                this.$router.push({path: "/"})
            },
            capitalizeFirstLetter (string) {
                return string.charAt(0).toUpperCase() + string.slice(1)
            },
            toggleNotificationDropDown () {
                this.activeNotifications = !this.activeNotifications
            },
            closeDropDown () {
                this.activeNotifications = false
            },
            toggleSidebar () {
                this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
            },
            hideSidebar () {
                this.$sidebar.displaySidebar(false)
            }
        }
    }
</script>

<style scoped>

</style>