<template>
  <div>
    <card>
      <h4 slot="header" class="card-title">Thông tin tài khoản</h4>
      <form>
        <div class="row">
          <div class="col-md-6">
            <base-input type="text"
                        label="Họ & Tên"
                        placeholder="Họ & Tên"
                        v-model="doctor.name">
            </base-input>
          </div>
          <div class="col-md-6">
            <base-input type="email"
                        label="Email"
                        placeholder="Email"
                        v-model="doctor.email">
            </base-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <base-input type="text"
                        label="Số Điện Thoại"
                        placeholder="Số Điện Thoại"
                        v-model="doctor.phone">
            </base-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <base-input type="text"
                        label="Địa Chỉ"
                        placeholder="Địa Chỉ"
                        v-model="doctor.location">
            </base-input>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="updateProfile">
            Update Profile
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </card>

    <card>
      <h4 slot="header" class="card-title">Thông tin chi tiết</h4>
      <form>
        <div class="row">
          <div class="col-md-1.5">
            <label>Học Hàm: </label>
          </div>
          <div class="col-md-3">
            <label class="container">
              Phó Giáo Sư
              <input type="radio" v-model="doctor.HH" value="Phó Giáo sư" name="HocHam" >
            </label>
          </div>
          <div class="col-md-3">
            <label class="container">
              Giáo Sư
              <input type="radio" v-model="doctor.HH" value="Giáo sư" name="HocHam" >
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1.5">
            <label>Học Vị: </label>
          </div>
          <div class="col-md-2">
            <label class="container">
              Thạc sĩ
              <input type="radio" v-model="doctor.HV" value="Thạc sĩ" name="HocVi" >
            </label>
          </div>
          <div class="col-md-2">
            <label class="container">
              Tiến sĩ
              <input type="radio" v-model="doctor.HV" value="Tiến sĩ" name="HocVi" >
            </label>
          </div>
          <div class="col-md-3">
            <label class="container">
              Chuyên khoa I
              <input type="radio" v-model="doctor.HV" value="Chuyên Khoa I" name="HocVi" >
            </label>
          </div>
          <div class="col-md-3">
            <label class="container">
              Chuyên khoa II
              <input type="radio" v-model="doctor.HV" value="Chuyên Khoa II" name="HocVi" >
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label class="w-100">Chuyên Khoa</label>
            <select v-model="doctor.specialistId" class="dropdown w-100" >
              <option>{{specialist.name}}</option>
              <option disabled>&ndash; Select an Option &ndash;</option>
              <option :value="item.id" :key="index" v-for="(item,index) in dataSpecialist">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <base-input type="number"
                        label="Giá Khám"
                        placeholder="Giá Khám"
                        v-model="doctor.price">
            </base-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Giới Thiệu:</label>
            <vue-editor v-model="doctor.summary"></vue-editor>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="updateProfile">
            Update Profile
          </button>
        </div>
      </form>
    </card>
  </div>


</template>
<script>
  import {specialistService} from "../../../services";
  import Card from '@/components/core/Cards/Card.vue'
  import { VueEditor } from "vue2-editor";

  export default {
    components: {
      Card,
      VueEditor
    },
    props:{
      doctor: Object,
      specialist: Object,
    },
    mounted(){
      this.fetchData();
    },
    data () {
      return {
        dataSpecialist:[],
      }
    },
    methods: {
      updateProfile () {
        this.$emit("updateDoctor",this.doctor);
        // alert('Your data: ' + JSON.stringify(this.doctor))
      },
      fetchData: async function () {
        let dataSpecialist = await specialistService.getSpecialist();
        this.dataSpecialist= dataSpecialist.data;
      }
    }
  }

</script>
<style lang="scss" scoped>
.container{
  input{
    margin-left: 2px;
  }

}
.dropdown{
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  box-shadow: none;
  height: 40px;
  width: 47%;

}

</style>
