<template>
  <card class="card-user">
    <img slot="image" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
    <div class="author">
        <img class="avatar border-gray" :src="doctor.photo" alt="avatar">
      <div class="row">
        <div class="file-upload col-md-12">
          <label for="upload" class="file-upload__label">Upload Image</label>
          <input id="upload" class="file-upload__input" type="file" @change="processFile($event)">
        </div>
      </div>

        <h4 class="title">{{doctor.name}}<br />
          <small>{{doctor.HH}}, {{doctor.HV}}</small>
        </h4>
    </div>
  </card>
</template>
<script>
  import Card from '@/components/core/Cards/Card.vue'
  export default {
    components: {
      Card
    },
    props:{
      doctor: Object,
    },
    data () {
      return {
        file:"",
      }
    },
    methods: {
      processFile: function(event){
        this.file = event.target.files[0];
        let fr = new FileReader();
        fr.onload = () => this.doctor.photo = fr.result;
        fr.readAsDataURL(this.file);
        this.$emit("updatePhoto",this.file);
      },

      getClasses (index) {
        var remainder = index % 3
        if (remainder === 0) {
          return 'col-md-3 col-md-offset-1'
        } else if (remainder === 2) {
          return 'col-md-4'
        } else {
          return 'col-md-3'
        }
      }
    }
  }

</script>
<style lang="scss">
  .file-upload {
    position: relative;
    display: inline-block;
  }

  .file-upload__label {
    display: block;
    padding: 1em 2em;
    font-weight: bold;
    color: #fff;
    background: #000;
    border-radius: .4em;
    transition: background .3s;

    &:hover {
      cursor: pointer;
      background: #525252;
    }
  }

  .file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width:0;
    height: 100%;
    opacity: 0;
  }

</style>
