<template>
  <div class="wrapper">
    <side-bar>
      <mobile-menu slot="content"></mobile-menu>
<!--      <sidebar-link to="/admin/overview">-->
<!--        <i class="nc-icon nc-chart-pie-35"></i>-->
<!--        <p>Dashboard</p>-->
<!--      </sidebar-link>-->
      <sidebar-link to="/doctor/user">
        <i class="nc-icon nc-circle-09"></i>
        <p>Hồ Sơ Bác Sĩ</p>
      </sidebar-link>
      <sidebar-link to="/doctor/list-patient-booked">
        <i class="nc-icon nc-notes"></i>
        <p>Danh Sách Hồ Sơ BN</p>
      </sidebar-link>
      <sidebar-link to="/doctor/schedule">
        <i class="nc-icon nc-paper-2"></i>
        <p>Lịch Khám</p>
      </sidebar-link>
      <sidebar-link to="/doctor/setting-schedule">
        <i class="nc-icon nc-settings-gear-64"></i>
        <p>Cài Đặt Lịch</p>
      </sidebar-link>
<!--      <sidebar-link to="/doctor/notifications">-->
<!--        <i class="nc-icon nc-bell-55"></i>-->
<!--        <p>Notifications</p>-->
<!--      </sidebar-link>-->

    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  .wrapper{
    height: fit-content;
  }
</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './MobileMenu.vue'
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }

</script>
