@include keyframes(placeHolderShimmer){
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

@include keyframes(fadeInTop){
	from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@include keyframes(fadeOutTop){
	from {top: 0; opacity:1}
    to {top:-300px; opacity:0}
}

@include keyframes(wave){
	0%,
    60%,
    100% {@include transform(initial);}
    30% {@include transform(translateY(-15px));}
}

@include keyframes(spin){
	0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

@include keyframes(bounce){
    0%, 20%, 50%, 80%, 100% {top: 0;}
    40% {top: -50px;}
    60% {top: -30px;}
}

@include keyframes(fadeIn){
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@include keyframes(shrinkOut){
    0%{
        @include transform(scale(1,1));
        opacity: 1;
    }
    50%{
        @include transform(scale(0.75,0.5));
    }
    75%{
        @include transform(scale(0.5,0.25));
    }
    100%{
        @include transform(scale(0,0));
        opacity: 0;
    }
}

@include keyframes(popup-in){
    0%{
        @include transform(scale(0));
        opacity: 0;
    }
    50%{
        opacity: .9;
    }
    100%{
        @include transform(scale(1));
        opacity: 1;
    }
}

@include keyframes(blink-dot){
    0%, 100%{
        width: 1rem;
        height: 1rem;
        margin: .5rem;
        background: #ff5348;
    }
    50%{
        width: .6rem;
        height: .6rem;
        margin: .7rem;
        background: #ffe1e6;
    }
}

@include keyframes(roll-in){
    0%{
        transform: translateX(30px) rotateZ(90deg);
    }
    50%{
        transform: translateX(0) rotateZ(90deg);
    }
    100%{
        transform: translateX(0) rotateZ(0);
    }
}

@include keyframes(slide-down){
    0%{
        height: 0;
    }
    80%{
        height: 2rem;
    }
    100%{
        height: 1.8rem;
    }
}

@include keyframes(expand-bouncing){
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.fadeInTop{
    @include animation-name(fadeInTop);
}
.fadeOutTop{
    @include animation-name(fadeOutTop);
}
.bounce{
    @include animation(bounce 1s ease-in-out);
}
.fadeIn{
    @include animation(fadeIn .5s ease-in-out);
}
.fadeOut{
    opacity: 0;
    @include transition(opacity .5s ease-in);
}
.shrinkOut{
    @include transform-origin(top);
    @include animation(shrinkOut .5s ease-in-out);
}

//Transition vue
.popup-enter-active{
    animation: popup-in .1s ease;
}
.popup-leave-active{
    animation: popup-in .1s ease reverse;
}
.roll-enter-active{
    animation: roll-in .4s ease;
}
.roll-leave-active{
    animation: roll-in .4s ease reverse;
}
.slide-enter-active{
    animation: slide-down .3s ease;
}
.slide-leave-active{
    animation: slide-down .3s ease reverse;
}
.expand-enter-active{
    animation: expand-bouncing .2s ease-out;
}
.expand-leave-active{
    animation: expand-bouncing .2s ease-out reverse;
}
