<template>
    <div class="register-admin">
        <label>Name: </label>
        <input type="text" v-model="dataAdmin.name" placeholder="Name">
        <label>Email: </label>
        <input type="text" v-model="dataAdmin.email" placeholder="Email">
        <label>Password: </label>
        <input type="password" v-model="dataAdmin.password" placeholder="Password">
        <button class="btn btn-success" @click="onAddAdmin">Add Admin</button>
        <label class="notify">{{notify}}</label>
    </div>
</template>

<script>
    import {MD5} from "../../utils/MD5";
    import {adminService} from "../../services";

    export default {
        name: "CreateAccount",
        data(){
          return{
              dataAdmin:{},
              notify:"",
          }
        },
        methods:{
            onAddAdmin:async function(){
                if(this.dataAdmin.name.length !== 0 && this.dataAdmin.email.length !== 0 && this.dataAdmin.password.length !== 0){
                    this.notify = "";
                    this.dataAdmin.password = MD5.md5(this.dataAdmin.password);
                    let response = await adminService.addAdmin(this.dataAdmin);
                    if(response.status === 200) this.dataAdmin = {};
                    this.notifyVue("Tạo Tài Khoản Thành Công","success");
                }else{
                    this.notify = "chưa nhập đủ giá trị!"
                }
            },
            notifyVue: function (text,type) {
                this.$notifications.notify(
                    {
                        message: `<span>${text}</span>`,
                        icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
                        horizontalAlign: "right",
                        verticalAlign: "bottom",
                        type: type,
                    })
            },
        }
    }
</script>

<style lang="scss" scoped>
    .register-admin{
        box-shadow: 0 0 5px;
        margin: 3rem auto;
        background-color: #ffffff;
        width: 50%;
        padding: 20px;
        display: grid;
        grid-template-columns: 6rem 24rem;
        grid-gap: 10px;
        input{
            border: none;
            border-bottom: 1px solid #838886;
        }
        .notify{
            color: red;
            grid-column: span 2;
            font-weight: bold;
        }
        .btn{
            margin-top: 20px;
            grid-column: span 2;
        }
    }
</style>