<template>
    <div class="detail-manage-doctor__container">
        <div class="notify-accept" v-if="!dataDoctor.check">
            <div class="title-notify">Đang Chờ Xác Thực</div>
            <div class="button-accept" @click="accept">Accept</div>
        </div>
        <card class="schedule-booking">
            <div
                class="title"
                @click="visibleBooking = !visibleBooking">
                Lịch Khám
            </div>

            <b-collapse id="collapse-4" v-model="visibleBooking" class="mt-2">
                <table >
                    <thead>
                    <tr class="table-headers">
                        <th>ID</th>
                        <th>Ngày</th>
                        <th>Giờ Bắt Đầu Khám</th>
                        <th>Giờ Kết Thúc Khám</th>
                        <th>Tool</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(item,index) in dataBooking" :key="index">
                        <td> {{item.id}}</td>
                        <td class="date">{{item.date}}</td>
                        <th class="mobile-header">Giờ Bắt Đầu Khám</th><td>{{item.time_start}}</td>
                        <th class="mobile-header">Giờ Kết Thúc Khám</th><td>{{item.time_end}}</td>
                        <td class="tool">
                            <b-button class="btn btn-success mr-2" v-b-toggle.sidebar-right @click="View(item.id)">View</b-button>
                            <b-button class="btn btn-danger mr-2" @click="deleteBooking(item)">Delete</b-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </b-collapse>
        </card>
        <card class="schedule-off">
            <div
                class="title"
                @click="visibleOff = !visibleOff">
                Lịch Nghỉ
            </div>

            <b-collapse v-model="visibleOff" class="mt-2">
                <table >
                    <thead>
                    <tr class="table-headers">
                        <th>Ngày</th>
                        <th>Lý do</th>
                        <th>Thời gian</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(item, index) in dataDayOff" :key="index">
                        <td class="date">{{item.date}}</td>
                        <th class="mobile-header">Lý do</th><td>{{item.reason}}</td>
                        <th class="mobile-header">Thời gian</th>
                        <td>
                            <b-badge class="m-1 p-2" variant="primary">{{item.time_start}} - {{item.time_end}}</b-badge>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </b-collapse>
        </card>

        <card class="comment-user">
            <div
                class="title"
                @click="visibleComment = !visibleComment">
                Đánh Giá Của Bệnh Nhân
            </div>

            <b-collapse v-model="visibleComment" class="mt-2">
                <ul class="list-unstyled mt-3 ">
                    <b-media tag="li" class="mb-3" v-for="(item, index) in dataComment" :key="index">
                        <template v-slot:aside>
                            <img class="bg-light" width="64" src="../../assets/svg/interface.svg" alt="...">
                        </template>
                        <h5 class="mt-0 mb-1 name-user">{{item.namePatient}}
                            <span class="button-delete" @click="deleteComment(item.id)">X</span>
                        </h5>
                        <p class="mb-3 comment">
                            {{item.message}}
                        </p>

                    </b-media>

                </ul>
            </b-collapse>
        </card>
        <b-sidebar
            class="slide-info-patient"
            id="sidebar-right"
            title="Thông tin bệnh nhân"
            width="25rem"
            right
            backdrop
            shadow>
            <div class="px-3 py-2">
                <div class="code">Số Đặt Khám: #{{dataView.id}}</div>
                <hr>
                <div class="wrapper-text">
                    <label>Họ tên:</label>
                    <div>{{dataView.name}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Email:</label>
                    <div>{{dataView.email}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Số điện thoại:</label>
                    <div>{{dataView.phone}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Tuổi:</label>
                    <div>{{dataView.old}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Giới tính:</label>
                    <div>{{dataView.sex}}</div>
                </div>
                <hr>
                <label class="w-100">Tiền sử bệnh - Triệu chứng:</label>
                <div>{{dataView.anamnesis}}</div>
                <label>Ghi chú:</label>
                <div>{{dataView.note}}</div>
            </div>
        </b-sidebar>
    </div>
</template>

<script>
    import { BCollapse, BBadge, BMedia, BSidebar  } from 'bootstrap-vue';
    import {bookingService, DayOffService,CommentService,patientService, doctorService,notifyPatientService} from "../../services";

    export default {
        name: "DetailManageDoctor",
        components:{
            BCollapse,
            BMedia,
            BBadge,
            BSidebar
        },
        mounted(){
            this.fetchData();
        },
        data(){
            return{
                dataDoctor:{},
                dataView:{},
                dataBooking: {},
                dataDayOff: {},
                dataComment: {},
                visibleBooking: false,
                visibleOff: false,
                visibleComment: false
            }
        },
        methods:{
            deleteBooking : async function(data){
                await bookingService.deleteBooking(data.id);
                this.notifyVue("Xóa lịch đặt thành công","success");
                if(data.follow_up_examination){
                    await notifyPatientService.postNotify({
                        message: `Lịch có mã #${data.id} đã bị hủy`,
                        patientId: data.patientId,
                        type:"TK",
                    });
                }else{
                    await notifyPatientService.postNotify({
                        message: `Lịch có mã #${data.id} đã bị hủy`,
                        patientId: data.patientId,
                        type:"L",
                    });
                }
                await this.fetchData();
            },
            deleteComment: async function(id){
                await CommentService.deleteComment(id);
                this.notifyVue("Xóa comment thành công","success")
                await this.fetchData();
            },
            accept: async function(){
                this.dataDoctor.check = true;
                await doctorService.updateDoctor(this.dataDoctor);
                this.notifyVue("Đã xác nhận bác sĩ","success")
            },
            notifyVue: function (text,type) {
                this.$notifications.notify(
                    {
                        message: `<span>${text}</span>`,
                        icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
                        horizontalAlign: "right",
                        verticalAlign: "bottom",
                        type: type,
                    })
            },
            View: async function(id){
                let dataBooking = await bookingService.getBookingById(id);
                console.log(dataBooking.data)
                this.dataView = dataBooking.data[0];
            },
            fetchData: async function () {
                let dataDoctor = await doctorService.getDoctorByID(this.$route.params.id)
                let dataBooking = await bookingService.getBookingByDoctor(this.$route.params.id);
                let dataDayOff = await DayOffService.getDayOffInDoctor(this.$route.params.id);
                let dataComment = await CommentService.getCommentByIdDoctor(this.$route.params.id);
                for( let comment of dataComment.data){
                    let patient = await patientService.getPatient(comment.patientId);
                    comment.namePatient = patient.data.name;
                }
                this.dataDoctor = dataDoctor.data;
                this.dataBooking = dataBooking.data;
                this.dataDayOff = dataDayOff.data;
                this.dataComment = dataComment.data;

            }
        }
    }
</script>

<style lang="scss" scoped>
.detail-manage-doctor__container{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 20px 2rem;
    .notify-accept{
        display: flex;
        background-color: #F5F7FA;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        padding: 10px;
        margin: 30px 0;
        align-items: center;
        .title-notify{
            font-size: 20px;
            font-weight: bold;
            color: #337ab7;
        }
        .button-accept{
            cursor: pointer;
            margin-left: auto;
            border-radius: 10px;
            background-color: #4a9200;
            color: #fff;
            width: 5rem;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            &:hover{
                background-color: #62b200;
            }
        }
    }
    .title{
        font-weight: bold;
        font-size: 20px;
        color: #337ab7;
        cursor: pointer;
    }
    .schedule-booking{

    }
    .date{
        min-width: 6rem;
    }
    .tool{
        min-width: 11.5rem;
    }
    .slide-info-patient{
        .code{
            font-weight: bold;
            font-size: 20px;
            color: #1D62F0;
        }
        .wrapper-text{
            display: flex;
        }
        label{
            font-weight: bold;
            width: 7rem;
            font-size: 18px;
        }
    }
    .comment-user{
        .name-user{
            font-family: 'Baloo Bhai 2', cursive;
            font-weight: bold;
            font-size: 20px;
            .button-delete{
                background-color: #bb0502;
                color: #fff;
                cursor: pointer;
                border-radius: 50%;
                padding: 2px 7px;
                font-size: 10px;
                position: relative;
                bottom: 5px;
                border: 1px solid #dd4b39;
                &:hover{
                    background-color: #fff;
                    color: #bb0502;
                    border: 1px solid #dd4b39;
                }
            }
        }
        .comment{
            font-family: 'Baloo Bhai 2', cursive;
        }

    }
    table{
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        overflow: hidden;

        td, th{
            border-top: 1px solid #ECF0F1;
            padding: 10px;
        }


        th{
            color: #fff;
            background-color: #343a40;
            border-color: #454d55
        }

        tr:nth-of-type(even) td{
            background-color: #f2f2f2;
        }

        .total{
            th{
                background-color: white;
            }

            td{
                text-align: right;
                font-weight: 700;
            }
        }
    }

    .mobile-header{
        display: none;
    }

    @media only screen and (max-width: 760px){
        p{
            display: block;
            font-weight: bold;
        }

        table{
            tr{
                td:not(:first-child), th:not(:first-child), td:not(.tool-val){
                    display: none;
                }

                &:nth-of-type(even) td:first-child{
                    background-color: #f2f2f2;
                }
                &:nth-of-type(odd) td:first-child{
                    background-color: white;
                }

                &:nth-of-type(even) td:not(:first-child){
                    background-color: white;
                }

                th:first-child{
                    width: 100%;
                    display:block;
                }

                th:not(:first-child){
                    width: 40%;
                    transition: transform 0.4s ease-out;
                    transform:translateY(-9999px);
                    position: relative;
                    z-index: -1;
                }

                td:not(:first-child){
                    transition: transform 0.4s ease-out;
                    transform:translateY(-9999px);
                    width: 60%;
                    position: relative;
                    z-index: -1;
                }

                td:first-child{
                    display: block;
                    cursor: pointer;
                }

            }
        }
    }

    @media only screen and (max-width: 300px){
        table{
            tr{
                th:not(:first-child){
                    width: 50%;
                    font-size: 14px;
                }

                td:not(:first-child){
                    width: 50%;
                    font-size: 14px;
                }
            }
        }
    }
}
</style>