<template>
    <div class="manage-specialist__container">
        <card class="add-specialist">
            <div class="row">
                <div class="col-2 wrapper-img">
                    <img :src="dataUpload.img" class="picture-specialist" alt="...">
                </div>
                <div class="col-8 m-auto">
                    <input @change="processFile($event)" type="file">
                    <base-input label="Tên Khoa"
                                placeholder="Tên Khoa"
                                v-model="dataUpload.name"
                                type="text">
                    </base-input>
                    <button class="btn btn-primary" @click="addData">Add</button>
                </div>
            </div>

        </card>
        <card class="card-list">
            <table>
                <thead>
                <tr class="table-headers">
                    <th>Tên Khoa</th>
                    <th>Số Bác Sĩ</th>
                    <th>Tool</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in dataSpecialist" :key="index">
                    <td>{{item.name}}</td>
                    <th class="mobile-header">Số Bác Sĩ</th>
                    <td>{{item.numDoctor}} Bác Sĩ</td>
                    <td>
                        <div class="btn btn-primary" v-b-toggle.sidebar-backdrop @click="edit(item)">Edit</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </card>

        <b-sidebar
            id="sidebar-backdrop"
            backdrop
            right
            shadow
        >
            <div class="edit-data">
                <img :src="dataEdit.img" alt="..." class="picture-specialist">
                <input @change="processFileEdit($event)" ref="inputEdit" type="file">
                <base-input label="Tên Khoa"
                            placeholder="Tên Khoa"
                            type="text"
                            v-model="dataEdit.name">
                </base-input>
                <button class="btn btn-primary" @click="uploadData">Upload</button>
            </div>
        </b-sidebar>
    </div>

</template>

<script>
    import {specialistService, uploadService} from "../../services";

    export default {
        name: "ManageSpecialist",
        data(){
            return{
                dataSpecialist:{},
                dataUpload: {
                    name:"",
                    img:"http://localhost:3000/api/uploads/image/download/Logo.png",
                },
                file: {},
                fileEdit: {},
                dataEdit: {},
            }
        },
        mounted(){
            this.fetchData();
        },
        methods:{
            edit: function(data){
                this.dataEdit = data;
                this.$refs.inputEdit.value = "";
            },
            notifyVue: function (text,type) {
                this.$notifications.notify(
                    {
                        message: `<span>${text}</span>`,
                        icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
                        horizontalAlign: "right",
                        verticalAlign: "bottom",
                        type: type,
                    })
            },
            uploadData: async function(){
                if(this.$refs.inputEdit.value.length === 0){
                    await specialistService.updateSpecialty({
                        id: this.dataEdit.id,
                        name: this.dataEdit.name,
                        img: this.dataEdit.img,
                    });
                    this.notifyVue("Cập nhật thông tin thành công","success");
                    this.fetchData();
                }else{
                    await uploadService.postFileImg(this.fileEdit);
                    this.dataEdit.img = `http://localhost:3000/api/uploads/image/download/${this.fileEdit.name}`;
                    await specialistService.updateSpecialty({
                        id: this.dataEdit.id,
                        name: this.dataEdit.name,
                        img: this.dataEdit.img,
                    });
                    this.notifyVue("Cập nhật thông tin thành công","success");
                    this.fetchData();
                }
            },
            addData: async function(){
                if(this.file.length !== 0 && this.dataUpload.name.length !==0){
                    await uploadService.postFileImg(this.file);
                    this.dataUpload.img = `http://localhost:3000/api/uploads/image/download/${this.file.name}`;
                    await specialistService.postSpecialty({
                        name: this.dataUpload.name,
                        img: this.dataUpload.img,
                    });
                    this.dataUpload.name ="";
                    this.dataUpload.img = "http://localhost:3000/api/uploads/image/download/Logo.png";
                    this.notifyVue("Cập nhật thông tin thành công","success");
                    this.fetchData();
                }
            },
            processFileEdit: function(event){
                this.fileEdit = event.target.files[0];
                let fr = new FileReader();
                fr.onload = () => this.dataEdit.img = fr.result;
                fr.readAsDataURL(this.fileEdit);
            },
            processFile: function(event){
                this.file = event.target.files[0];
                let fr = new FileReader();
                fr.onload = () => this.dataUpload.img = fr.result;
                fr.readAsDataURL(this.file);
            },
            fetchData: async function () {
                let dataSpecialist = await specialistService.getSpecialist();
                for(let specialist of dataSpecialist.data){
                    let numDoctor = await specialistService.countDoctorInSpecialty(specialist.id);
                    specialist.numDoctor = numDoctor.data.count;
                }
                this.dataSpecialist = dataSpecialist.data;
            }
        }
    }
</script>

<style lang="scss" scoped>
.manage-specialist__container{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 20px 7rem;
    .edit-data{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            width: 10rem;
            height: 10rem;
            margin:  20px auto;
        }
    }
    .add-specialist{
        display: flex;
        .wrapper-img{
        }
        img{
            border: 1px solid #838886;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            margin-right: 20px;
            /*background-color: #838886;*/
        }
        .wrapper-input{
            display: flex;
            flex-direction: column;
        }
        /*input{*/
        /*    display: block;*/
        /*}*/
    }
    .card-list{
        table{
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            overflow: hidden;

            td, th{
                border-top: 1px solid #ECF0F1;
                padding: 10px;
            }


            th{
                color: #fff;
                background-color: #343a40;
                border-color: #454d55
            }

            tr:nth-of-type(even) td{
                background-color: #f2f2f2;
            }

            .total{
                th{
                    background-color: white;
                }

                td{
                    text-align: right;
                    font-weight: 700;
                }
            }
        }

        .mobile-header{
            display: none;
        }

        @media only screen and (max-width: 760px){
            p{
                display: block;
                font-weight: bold;
            }

            table{
                tr{
                    td:not(:first-child), th:not(:first-child), td:not(.tool-val){
                        display: none;
                    }

                    &:nth-of-type(even) td:first-child{
                        background-color: #f2f2f2;
                    }
                    &:nth-of-type(odd) td:first-child{
                        background-color: white;
                    }

                    &:nth-of-type(even) td:not(:first-child){
                        background-color: white;
                    }

                    th:first-child{
                        width: 100%;
                        display:block;
                    }

                    th:not(:first-child){
                        width: 40%;
                        transition: transform 0.4s ease-out;
                        transform:translateY(-9999px);
                        position: relative;
                        z-index: -1;
                    }

                    td:not(:first-child){
                        transition: transform 0.4s ease-out;
                        transform:translateY(-9999px);
                        width: 60%;
                        position: relative;
                        z-index: -1;
                    }

                    td:first-child{
                        display: block;
                        cursor: pointer;
                    }

                }
            }
        }

        @media only screen and (max-width: 300px){
            table{
                tr{
                    th:not(:first-child){
                        width: 50%;
                        font-size: 14px;
                    }

                    td:not(:first-child){
                        width: 50%;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
</style>