<template>
    <div class="manage-patient__container">
        <card class="card-list">
            <template slot="header">
                <h4 class="card-title mb-2">Danh sách bệnh nhân đã đặt lịch</h4>
                <div class="search__wrapper">
                    <div class="dropdown-search">Patient</div>
                    <input class="input-search" placeholder="Search" type="text" v-model="searchNamePatient">
                    <div @click="searchPatient" class="button-search">
                        <img alt="search" src="../../assets/svg/search.svg">
                    </div>
                </div>
            </template>
        <table>
            <thead>
            <tr class="table-headers">
                <th>Tên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Tool</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in dataPatient" :key="index">
                <td>{{item.name}}</td>
                <th class="mobile-header">Email</th>
                <td>{{item.email}}</td>
                <th class="mobile-header">SĐT</th>
                <td>{{item.phone}}</td>
                <td>
                    <div class="btn btn-primary mr-2" v-b-toggle.sidebar-right @click="view(item)">view</div>
                    <div class="btn btn-danger" @click="DeletePatient(item)">Delete</div>
                </td>
            </tr>
            </tbody>
        </table>
    </card>
        <b-sidebar
            title="Thông tin bệnh nhân"
            class="slide-info-patient"
            id="sidebar-right"
            width="25rem"
            right
            backdrop
            shadow>
            <div class="px-3 py-2">
                <div class="wrapper-text">
                    <label>Họ tên:</label>
                    <div>{{dataView.name}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Email:</label>
                    <div>{{dataView.email}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Số điện thoại:</label>
                    <div>{{dataView.phone}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Tuổi:</label>
                    <div>{{dataView.old}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Giới tính:</label>
                    <div>{{dataView.sex}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Địa chỉ:</label>
                    <div>{{dataView.location_detail}}, {{dataView.district}}, {{dataView.province}}</div>
                </div>


            </div>
        </b-sidebar>
    </div>
</template>

<script>
    import {bookingService, CommentService, notifyPatientService, patientService} from "../../services";

    export default {
        name: "ManagePatient",
        data(){
          return {
              dataPatient:{},
              dataView: {},
              searchNamePatient: "",
          }
        },
        mounted(){
            this.fetchData();
        },
        methods:{
            DeletePatient:async function(data){
                await patientService.deletePatient(data.id)
                let dataBooking = await bookingService.getBookingInPatient(data.id);
                let dataComment = await CommentService.getCommentByIdPatient(data.id);
                let dataNotify = await notifyPatientService.getNotify(data.id);
                for( let booking of dataBooking.data){
                    await bookingService.deleteBooking(booking.id);
                }
                for(let comment of dataComment.data){
                    await CommentService.deleteComment(comment.id);
                }
                for(let notify of dataNotify.data){
                    await notifyPatientService.deleteNotify(notify.id);
                }
                this.notifyVue("Đã xóa bệnh nhân thành công!","success");
                await this.fetchData();
            },
            notifyVue: function (text,type) {
                this.$notifications.notify(
                    {
                        message: `<span>${text}</span>`,
                        icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
                        horizontalAlign: "right",
                        verticalAlign: "bottom",
                        type: type,
                    })
            },
            view: function(data){
                this.dataView = data;
            },
            fetchData:async function () {
                let dataPatient;
                if(this.searchNamePatient.length !== 0){
                    dataPatient = await patientService.searchPatient(this.searchNamePatient);
                }else{
                    dataPatient = await patientService.getAllPatient();
                }
                this.dataPatient = dataPatient.data;
            },
            searchPatient: function () {
                this.fetchData();
            }
        }
    }
</script>

<style lang="scss" scoped>
.manage-patient__container{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 10px;
    .wrapper-text{
        align-items: center;
        display: flex;
        input{
            border: none;
            margin-bottom: 10px;
        }
    }
    .search__wrapper{
        display: flex;
        height: 3.5rem;
        box-shadow: 0 0 5px;
        border-radius: 10px;
        overflow: hidden;
        .dropdown-search{
            text-align: center;
            line-height: 3.5rem;
            font-size: 20px;
            text-transform: uppercase;
            width: 20%;
            border: none;
            padding-left: 10px;
            border-right: 1px solid #e5e5e5;
        }
        .input-search{
            width: 75%;
            border: none;
            border-right: 1px solid #e5e5e5;
            padding-left: 20px;
        }
        .button-search{
            width: 5rem;
            display: flex;
            justify-content: center;
            background-color: #ffffff;
            align-items: center;
            cursor: pointer;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
    label{
        font-weight: bold;
        width: 10rem;
        font-size: 18px;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        overflow: hidden;

        td, th{
            border-top: 1px solid #ECF0F1;
            padding: 10px;
        }


        th{
            color: #fff;
            background-color: #343a40;
            border-color: #454d55
        }

        tr:nth-of-type(even) td{
            background-color: #f2f2f2;
        }

        .total{
            th{
                background-color: white;
            }

            td{
                text-align: right;
                font-weight: 700;
            }
        }
    }

    .mobile-header{
        display: none;
    }

    @media only screen and (max-width: 760px){
        p{
            display: block;
            font-weight: bold;
        }

        table{
            tr{
                td:not(:first-child), th:not(:first-child), td:not(.tool-val){
                    display: none;
                }

                &:nth-of-type(even) td:first-child{
                    background-color: #f2f2f2;
                }
                &:nth-of-type(odd) td:first-child{
                    background-color: white;
                }

                &:nth-of-type(even) td:not(:first-child){
                    background-color: white;
                }

                th:first-child{
                    width: 100%;
                    display:block;
                }

                th:not(:first-child){
                    width: 40%;
                    transition: transform 0.4s ease-out;
                    transform:translateY(-9999px);
                    position: relative;
                    z-index: -1;
                }

                td:not(:first-child){
                    transition: transform 0.4s ease-out;
                    transform:translateY(-9999px);
                    width: 60%;
                    position: relative;
                    z-index: -1;
                }

                td:first-child{
                    display: block;
                    cursor: pointer;
                }

            }
        }
    }

    @media only screen and (max-width: 300px){
        table{
            tr{
                th:not(:first-child){
                    width: 50%;
                    font-size: 14px;
                }

                td:not(:first-child){
                    width: 50%;
                    font-size: 14px;
                }
            }
        }
    }
}
</style>