<template>
    <card class="list-doctor__container">
        <template slot="header">
            <h4 class="card-title mb-2">Danh sách bác sĩ</h4>
            <div class="search__wrapper">
                <select class="dropdown-search" v-model="typeSearch">
                    <option value="Doctor">Doctor</option>
                    <option value="Specialist Medium">Specialist Medium</option>
                </select>
                <input class="input-search" placeholder="Search" type="text" v-model="textSearch">
                <div @click="searchDoctor" class="button-search">
                    <img alt="search" src="../../assets/svg/search.svg">
                </div>
            </div>
        </template>
        <table >
            <thead>
            <tr class="table-headers">
                <th>Tên</th>
                <th>Email</th>
                <th>Khoa</th>
                <th>Xác Thực</th>
                <th>Tool</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in dataDoctor" :key="index">
                <td>{{item.name}}</td>
                <th class="mobile-header">Email</th><td>{{item.email}}</td>
                <th class="mobile-header">Khoa</th><td>{{item.nameSpecialist}}</td>
                <th class="mobile-header">Xác Thực</th>
                    <td>
                        <b-badge v-if="item.check" class="m-1 p-2" variant="success">Đã Xác Thực</b-badge>
                        <b-badge v-if="!item.check" class="m-1 p-2" variant="warning">Chờ Xác Thực</b-badge>
                    </td>
                <td>
                    <router-link class="btn btn-success mr-2" tag="div" :to="{ name: 'Detail Manage Doctor', params: { id: item.id }}">
                        View
                    </router-link>
                    <div class="btn btn-danger" @click="deleteDoctor(item.id)">Delete</div>
                </td>
            </tr>
            </tbody>
        </table>
    </card>
</template>

<script>
    import {
        bookingService,
        DayOffService,
        doctorService,
        notifyPatientService,
        specialistService
    } from "../../services";
    import SpecialistBooking from "../Patient/SpecialistBooking";

    export default {
        name: "ManageDoctor",
        mounted(){
            this.fetchData();
        },
        data(){
          return{
              dataDoctor:{},
              textSearch: "",
              typeSearch: "Doctor",
          }
        },
        methods:{
            deleteDoctor: async function(id){
                await doctorService.deleteDoctor(id);
                let dataDayOff = await DayOffService.getDayOffInDoctor(id);
                let dataBooking = await bookingService.getBookingByDoctor(id);
                for (let dayOff of dataDayOff.data){
                    await DayOffService.deleteDayOff(dayOff.id);
                }
                for (let booking of dataBooking.data){
                    await bookingService.deleteBooking(booking.id);
                    if(booking.follow_up_examination){
                        await notifyPatientService.postNotify({
                            message: `Lịch tái khám có mã #${booking.id} đã bị hủy `,
                            patientId: booking.patientId,
                            type: 'TK',
                        })
                    }else{
                        await notifyPatientService.postNotify({
                            message: `Lịch có mã #${booking.id} đã bị hủy `,
                            patientId: booking.patientId,
                            type: 'L',
                        })
                    }

                }
                this.fetchData();
                this.notifyVue("Đã xóa bác sĩ thành công!","success")
            },
            notifyVue: function (text,type) {
                this.$notifications.notify(
                    {
                        message: `<span>${text}</span>`,
                        icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
                        horizontalAlign: "right",
                        verticalAlign: "bottom",
                        type: type,
                    })
            },
            fetchData:async function () {
                let dataDoctor;
                if(this.textSearch.length !== 0){
                    if(this.typeSearch === "Doctor"){
                        dataDoctor = await doctorService.searchDoctor(this.textSearch);
                    }else if(this.typeSearch === "Specialist Medium"){
                        let templateDoctor = {
                            data:[],
                        };
                        let dataSpecialist = await specialistService.searchSpecialist(this.textSearch);
                        for(let doctorToSpecialist of dataSpecialist.data){
                            let doctorBySpecialist = await specialistService.getDoctorInSpecialist(doctorToSpecialist.id);
                            if(doctorBySpecialist.data.length !== 0){
                                templateDoctor.data.push(...doctorBySpecialist.data);
                            }
                        }
                        dataDoctor = templateDoctor;
                    }
                } else {
                    dataDoctor = await doctorService.getDoctor();
                }

                for(let doctor of dataDoctor.data){
                    let specialist = await specialistService.getSpecialistById(doctor.specialistId);
                    doctor.nameSpecialist = specialist.data.name;
                }
                this.dataDoctor = dataDoctor.data;
            },
            searchDoctor: function () {
                this.fetchData();
            }
        }
    }
</script>

<style lang="scss" scoped>
.list-doctor__container{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 10px;
    .search__wrapper{
        display: flex;
        height: 3.5rem;
        box-shadow: 0 0 5px;
        border-radius: 10px;
        overflow: hidden;
        .dropdown-search{
            text-align: center;
            line-height: 3.5rem;
            font-size: 20px;
            text-transform: uppercase;
            width: 20%;
            border: none;
            padding-left: 10px;
            border-right: 1px solid #e5e5e5;
        }
        .input-search{
            width: 75%;
            border: none;
            border-right: 1px solid #e5e5e5;
            padding-left: 20px;
        }
        .button-search{
            width: 5rem;
            display: flex;
            justify-content: center;
            background-color: #ffffff;
            align-items: center;
            cursor: pointer;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
    table{
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        overflow: hidden;

        td, th{
            border-top: 1px solid #ECF0F1;
            padding: 10px;
        }


        th{
            color: #fff;
            background-color: #343a40;
            border-color: #454d55
        }

        tr:nth-of-type(even) td{
            background-color: #f2f2f2;
        }

        .total{
            th{
                background-color: white;
            }

            td{
                text-align: right;
                font-weight: 700;
            }
        }
    }

    .mobile-header{
        display: none;
    }

    @media only screen and (max-width: 760px){
        p{
            display: block;
            font-weight: bold;
        }

        table{
            tr{
                td:not(:first-child), th:not(:first-child), td:not(.tool-val){
                    display: none;
                }

                &:nth-of-type(even) td:first-child{
                    background-color: #f2f2f2;
                }
                &:nth-of-type(odd) td:first-child{
                    background-color: white;
                }

                &:nth-of-type(even) td:not(:first-child){
                    background-color: white;
                }

                th:first-child{
                    width: 100%;
                    display:block;
                }

                th:not(:first-child){
                    width: 40%;
                    transition: transform 0.4s ease-out;
                    transform:translateY(-9999px);
                    position: relative;
                    z-index: -1;
                }

                td:not(:first-child){
                    transition: transform 0.4s ease-out;
                    transform:translateY(-9999px);
                    width: 60%;
                    position: relative;
                    z-index: -1;
                }

                td:first-child{
                    display: block;
                    cursor: pointer;
                }

            }
        }
    }

    @media only screen and (max-width: 300px){
        table{
            tr{
                th:not(:first-child){
                    width: 50%;
                    font-size: 14px;
                }

                td:not(:first-child){
                    width: 50%;
                    font-size: 14px;
                }
            }
        }
    }
}
</style>