<template>
  <table class="table">
    <thead>
      <slot name="columns">
        <tr>
          <th v-for="column in columns" :key="column">{{column}}</th>
          <th>Tool</th>
        </tr>
      </slot>
    </thead>
    <tbody>
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="column in columns" :key="column" v-if="hasValue(item, column)">
          <BBadge v-if="itemValue(item, column) === true" variant="warning "> Tái khám</BBadge>
          <BBadge v-else-if="itemValue(item, column) === false" variant="primary"> Khám một lần</BBadge>
          <div v-else >{{itemValue(item, column)}} </div>
        </td>
        <td>
          <div class="btn btn-primary mr-2" v-if="stateSchedule === 'CalendarNextDay' || stateSchedule === 'CalendarProfile'">view</div>
          <div class="btn btn-success mr-2" v-if="stateSchedule === 'CalendarProfile'" >Tạo Tái Khám</div>
          <div class="btn btn-danger mr-2" v-if="stateSchedule === 'CalendarOffDay'">Delete</div>
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
  import {BBadge} from 'bootstrap-vue'
  export default {
    name: 'l-table',
    components:{
      BBadge
    },
    props: {
      stateSchedule: String,
      columns: Array,
      data: Array
    },
    methods: {
      hasValue (item, column) {
        return item[column.toLowerCase()] !== 'undefined'
      },
      itemValue (item, column) {
        return item[column.toLowerCase()]
      }
    }
  }
</script>
<style>
</style>
