<template>
    <div class="booking-doctor__container">
        <div class="profile-doctor__wrapper">
            <div class="info-doctor">
                <img class="avatar" :src="listItemDoctor.photo" alt="doctor">
                <div @click="()=>{this.$emit('handleShowModalInfor',listItemDoctor.id)}" class="name">{{listItemDoctor.name}}</div>
            </div>
            <p class="detail-doctor">
                <span v-html="listItemDoctor.summary"></span>
            </p>
            <div class="location-province">
                <img src="../assets/svg/location.svg" alt="location">
                {{listItemDoctor.location}}
            </div>
        </div>
        <div class="booking__wrapper">
            <div class="time-booking">
                <div class="date">
                    <label>NGÀY: </label>
                    {{listItemDoctor.date}}
                </div>
                <div class="list-time" >
                    <div :class="['item-time-booking',{'disable': checkDisable(item)}]"
                         :key="index" v-for="(item,index) in listItemDoctor.time_booking"
                         @click="changeStateShowModal(item)"
                    >{{item.time}}</div>
                </div>
                <div class="tutorial-booking">Chọn các mục phía trên và đặt (miễn phí)</div>
            </div>
            <div class="price">
                <label>PHÍ KHÁM: </label>
                {{listItemDoctor.price}}<sup>đ</sup>
            </div>
        </div>
    </div>
</template>

<script>
    import {scheduleService} from "../services";

    export default {
        name: "BookingDoctor",
        components:{},
        props:{
            listItemDoctor: Object,
            isShowCheckBooking: Boolean,
            listBookingPatient: Array,
        },
        data(){
            return{
                // limitB :false,
            }
        },
        mounted(){
            // console.log(this.listItemDoctor);
        },
        computed:{

        },
        methods:{
            checkDisable:function(item){
                // this.checkLimit(item);
                // if(this.limitB) return true;
                if(item.full) return true;
                else if(localStorage.getItem("typeUser") !== "Patient"){
                    return true;
                }else{
                    for(let i = 0; i < this.listBookingPatient.length; i++ ){
                        if(this.listBookingPatient[i].scheduleId === item.id ) {
                            return true;
                        }
                    }
                    return false;
                }
            },
            changeStateShowModal:function (item) {
                if(!this.checkDisable(item)){
                    this.$emit('timeSelect',item.id,this.listItemDoctor.id);
                    this.$emit('changeStateShowModal');
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
@import "./../assets/scss/helper";
.booking-doctor__container{
    box-shadow: 0 0 5px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    user-select: none;
    margin: 20px auto;
    @include Responsive(M){
        flex-direction: column;
    }
    .profile-doctor__wrapper{
        border-right: 1px solid #eee;
        margin-right: 10px;
        width: 60%;
        @include Responsive(M){
            border-right: none;
            margin-right: 0px;
            width: 100%;
        }
        .info-doctor{
            display: flex;
            align-items: center;
            .avatar{
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
            }
            .name{
                margin-left: 10px;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    color: #337ab7;

                }
            }
        }
        .detail-doctor{
            font-weight: bold;
            margin: 10px;
            white-space: pre-line;
        }
        .location-province{
            margin: 0 10px;
            color: #838886;
            display: flex;
            align-items: baseline;
            >img{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
        }
    }
    .booking__wrapper{
        @include Responsive(M){
            margin-top: 10px;
            border-top: 1px solid #eee;
            padding-top: 5px;
            width: 100%;
        }
        width: 40%;
        font-weight: bold;
        .time-booking{
            .date{
                color: #337ab7;
                >label{
                    color: #525252;
                }
            }
            .list-time{
                display: flex;
                flex-wrap: wrap;

                .item-time-booking{
                    &.disable{
                        background: #8D8D8D;
                    }
                    width: 7rem;
                    margin: 5px;
                    line-height: 40px;
                    height: 40px;
                    border-radius: 5px;
                    background: #4CAF50;
                    display: inline-block;
                    vertical-align: middle;
                    white-space: nowrap;
                    text-align: center;
                    color: #fff;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover{
                        color: #333;
                        background: #eee;
                    }
                }
            }
            .tutorial-booking{

            }
        }
        .price{
            margin-top: 10px;
            border-top: 1px solid #eee;
            padding-top: 5px;
            color: #337ab7;
            >label{
                color: #525252;
            }
        }
    }
}
</style>