<template>
    <div class="Contact__container" id="contact">
        <h1>Contact</h1>
        <form class="cf">
            <div class="half left cf">
                <input type="text" id="input-name" v-model="dataSupport.name" placeholder="Name">
                <input type="email" id="input-email" v-model="dataSupport.email" placeholder="Email address">
                <input type="text" id="input-subject" v-model="dataSupport.phone" placeholder="Phone Number">
            </div>
            <div class="half right cf">
                <textarea name="message" v-model="dataSupport.message" type="text" id="input-message" placeholder="Message"></textarea>
            </div>
            <div style="color: red; font-weight: bold; ">{{notify}}</div>
            <input type="button" value="Submit" id="input-submit" @click="postMessage">
        </form>
    </div>
</template>

<script>
    import {supportService} from "../services";

    export default {
        name: "Contact",
        data(){
            return{
                dataSupport:{
                    name:"",
                    email:"",
                    phone:"",
                    message:"",
                },
                notify: "",
            }
        },
        methods:{
            postMessage: async function () {
                if(this.dataSupport.name.length !== 0 && this.dataSupport.email.length !== 0 && this.dataSupport.phone.length !== 0 &&this.dataSupport.message.length !== 0 ){
                    await supportService.postSupport(this.dataSupport);
                    this.notify = "";
                    this.dataSupport.name = "";
                    this.dataSupport.email = "";
                    this.dataSupport.phone = "";
                    this.dataSupport.message = "";
                }else{
                    this.notify = "chưa nhập đủ thông tin!";
                }

            }
        }
    }
</script>

<style scoped lang="scss">
    @import "./../assets/scss/helper";
    .Contact__container{
        padding: 5rem 0;
        h1 {
            text-align: center;
            text-shadow: 1px 1px 0 rgba(white, 1);
            font-weight: 700;
            color: #777;
        }
        form {
            width: 70%;
            text-align: center;
            margin: 20px auto;
            input, textarea {
                border:0; outline:0;
                padding: 1em;
                border-radius: 8px;
                display: block;
                width: 100%;
                margin-top: 1em;
                font-family: 'Merriweather', sans-serif;
                box-shadow: 0 0 5px rgba(black, 0.3);
                resize: none;

                &:focus {
                    box-shadow: 0 0 2px rgba(#e74c3c, 1)!important;
                }
            }
            #input-submit {
                color: white;
                background: #e74c3c;
                cursor: pointer;

                &:hover {
                    box-shadow:0 1px 1px 1px rgba(#a8a8a8, 0.6) ;
                }
            }
            textarea {
                height: 200px;
            }
        }
        .half {
            float: left;
            width: 48%;
            margin-bottom: 1em;
            @include Responsive(M) {
                width: 100%;
                float: none;
                margin-bottom: 0;
            }
        }


        .right {
            width: 50%;
            @include Responsive(M) {
                width: 100%;
            }
        }

        .left {
            margin-right: 2%;
        }
        .cf:before,
        .cf:after {
            content: " ";
            display: table;
        }
        .cf:after {
            clear: both;
        }
    }
</style>