<template>
    <div class="Introduce__container" id="introduce">
        <h1>Tại sao nên chọn BookingCare?</h1>
        <div>BookingCare là nền tảng đặt lịch khám bệnh đầu tiên tại Việt Nam có định hướng kết nối bệnh nhân, bác sĩ,
            và cơ sở y tế, hỗ trợ đặt lịch khám miễn phí.
        </div>
        <div class="info">
            <div class="info-save-time block">
                <img alt="clock" src="./../assets/svg/clock-regular.svg">
                Đặt lịch dễ dàng <br/>
                Tiết kiệm thời gian
            </div>
            <div class="info-safe-doctor block">
                <img alt="doctor" src="./../assets/svg/doctor.svg">
                Thông tin chính xác <br/>
                Bác sĩ uy tín
            </div>
            <div class="book-free block">
                <img alt="check" src="./../assets/svg/check-solid.svg">
                Đặt lịch miễn phí <br/>
                24/7
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Introduce"
    }
</script>

<style scoped lang="scss">
    @import "./../assets/scss/helper";
    .Introduce__container {
        padding: 5rem 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        width: 80%;
        margin: auto;
        @include Responsive(M) {
            font-size: 3vw;
        }
        h1{
            margin: 20px auto;
            text-align: center;
            font-weight: 700;
            color: #777;
        }
        .info {
            display: flex;
            justify-content: space-evenly;

            .block {
                font-size: 1rem;
                img {
                    width: 100%;
                    height: 3rem;
                    margin: 1rem auto;
                }
            }
        }
    }

</style>