<template>
    <div class="item-user__container" @click="()=>{this.$emit('userClick', this.profileUser)}">
        {{profileUser.name}}
    </div>
</template>

<script>
    export default {
        name: "ItemUser",
        props:{
            profileUser: Object,
        },
        methods:{
        }
    }
</script>

<style lang="scss" scoped>
    .item-user__container{
        padding: 5px 10px;
        background: #ccc;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.3s;
        box-shadow: 0 0 5px #ccc;
        cursor: pointer;
        margin: 5px 0px;
        &:hover{
            background: #7b7b7b;
            color: #fff;
        }
    }
</style>