<template>
    <div class="item-date__container">
        <div class="item-header">
            <div class="date">Date: {{Booking.date}}</div>
            <div class="wrapper-button">
                <div class="btn btn-success" title="add-time" @click="()=>{this.$emit('addTime',Booking.date)}">+</div>
                <div class="btn btn-danger" title="delete" @click="deleteDate">Delete</div>
            </div>
        </div>
        <div class="time-wrapper">
            <TimeItem :key="index"
                      :time="item" v-for="(item, index) in Booking.time"
                      @listUserBooking="listUserBooking"
                      @editTime="editTime"
                      @deleteTime="deleteTime"
            />
        </div>
    </div>
</template>

<script>
    import TimeItem from "./TimeItem";
    export default {
        name: "ItemDate",
        components:{
            TimeItem,
        },
        props:{
            Booking: Object,
        },
        mounted(){
        },
        methods:{
            listUserBooking: function (data) {
                this.$emit('listUserBooking', data);
            },
            deleteTime: function (idTime) {
                this.$emit('deleteTime', idTime)
            },
            editTime: function (data) {
                this.$emit('editTime',data)
            },
            deleteDate: function () {
                let listIdAllTime = [];
                for(let i = 0; i<this.Booking.time.length; i++){
                    listIdAllTime.push(this.Booking.time[i].id)
                }
                this.$emit("deleteDate",listIdAllTime);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .item-date__container{
        display: flex;
        flex-direction: column;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px #ccc;
        overflow: hidden;
        .item-header{
            display: flex;
            flex-direction: row;
            padding: 5px 10px;
            align-items: center;
            background: #337ab7;
            .date{
                font-weight: bold;
                color: #ffffff;
            }
            .wrapper-button{
                margin-left: auto;
                .btn{
                    margin: 0 5px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
        .time-wrapper{
            padding: 10px;
        }
    }

</style>