<template>
    <div class="item-waiting-schedule__container">
        <div class="header">
            <div class="title">{{booking.date}}</div>
            <div class="btn-remove" @click="removeBooking">Hủy Lịch</div>
        </div>
        <div class="content">
            <img :src="booking.photo">
            <div class="detail">
                <div><label>Bác sĩ:</label>{{booking.nameDoctor}}</div>
                <div><label>Ngày Khám: </label>{{booking.date}}</div>
                <div><label>Thời Gian:</label> {{booking.time_start}} - {{booking.time_end}}</div>
                <div><label>Giá Khám: </label>{{booking.price}}đ</div>
                <div class="count-down">Còn {{booking.countDown}} ngày nữa</div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "ItemWaitingSchedule",
        props:{
            booking: Object,
        },
        data(){
            return{}
        },
        methods:{
            removeBooking: function () {
                this.$emit("removeBooking",this.booking.id);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .item-waiting-schedule__container{
        margin: 10px 20px;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 10px;
        overflow: hidden;
        .header{
            display: flex;
            align-items: center;
            height: 3rem;
            padding: 0 10px;
            background: #007bff;
            color: #fff;
            .title{
                font-size: 20px;
                font-weight: bold;
            }
            .btn-remove{
                margin-left: auto;
                background: #dc3545;
                padding: 0 10px;
                height: 37px;
                display: flex;
                align-items: center;
                cursor: pointer;
                border-radius: 5px;
                box-shadow: 0 0 10px #dc3545;
                &:hover {
                    box-shadow: 0 0 0;
                }
            }


        }
        .content{
            display: grid;
            grid-template-columns: 15rem auto;
            padding: 10px;
            img{
                border-radius: 50%;
                height: 200px;
                width: 200px;
            }
            .detail{
                display: grid;
                div{
                    display: grid;
                    grid-template-columns: 10rem auto;
                    font-weight: bold;
                    color: #007bff;
                    label{
                        text-transform: uppercase;
                        color: #2c2c33;
                    }
                }
                .count-down{
                    color: #dc3545;
                }
            }
        }
    }
</style>