<template>
    <div class="list-select-finding" id="list-select">
        <h1 >Phương Thức Chọn Dịch Vụ</h1>
        <router-link tag="div" to="/listSelectMedicalSpecialty" class="hospital-specialty block">
            <img alt="hospital-specialty" src="./../assets/svg/hospital-specialty.svg"/>
            <div>Chọn Chuyên Khoa</div>
        </router-link>
        <router-link tag="div" to="/listDoctor" class="find-doctor block">
            <img alt="find-doctor" src="./../assets/svg/doctor.svg"/>
            <div>Tìm Bác Sĩ</div>
        </router-link >
<!--        <router-link tag="div" to="/listSelectMedicalSpecialty" class="medical-examination-generality block">-->
<!--            <img alt="medical-examination-generality" src="./../assets/svg/stethoscope.svg"/>-->
<!--            <div>Khám Tổng Quát</div>-->
<!--        </router-link >-->
        <router-link tag="div" to="/waitingSchedule" class="find-clinic block">
            <img alt="find-clinic" src="./../assets/svg/calendar.svg"/>
            <div>Lịch Đã Đặt</div>
        </router-link >
    </div>
</template>

<script>
    export default {
        name: "ListSelectFinding"
    };
</script>


<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    .list-select-finding {
        padding-top:5rem ;
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h1{
            text-align: center;
            font-weight: 700;
            color: #777;
            width: 80%;
            margin: auto;
        }
        .block {
            cursor: pointer;
            width: 20%;
            min-width: 200px;
            font-weight: bold;
            margin: 20px;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            background: #bfc0c1;
            box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
            @include Responsive(M) {
                width: 40%;
            }
            @include Responsive(S) {
                width: 100%;
            }
            img {
                height: 8rem;
                width: 100%;
            }

            &:hover {
                box-shadow: 0px 0px 0px;
                background: #e2e6fe;
            }
        }

    }
</style>
