<template>
    <div class="list-medical-specialty__container">
        <div class="search">
            <input class="input-search-medical-specialty" placeholder="Search...." v-model="searchSpecialty" type="text">
            <button class="btn btn-success" @click="onSearch">Search</button>
            <button class="btn btn-success" @click="()=>{this.$emit('dataSpecialtyAdd')}">Add</button>
        </div>
        <div class="head-title">
            <div class="col-name">Medical Specialty</div>
            <div class="col-tools">Tools</div>
        </div>
        <BOverlay :show="isLoading" rounded="sm">
            <div class="list-item__wrapper">
                <div class="item" v-for="(item,index) in medicalSpecialty" :key="index">
                    <div class="name">{{item.name}}</div>
                    <div class="wrapper-button">
                        <div class="button btn-view" @click="onClickView(item)">view</div>
                        <div class="button btn-edit" @click="onClickEdit(item)">edit</div>
                        <div class="button btn-delete" @click="onClickDelete(item.id)">delete</div>
                    </div>
                </div>
            </div>
        </BOverlay>
    </div>
</template>

<script>
    import {specialistService} from "../services";

    export default {
        name: "ListMedicalSpecialty",
        components:{

        },
        mounted(){
          this.fetchData();
        },
        data(){
            return{
                isLoading:false,
                medicalSpecialty:[],
                searchSpecialty: "",
            }
        },
        methods:{
            onSearch: function(){
                this.fetchData();
            },
            onClickDelete: async function(idSpecialty){
                await specialistService.deleteSpecialist(idSpecialty);
                this.fetchData();
            },
            onClickEdit: function(dataSpecialty){
                this.$emit("dataSpecialtySelectEdit",dataSpecialty)
            },
            onClickView: function(dataSpecialty){
                this.$emit("dataSpecialtySelect", dataSpecialty)
            },
            fetchData: async function () {
                this.isLoading = true;
                if(this.searchSpecialty.length === 0){
                    let data = await specialistService.getSpecialist();
                    this.medicalSpecialty = data.data;
                }else{
                    let data = await specialistService.searchSpecialist(this.searchSpecialty);
                    this.medicalSpecialty = data.data;
                }
                if (this.medicalSpecialty.length !== 0) this.isLoading = false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .list-medical-specialty__container{
        .search{
            padding: 10px 5px;
            display: grid;
            justify-content: center;
            grid-template-columns: 60% 15% 15%;
            grid-gap: 20px;
            .input-search-medical-specialty{
                padding: 0 20px;
                border: 1px solid #d1d5da;
                border-radius: 30px;
            }
            .btn{
                border-radius: 30px;
            }
        }
        .head-title{
            display: grid;
            grid-template-columns: 70% 30%;
            background-color: #f6f8fa;
            border: 1px solid #d1d5da;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: 2.5rem;
            line-height: 2.5rem;
            color: #586069;
            .col-name{
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }
            .col-tools{
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .list-item__wrapper{
            border: 1px solid #d1d5da;
            max-height: 20rem;
            overflow: auto;
            min-height: 5rem;
            .item{
                border-bottom: 1px solid #d1d5da;
                margin: 0.5rem 10px;
                height: 2.5rem;
                line-height: 2.5rem;
                display: grid;
                grid-template-columns: 70% 30%;
                .name{
                    text-align: center;

                }
                .wrapper-button{
                    padding: 0 20px ;
                    display: flex;
                    justify-content: center;
                    .button{
                        padding: 0 10px;
                        height: 2rem;
                        line-height: 2rem;
                        margin: auto 5px ;
                        width: 30%;
                        border-radius: 10px;
                        text-align: center;
                        font-weight: bold;
                        cursor: pointer;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .btn-view{
                        background-color: #d7d6cc;
                        border-color: #9a9799;
                        &:hover{
                            background-color: #bfb9b7;
                            border-color: #898c89;
                        }
                    }
                    .btn-edit{
                        color: #fff;
                        background-color: #007bff;
                        border-color: #007bff;
                        &:hover{
                            color: #fff;
                            background-color: #0069d9;
                            border-color: #0062cc;
                        }
                    }
                    .btn-delete{
                        color: #fff;
                        background-color: #dc3545;
                        border-color: #dc3545;
                        &:hover{
                            color: #fff;
                            background-color: #c82333;
                            border-color: #bd2130;
                        }
                    }
                }
            }
            ::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;

            }

            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }


            ::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: #555;

            }

            ::-webkit-scrollbar-thumb:hover {
                background: #7b7b7b;

            }
        }
    }
</style>