<template>
    <div class="Location__container" id="location">
        <h1>Location</h1>
        <div class="map__wrapper">
            <gmap-map
                class="map"
                :center="center"
                :zoom="16"
            >
                <gmap-marker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    @click="center=m.position"
                ></gmap-marker>
            </gmap-map>
            <div class="info-medical">
                <label>Địa chỉ:</label> <span>73 Nguyễn Hữu Thọ, Tp Đà Nẵng</span><br>
                <label>Hệ thống tổng đài:</label><br>
                <label>Tư vấn và đặt lịch khám:</label> <span>19002250 (7h00- 17h30 trừ lễ, tết)</span><br>
                <label>Khối văn phòng:</label> <span>0236.3632.111 (7h00- 17h30 trừ Chủ nhật)</span><br>
                <label>Cấp cứu:</label> <span>0236.3632.333 ( 24/7)</span><br>
                <label>Email:</label> <span>family@familyhospital.vn</span><br>
                <label>Giờ làm việc:</label> <span>06:00 đến 17:00 - Tất cả các ngày</span>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Location",
        data() {
            return {
                center: { lat: 16.054166, lng: 108.209212 },
                markers: [
                    {
                        position: { lat: 16.054166, lng: 108.209212 }
                    }
                ],
                places: [],
                currentPlace: null
            };
        },

        mounted() {
        },

        methods: {
        }
    }
</script>

<style scoped lang="scss">
@import "./../assets/scss/helper";
.Location__container{
    width: 80%;
    margin: auto;
    padding: 5rem 0;
    h1{
        margin: 0 auto 3rem;
        text-align: center;
        font-weight: 700;
        color: #777;
    }
    .map__wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .map{
            width: 40%;
            height: 300px;
        }
        .info-medical{
            width: 40%;
            margin: auto 1.5rem;
            >label{
                font-weight: bold;
                margin-right: 0.5rem;
            }
        }
        @include Responsive(M) {
            .info-medical, .map{
                width: 100%;
                margin: 2rem;
            }
        }
    }

}
</style>