<template>
    <div class="medical-specialty-item__container" @click="()=>{this.$emit('triggerCard',this.khoa)}">
        <div class="text">
            <label>Tên Khoa: </label>{{khoa.name}}
        </div>
        <div class="text">
            <label>Tổng số bác sĩ: </label>{{khoa.totalDoctors}} Bác Sĩ
        </div>
    </div>
</template>

<script>
    export default {
        name: "MedicalSpecialtyItem",
        props:{
            khoa: Object,
        },
        computed:{

        },
        data(){
            return{
            }
        },
        methods:{
        }
    }
</script>

<style lang="scss" scoped>
@import "./../assets/fonts/fonts.css";
@import "./../assets/scss/helper";
.medical-specialty-item__container{
    @include Responsive(M){
        width: calc(100% - 20px);
    }
    width: calc(50% - 20px);
    /*height: 7rem;*/
    background: linear-gradient(45deg, #92D000 0%, #7AC493 100%);
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    &:hover{
        box-shadow: none;
        background-position: right center;
    }
    .text{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 20px);
        overflow: hidden;
        label{
            margin-right: 10px;
            color: #2c2c33;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .detail{
        width: calc(100% - 20px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
</style>