<template>
    <div class="menu-accout__container">
        <ul>
            <li v-if="typeUser===null">
                <router-link alt="calendar" tag="div" to="/waitingSchedule">
                    Đăng nhập
                </router-link>
            </li>
            <li v-if="typeUser===null">
                <router-link alt="calendar" tag="div" to="/registerSingle">
                    Đăng ký
                </router-link>
            </li>
            <li v-if="typeUser!==null && typeUser === 'Admin'">
                <router-link alt="calendar" tag="div" to="/manageViewer">
                    Quản trị
                </router-link>
            </li>
            <li v-if="typeUser!==null && typeUser === 'Doctor'">
                <router-link alt="calendar" tag="div" to="/scheduling">
                    Quản lý lịch khám
                </router-link>
            </li>
            <li v-if="typeUser!==null && typeUser === 'Patient'">
                <router-link alt="calendar" tag="div" to="/profileUser">
                    Xem thông tin người dùng
                </router-link>
            </li>
            <li v-if="typeUser!==null && typeUser === 'Doctor'">
                <router-link alt="calendar" tag="div" to="/profileDoctor">
                    Xem thông tin bác sĩ
                </router-link>
            </li>
            <li v-if="typeUser!==null" @click="logout">Đăng xuất</li>

        </ul>
    </div>
</template>

<script>
    export default {
        name: "menuAccount",
        props: {
            typeUser: String
        },
        mounted(){},
        data() {
            return {
                isLogin: false,
            }
        },
        methods:{
            logout: function () {
                this.$emit("logout")
            },
        }

    };
</script>

<style scoped lang="scss">
@import "./../assets/fonts/fonts.css";
    .menu-accout__container{
        color: #2c2c33;
        font-family: 'Roboto Slab', serif;
        font-size: 1.2rem;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 20rem;
        height: calc(100% - 50px);
        margin-top: 50px;
        margin-left: auto;
        background: #ffffff;
        box-shadow: 0 0 20px;
        ul{
            padding-left: 0px;
            li{
                padding-left: 1rem;
                list-style-type: none;
                border-bottom: solid 1px #dfd5d5;
                &:hover{
                    background: #dfd5d5;
                    cursor: pointer;
                }

            }
        }
    }
</style>
