<template>
  <div class="menu__container">
      
  </div>
</template>

<script>
export default {
  name: "menu",
  
};
</script>

<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
    .menu__container{
        color: #2c2c33;
        font-family: 'Roboto Slab', serif;
        font-size: 1.2rem;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 25% ;
        height: calc(100% - 50px);
        margin-top: 50px;
        background: #ffffff;
        box-shadow: 15px 15px 20px;
        ul{
            padding-left: 0px;
            li{
                padding-left: 1rem;
                list-style-type: none;
                border-bottom: solid 1px #dfd5d5;
                &:hover{
                    background: #dfd5d5;
                }
            }
        }
    }
</style>
