<template>
    <div class="Procedure__container" id="procedure">
        <h1>Quy Trình Đăng Ký Khám Bệnh Theo Hẹn</h1>
        <div class="Procedure__wrapper">

            <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Bước 1</h3>
                    <span>ĐẶT LỊCH KHÁM</span>
                    <ul>
                        <li>Đăng nhập phần mềm trên web.</li>
                        <li>Chọn hình thức đặt khám: Theo chuyên khoa hoặc theo bác sĩ.</li>
                        <li>Chọn thông tin khám: Chuyên khoa, bác sĩ, ngày khám, giờ khám.</li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Bước 2</h3>
                    <span>XÁC NHẬN KHÁM THEO HẸN</span>
                    <ul>
                        <li>
                            Sau khi đặt lịch thành công hệ thống sẽ gửi thông tin về lịch khám về lịch chờ của bệnh nhân.
                        </li>
                        <li>Đến ngày khám </li>
                        <li style="margin-left: 50px ">Người bệnh không BHYT sẽ đến trực tiếp phòng khám trước giờ hẹn 15-30 phút để khám bệnh.</li>
                        <li style="margin-left: 50px ">Người bệnh khám BHYT vui lòng đến quầy 12,13,14 khu A trước giờ hẹn 15-30 phút để xác nhận bảo hiểm trước khi vào phòng khám.</li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Bước 3</h3>
                    <span>KHÁM VÀ THỰC HIỆN CẬN LÂM SÀNG</span>
                    <ul>
                        <li>Người bệnh khám tại các phòng khám chuyên khoa theo thông tin khám đã đặt.</li>
                        <li>Thực hiện cận lâm sàng (nếu có) và đóng phí tại các quầy thu ngân hoặc trừ vào tài khoản thẻ khám bệnh (nếu có).</li>
                        <li>Khi đủ kết quả cận lâm sàng, người bệnh quay lại phòng khám gặp Bác sĩ nhận toa thuốc.</li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Bước 4</h3>
                    <span>NHẬN THUỐC</span>
                    <ul>
                        <li> <u>Người bệnh có BHYT:</u>  Thực hiện kết toán BHYT tại quầy 17,18,19,20 tầng trệt khu A và nhận thuốc tại nhà thuốc khu B.</li>
                        <li> <u>Người bệnh không có BHYT:</u>  Đến nhà thuốc khu A hoặc khu B mua thuốc, thanh toán tiền thuốc tại quầy hoặc trừ vào tài khoản thẻ khám bệnh (nếu có).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Procedure"
    }
</script>

<style scoped lang="scss">
    @import "./../assets/scss/helper";
    @import "./../assets/fonts/fonts.css";
    .Procedure__container{
        padding: 5rem 0;
        font-family: 'Baloo Bhai 2', cursive;
        font-weight: bold;
        h1 {
            text-align: center;
            font-weight: 700;
            color: #777;
            width: 80%;
            margin: auto;
        }
        .Procedure__wrapper{
            width: 80%;
            padding: 50px 0;
            margin: 50px auto;
            position: relative;
            overflow: hidden;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: 8px;
                width: 2px;
                height: 100%;
                background: #CCD1D9;
                z-index: 0;
            }
            .timeline-block {
                width: -webkit-calc(50% + 8px);
                width: -moz-calc(50% + 8px);
                width: calc(50% + 8px);
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -moz-box-pack: justify;
                justify-content: space-between;
                clear: both;
            }
            .timeline-block-right {
                float: right;
            }

            .timeline-block-left {
                float: left;
                /*direction: rtl;*/
            }

            .marker {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 2px solid #F5F7FA;
                background: #4FC1E9;
                margin-top: 10px;
                z-index: 0;
                position: absolute;
                left: 50%;
            }

            .timeline-content {
                width: 95%;
                padding: 0 15px;
                color: #666;
                margin-left: 20px;
            }

            .timeline-content h3 {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 25px;
                font-weight: 500
            }

            .timeline-content span {
                font-size: 15px;
                color: #a4a4a4;
            }

            .timeline-content p {
                font-size: 14px;
                line-height: 1.5em;
                word-spacing: 1px;
                color: #888;
            }
        }
        @include Responsive(M) {
            .Procedure__wrapper{
                &:before {
                    left: 8px;
                    width: 2px;
                }
                .timeline-block {
                    width: 100%;
                    margin-bottom: 30px;
                }
                .timeline-block-right {
                    float: none;
                }

                .timeline-block-left {
                    float: none;
                    direction: ltr;
                }
                .marker {
                    position: relative;
                    left: 10px;
                }
            }
        }
    }
</style>