<template>
        <div class="slide" id="slide">
            <img src="../assets/img/download.jpg" alt="" class="picture-slide">
            <div class="block-center">
                <div class="text">Chúc bạn một ngày tốt lành!</div>
                <div class="text">Bạn muốn đặt lịch khám?</div>
                <div class="wrapper-button">
                    <router-link alt="booking" class="btn-booking btn" tag="a" to="/booking">
                        Đặt Lịch
                    </router-link>

                    <button :class="['btn-sign-up ',{'disable': isDisable },{'btn':!isDisable}]" class="  " @click="onClickLogin" >Đăng Nhập</button>
                </div>
            </div>

        </div>
</template>

<script>
    export default {
        name: "Slide",
        data(){
            return{
                isDisable: false,
            }
        },
        methods:{
            onClickLogin: function(){
                if (!localStorage.getItem("token")){
                    this.$emit('triggerLogin')
                }else {
                    this.isDisable = true;
                }
            }
        }
    };
</script>


<style scoped lang="scss">
    @import "./../assets/scss/helper";
    .slide{
        display: block;
        overflow: hidden;
        position: relative;
        font-weight: bold;
        .picture-slide{
            width: 100%;
            position: relative;
            max-height: 700px;
            display: flex;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: -2;
        }
        .block-center {
            width: 100%;
            position: absolute;
            top: 20vw;
            color: #fff;
            font-size: 3vw;
            .text{
                text-align: center;
            }
        }
        &:after{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            background: rgba(0,0,0,.4);
            z-index: -1;
        }

        .wrapper-button {
            display: flex;
            justify-content: center;
            .disable{
                background: gray;
                border: gray;
                font-weight: bold;
                border-radius: 5px;
                margin: 1rem;
                width: 17%;
                font-size: 1rem;
                color: white;
                text-transform: uppercase;
                height: auto;
                text-shadow: 4px 4px 3px rgba(77, 77, 77, 0.5);
                box-shadow: 10px 10px rgba(77, 77, 77, 0.1);
                cursor: pointer;
                transition: transform 0.4s, box-shadow 0.4s;
                @include Responsive(M) {
                    font-size: 1.5vw;
                }
                a{
                    color: #ffffff;
                    text-decoration: none;
                }
                &:hover {
                    box-shadow: 0 0 rgba(77, 77, 77, 0.5);
                }
                &:active {
                    transform: translate3d(0, 0, 0);
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
            .btn {
                font-weight: bold;
                margin: 1rem;
                width: 17%;
                font-size: 1rem;
                background-color: #4CAF50;
                border: 3px solid #4CAF50;
                color: white;
                text-transform: uppercase;
                height: auto;
                text-shadow: 4px 4px 3px rgba(77, 77, 77, 0.5);
                box-shadow: 10px 10px rgba(77, 77, 77, 0.1);
                cursor: pointer;
                transition: transform 0.4s, box-shadow 0.4s;
                @include Responsive(M) {
                    font-size: 1.5vw;
                }
                a{
                    color: #ffffff;
                    text-decoration: none;
                }
                &:hover {
                    box-shadow: 5px 5px rgba(77, 77, 77, 0.5);

                }
                &:active {
                    transform: translate3d(7px, 7px, 0px);
                    box-shadow: 7px 7px rgba(77, 77, 77, 0.5);
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }
    }


</style>
