﻿<template>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="Introduce-version">
                    <h5 class="title">BookingCare</h5>
                    <p class="description">© 2019 BookingCare. Phiên bản thử nghiệm.</p>
                </div>
                <div class="list-unstyled">
                    <div>
                        <a class="footerlink" href="/">
                            <img alt src="./../assets/svg/facebook.svg"/>
                            <label>Facebook</label>
                        </a>
                    </div>
                    <div>
                        <a class="footerlink" href="/">
                            <img alt src="./../assets/svg/youtube.svg"/>
                            <label>Youtube</label>
                        </a>
                    </div>
                    <div>
                        <a class="footerlink" href="/">
                            <img alt src="./../assets/svg/google-plus.svg"/>
                            <label>Google plus</label>
                        </a>
                    </div>
                    <div>
                        <a class="footerlink" href="/">
                            <img alt src="./../assets/svg/twitter.svg"/>
                            <label>Twitter</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "TheFooter"
    };
</script>


<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    @import "./../assets/fonts/fonts.css";
    .footer {
        position: absolute;
        width: 100%;
        height: 160px;
        z-index: -1;
        font-family: 'Gayathri', sans-serif;
        background-color: #1d1d1d;
        padding-top: 1rem;
        padding-bottom: 4rem;

        .container-fluid {
            @include Responsive(M) {
                .Introduce-version {
                    display: flex;
                    text-align: center;
                    width: 100%;
                    flex-direction: column;
                }
            }

            .title, .description {
                color: #ffffff;
            }

            .list-unstyled {
                color: #ffffff;
                @include Responsive(M) {
                    display: flex;
                }
                div {
                    img {
                        height: 1.5rem;
                        margin: .1rem 1rem;
                    }
                    @include Responsive(M) {
                        label {
                            display: none;
                        }
                    }
                }
            }
        }
      }
</style>
