﻿<template>
    <div :class="['header__container',{'scrolled': scrolled }]">
        <div @click="isShowMenu=!isShowMenu" class="option">
            <img src="../assets/svg/bars-solid.svg">
        </div>
        <router-link class="icon-logo" tag="div" to="/">
            <img alt="logo" src="../assets/svg/user-md-solid.svg">
            BookingCare
        </router-link>
        <div class="list-menu">
            <a href="#slide">Home</a>
            <a href="#introduce">Introduce</a>
            <a href="#procedure">Procedure</a>
<!--            <a href="#location">Location</a>-->
            <a href="#location">Contact</a>
        </div>
        <div class="option-right">
            <div class="wrapper-option-right">

                <div @click="changeStateShowMenu" class="account">
                    <img alt="user" src="../assets/svg/user-solid.svg">
                    <div class="menu account" v-if="isShowMenuAccount">
                        <div class="arrow-up"></div>
                        <ul class="user">
                            <router-link class="item-user" tag="li" to="/profileUser" v-if="typeUser!==null && typeUser === 'Patient'">
                                <img alt="info user" src="../assets/svg/account.svg">
                                Xem Thông Tin Cá Nhân
                            </router-link>
                            <router-link class="item-user" tag="li" to="/admin" v-if="typeUser!==null && typeUser === 'Admin'">
                                <img alt="manager" src="../assets/svg/setting.svg">
                                Quản Trị
                            </router-link>
                            <router-link class="item-user" tag="li" to="/doctor" v-if="typeUser!==null && typeUser === 'Doctor'">
                                <img alt="manager" src="../assets/svg/calendar.svg">
                                Quản lý lịch khám
                            </router-link>
                            <li @click="logout" class="item-user" v-if="typeUser!==null">
                                <img alt="logout" src="../assets/svg/logout.svg">
                                Đăng Xuất
                            </li>
                            <router-link class="item-user" tag="li" to="/login" v-if="typeUser===null">
                                <img alt="manager" src="../assets/svg/user-solid.svg">
                                Đăng nhập
                            </router-link>
                            <router-link class="item-user" tag="li" to="/registerSingle" v-if="typeUser===null">
                                <img alt="manager" src="../assets/svg/user-solid.svg">
                                Đăng ký
                            </router-link>
                        </ul>
                    </div>
                </div>
            </div>

            <div @click="isShowMenuAccountResize=!isShowMenuAccountResize" class="option">
                <img class="menu-right" src="../assets/svg/bars-solid.svg">
            </div>

        </div>
        <transition name="slip-through-right">
            <Menu v-show="isShowMenu"></Menu>
        </transition>
        <transition name="slip-through-left">
            <MenuAccount
                @logout="logout"
                :typeUser=typeUser
                v-show="isShowMenuAccountResize"></MenuAccount>
        </transition>

    </div>
</template>

<script>
    import {BBadge} from 'bootstrap-vue'
    import Menu from "@/components/Menu.vue";
    import MenuAccount from "./MenuAccount";
    import {mapState, mapActions} from "vuex";
    export default {
        name: "TheNavBar",
        components: {
            BBadge,
            Menu,
            MenuAccount,
        },
        computed:{
            ...mapState("booking",{
                stateNumNotify: "numNotify",
            }),
        },
        props: {
            scrolled: Boolean,
        },
        mounted() {
            this.typeUser = localStorage.getItem("typeUser");
        },
        data() {
            return {
                typeUser: "",
                isShowMenu: false,
                isShowMenuAccount: false,
                isShowMenuAccountResize: false,
            }
        },
        methods: {
            getTypeUser(){
                this.typeUser = localStorage.getItem("typeUser");
            },
            changeStateShowMenu: function () {
                this.isShowMenuAccount = !this.isShowMenuAccount;
            },
            logout: function () {
                localStorage.clear();
                this.typeUser = null;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    @import "./../assets/fonts/fonts.css";

    .header__container {
        @keyframes slip-through-right {
            0% {
                opacity: 0;
                transform: translateX(calc(0px - 25%));
            }
            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }

        .slip-through-right-enter-active {
            animation: slip-through-right .5s ease;
        }

        .slip-through-right-leave-active {
            animation: slip-through-right .5s ease reverse;
        }

        @keyframes slip-through-left {
            0% {
                opacity: 0;
                transform: translateX(calc(0px + 25%));
            }
            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }

        .slip-through-left-enter-active {
            animation: slip-through-left  .5s ease;
        }

        .slip-through-left-leave-active {
            animation: slip-through-left  .5s ease reverse;
        }

        @keyframes slideIn {
            from {
                width: 0%;
            }
            to {
                width: 100%;
            }
        }

        &.scrolled {
            background: rgba(0, 0, 0, 0.8);
            transition: background 1s;
        }

        z-index: 100;
        position: fixed;
        top: 0;
        font-size: 1.2rem;
        width: 100%;
        height: 50px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        padding: 0 1rem;
        color: #fff;

        .list-menu {
            margin-left: auto;
            margin-right: 0.5rem;
            display: flex;
            font-size: 15px;
            font-weight: 700;

            > a {
                color: #fff;
                text-decoration: none;
                text-align: center;
                width: 5rem;
                cursor: pointer;

                &:hover {
                    &:after {
                        position: relative;
                        top: -10px;
                        display: flex;
                        width: 100%;
                        height: 2px;
                        content: '';
                        background-color: #ffffff;
                        animation: slideIn .5s ease;
                    }
                }
            }

            @include Responsive(M) {
                display: none;
            }
        }

        .option {
            @include Responsive(M) {
                cursor: pointer;
                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .icon-logo {
            margin-right: auto;
            cursor: pointer;
            font-family: 'Permanent Marker', cursive;

            img {
                width: 2rem;
                height: 2rem;
            }

            @include Responsive(M) {
                margin: auto;
            }
        }

        .option-right {
            .wrapper-option-right {
                display: flex;

                .book-calendar {
                    position: relative;

                    .num-notify {
                        position: absolute;
                        left: 35px;
                        top: 2px;
                        background: #f10303;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }

                img {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    margin: 0px 20px;
                }

                .notify {
                    right: 60px;
                }

                .account {
                    right: 0;
                }

                .menu {
                    font-family: 'Baloo Bhai 2', cursive;
                    font-size: 12px;
                    font-weight: bold;
                    color: #ffffff;
                    position: fixed;
                    top: 0;

                    width: fit-content;
                    box-sizing: border-box;
                    border-radius: 5px;
                    margin-top: 60px;
                    background: #456cd2;

                    .arrow-up {
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #456cd2;
                        position: absolute;
                        top: -10px;
                        right: 2.2rem;
                    }

                    ul {
                        padding: 0;
                        margin-bottom: 0;

                        li {
                            cursor: pointer;
                            margin: 5px;
                            padding: 0 10px;
                            transition: all .3s;

                            > img {
                                width: 1rem;
                                height: 100%;
                                margin-right: 10px;
                                margin-left: 5px;
                            }

                            list-style-type: none;

                            &:hover {
                                background: #dfd5d5;
                            }
                        }
                    }
                }
            }

            .menu-right {
                visibility: hidden;
            }

            @include Responsive(M) {
                .wrapper-option-right {
                    display: none;
                }
                .menu-right {
                    visibility: visible;
                    cursor: pointer;
                    width: 2rem;
                    height: 2rem;
                }
            }

        }
    }
</style>
