<template>
    <div class="item-time__container" @click="handleClick" >
        <div class="content-time" >
            <div class="time">{{time.time_start}} - {{time.time_end}}</div>
            <div class="times"> {{time.limit}} lượt</div>
        </div>
        <div class="control" v-if="isClick">
            <button class="btn btn-primary" @click="()=>{this.$emit('editTime',time)}">Edit</button>
            <button class="btn btn-danger" @click="()=>{this.$emit('deleteTime',time.id)}">Delete</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TimeItem",
        props:{
            time: Object,
        },
        data(){
            return{
                isClick: false,
            }
        },
        methods:{
            handleClick: function () {
                this.isClick = !this.isClick;
                this.$emit("listUserBooking", this.time.listPatient);
                console.log(this.time)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .item-time__container{
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: 0 0 2px;
        margin-bottom: 10px;
        .content-time{
            display: flex;
            flex-direction: row;
            .time{

            }
            .times{
                margin-left: auto;
            }
        }
        .control{
            margin-left: auto;
            .btn{
                margin: 0 5px;
            }
        }
        &:hover{
            background: #4CAF50;
            color: #ffffff;
        }
    }
</style>