<template>
<div class="confirm-booking__container">
    <card class="content-confirm">
        <div class="title">THÔNG TIN NGƯỜI KHÁM</div>
        <div class="row">
            <div class="col-6">
                <div class="wrapper-text">
                    <label>Họ Tên:</label>
                    <div>{{stateDataBooking.name}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Tuổi:</label>
                    <div>{{stateDataBooking.old}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Số điện thoại:</label>
                    <div>{{stateDataBooking.phone}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="wrapper-text">
                    <label>Giới Tính:</label>
                    <div>{{stateDataBooking.sex}}</div>
                </div>
                <div class="wrapper-text">
                    <label>Email:</label>
                    <div>{{stateDataBooking.email}}</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="title">THỜI GIAN</div>
        <div class="row">
            <div class="col-12">
                <div class="wrapper-text">
                    <label>Ngày khám:</label>
                    <div>{{stateDataBooking.date}} ( {{stateDataBooking.time_start}}-{{stateDataBooking.time_end}} )</div>
                </div>
                <div class="wrapper-text">
                    <label>Bác sĩ khám:</label>
                    <div>{{stateDataBooking.doctor}}</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="title">TIỀN SỬ BỆNH - TRIỆU CHỨNG</div>
        <label class="w-100">Tiền sử bệnh - Triệu chứng:</label>
        <div> {{stateDataBooking.anamnesis}}</div>
        <label class="w-100">Ghi Chú:</label>
        <div> {{stateDataBooking.note}}</div>
        <hr>
        <div class="wrapper-button">
            <div class="button" @click="onConfirm">Xác Nhận</div>
            <router-link class="button" tag="div" :to="{ name: 'Enter Info', params: { id: stateDataBooking.idDoctor }}">
                Quay Lại
            </router-link>
        </div>
    </card>
    <card class="instruction">
        <div class="title-header">Vui lòng đọc kỹ các thông tin dưới đây:</div>
        <ul>
            <li>Khi đi khám bệnh vui lòng ghi nhớ mã số khám bệnh, được lưu trữ trong ứng dụng Booking care.</li>
            <li>Sau khi đăng ký thành công, phiếu khám được gửi đến quý khách thông qua thông báo người dùng</li>
            <li>Đến ngày khám, Người đi khám nên có mặt trước 15 phút so với giờ hẹn.</li>
        </ul>
    </card>
</div>
</template>

<script>
    import {bookingService,notifyPatientService} from "../../services";
    import {mapState, mapActions} from "vuex";
    export default {
        name: "ConfirmBooking",
        computed:{
            ...mapState("booking",{
                stateDataBooking: "dataBooking"
            }),
            NOTIFY:()=>"Đăng Ký Lịch Thành Công!"
        },
        data(){
            return{

            }
        },
        methods:{
            ...mapActions("notify",{
                actionSetListNotify: "setListNotify"
            }),
            onConfirm: async function () {
                this.stateDataBooking.follow_up_examination = false;
                this.stateDataBooking.re_examination_time = 0;
                this.stateDataBooking.times = 0;
                this.stateDataBooking.patientId = parseInt(localStorage.getItem("id"));
                console.log(this.stateDataBooking);
                await bookingService.postBooking(this.stateDataBooking);
                await notifyPatientService.postNotify({
                    message: this.NOTIFY,
                    patientId: parseInt(localStorage.getItem("id")),
                    type: "L"
                });
                this.actionSetListNotify();
                this.$router.push({ path: '/booking' });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .confirm-booking__container{
        font-family: 'Baloo Bhai 2', cursive;
        padding: 20px 7rem;
        display: flex;
        .content-confirm{
            width: 60%;
            margin-right: 3rem;
            label{
                width: 5.5rem;
                font-weight: bold;
                color: #000;
                text-transform: initial;
                margin-bottom: 0;
                font-size: 15px;
                margin-right: 0.5rem;
            }
            .title{
                font-size: 20px;
                color: #1D62F0;
                font-weight: bold;
            }
            .wrapper-text{
                display: flex;

            }
            .wrapper-button{
                display: flex;
                .button{
                    border-radius: 10px;
                    background-color: #1D62F0;
                    color: #fff;
                    width: 7rem;
                    text-align: center;
                    padding: 5px;
                    cursor: pointer;
                    margin: auto;
                    border: 1px solid #4FC1E9;
                    &:hover{
                        border:1px solid #1D62F0;
                        color: #000;
                        background-color: #fff;
                    }
                }
            }
        }
        .instruction{
            width: 38%;
            height: fit-content;
            .title-header{
                font-weight: bold;
                text-align: center;
            }
        }
    }
</style>