<template>
    <div class="detail-info-doctor__container">
        <div class="content-wrapper">
            <div class="profile-doctor">
                <img class="avatar" :src="dataDoctor.photo" alt="avatar">
                <div class="info">
                    <div class="name-doctor">{{dataDoctor.HH}}, {{dataDoctor.HV}} {{dataDoctor.name}}</div>
                    <div class="phone-doctor"><b>Phone:</b> {{dataDoctor.phone}}</div>
                    <div class="email-doctor"><b>Email:</b> {{dataDoctor.email}}</div>
                    <div class="location-doctor"><b>Location:</b> {{dataDoctor.location}}</div>
                </div>
            </div>
            <div class="info-work">
                <card>
                    <div class="title">Giới Thiệu</div>
                    <div class="detail"> <span v-html="dataDoctor.summary"></span></div>
                </card>
                <card>
                    <div class="title">Chuyên Khoa</div>
                    <div class="detail">{{nameSpecialist}}</div>
                </card>
                <card>
                    <div class="title">Nhận Xét</div>
                    <div class="text">
                        Bạn đã sử dụng dịch vụ của <b>{{dataDoctor.name}}</b>. Hãy chia sẽ những nhận xét của bạn.
                    </div>
                    <label class="w-100 ">Đánh Giá</label>
                    <textarea v-model="message" rows="7" cols="70" placeholder="Tiền sử bệnh và triệu chứng"></textarea>
                    <div class="button" @click="postComment">Gửi</div>

                    <ul class="list-unstyled mt-3 ">
                        <b-media tag="li" class="mb-3" v-for="(item,index) in dataComment" :key="index">
                            <template v-slot:aside>
                                <img class="bg-light" width="64" src="../../assets/svg/interface.svg" alt="...">
                            </template>
                            <h5 class="mt-0 mb-1 name-user">{{item.patient}}</h5>
                            <p class="mb-3 comment">
                               {{item.message}}
                            </p>
                        </b-media>

                    </ul>
                </card>

            </div>

        </div>
    </div>
</template>

<script>
    import { BMedia } from 'bootstrap-vue';
    import {doctorService, specialistService, CommentService, patientService} from "../../services";

    export default {
        name: "DetailInfoDoctor",
        components:{
            BMedia,
        },
        mounted(){
            this.fetchData();
        },
        data(){
            return{
                dataDoctor: {},
                nameSpecialist: "",
                dataComment:[],
                message:"",
            }
        },
        methods:{
            fetchData: async function () {
                this.dataComment = [];
                let dataDoctor = await doctorService.getDoctorByID(this.$route.params.id);
                let dataSpecialist = await specialistService.getSpecialistById(dataDoctor.data.specialistId);
                let dataComment = await CommentService.getCommentByIdDoctor(this.$route.params.id);
                for (let data of dataComment.data){
                    let dataPatient = await patientService.getPatient(data.patientId);
                    this.dataComment.push({
                        patient: dataPatient.data.name,
                        message: data.message
                    });
                }
                this.nameSpecialist = dataSpecialist.data.name;
                this.dataDoctor = dataDoctor.data;
            },
            postComment: async function(){
                let data = await CommentService.postComment({
                    message: this.message,
                    patientId: localStorage.getItem("id"),
                    doctorId: this.dataDoctor.id
                });
                if(data.status === 200){
                    this.fetchData();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
.detail-info-doctor__container{
    font-family: 'Baloo Bhai 2', cursive;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        height: 200px;
        background-image: url("../../assets/img/profile-header.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .content-wrapper {
        position: relative;
        padding: 0 7rem 2rem;
        margin: auto;
        z-index: 10;

        .profile-doctor {
            display: flex;

            .avatar {
                border-radius: 50%;
                border: 2px solid #838886;
                width: 10rem;
                height: 10rem;
                margin-right: 3rem;
            }

            .info {
                margin: auto 0;

                b {
                    margin-right: 5px;
                }

                .name-doctor {
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }
        .info-work{
            margin-top: 5rem;
            padding: 0 15rem;
            .title{
                font-weight: bold;
                font-size: 20px;

            }
            label{
                font-size: 15px;
                font-weight: bold;
                color: #000;
                text-transform: initial;
                margin-bottom: 0;
            }
            textarea{
                overflow: auto;
                resize: vertical;
                background-color: #FFFFFF;
                border: 1px solid #E3E3E3;
                border-radius: 4px;
                color: #565656;
                padding: 8px 12px;
                box-shadow: none;
            }
            .button{
                background-color: #1D62F0;
                color: #fff;
                border-radius: 10px;
                border: 1px solid #337ab7;
                padding: 5px;
                width: 5rem;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    background-color: #fff;
                    color: #1D62F0;
                    border: 1px solid #337ab7;
                }
            }

                .name-user{
                    font-family: 'Baloo Bhai 2', cursive;
                    font-weight: bold;
                    font-size: 20px;
                }
                .comment{
                    font-family: 'Baloo Bhai 2', cursive;
                }

        }
    }
}
</style>