<template>
    <div class="detail-notify__container">
        <div class="title">THÔNG BÁO CHI TIẾT</div>
        <div class="list-notify">
            <card class="card-notify" v-for="(item, index) in dataBooking" :key="index">
                <div class="code">Số đặt khám: #{{item.id}}</div>
                <div class="notify">
                    Lịch khám của bạn đã được xác nhận.
                </div>
                <div class="text">
                    Dưới đây là thông tin <b>xác nhận</b> lịch khám của bạn:
                </div>
                <div class="info-detail">
                    <div class="wrapper-text">
                        <label>Tên bác sĩ:</label>
                        <div>{{item.doctor}}</div>
                    </div>
                    <hr>
                    <div class="wrapper-text">
                        <label>Bệnh nhân:</label>
                        <div>{{item.name}}</div>
                    </div>
                    <hr>
                    <div class="wrapper-text">
                        <label>Địa chỉ:</label>
                        <div>73 Nguyễn Hữu Thọ, Tp Đà Nẵng</div>
                    </div>
                    <hr>
                    <div class="wrapper-text">
                        <label>Thời gian:</label>
                        <div>{{item.date}} ({{item.time_start.slice(0,5)}} - {{item.time_end.slice(0,5)}})</div>
                    </div>
                </div>
                <div class="text">
                    <b>Lưu ý:</b> Vui lòng có mặt <u>15 - 30 phút</u> trước giờ đặt khám và trình xác nhận này cho nhân viên phòng khám hoặc bác sĩ để được phục vụ chu đáo.
                </div>
                <div class="button-delete" @click="deleteBooking(item)">Hủy Lịch</div>
            </card>

        </div>
    </div>

</template>

<script>
    import {bookingService,doctorService} from "../../services";

    export default {
        name: "DetailNotify",
        mounted() {
            this.getDateNow();
            this.fetchData();
        },
        data(){
          return{
              dayNow:"",
              dataBooking:[],
          }
        },
        methods:{
            notifyVue: function (text,type) {
                this.$notifications.notify(
                    {
                        message: `<span>${text}</span>`,
                        icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
                        horizontalAlign: "right",
                        verticalAlign: "bottom",
                        type: type,
                    })
            },
            getDateNow: function () {
                let date = new Date(Date.now());
                this.dayNow = `${this.addZero(date.getFullYear())}-${this.addZero(date.getMonth()+1)}-${date.getDate()}`
            },
            addZero: function (num) {
                if(num<10){
                    return "0"+num;
                }else return num
            },
            fetchData: async function () {
                this.dataBooking =[];
                let dataBooking = await bookingService.getBooking(localStorage.getItem("id"));

                for(let booking of dataBooking.data){
                    if(booking.follow_up_examination === false &&
                        new Date(`${this.dayNow}T00:00:00.000+07:00`) <= new Date(`${booking.date}T00:00:00.000+07:00`)){

                        let nameDoctor = await doctorService.getDoctorByID(booking.doctorId);
                        booking.doctor = nameDoctor.data.HH + ", "+ nameDoctor.data.HV +", "+ nameDoctor.data.name;

                        this.dataBooking.push(booking)
                    }
                }
            },
            deleteBooking:async function (data) {
                await bookingService.deleteBooking(data.id);
                this.notifyVue("Hủy Lịch Thành Công","success");
                this.fetchData();
            }
        }

    }
</script>

<style lang="scss" scoped>
.detail-notify__container{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }
    .list-notify{
        width: 50%;
        min-height: 460px;
        .card-notify{
            .code{
                color: #1D62F0;
                font-size: 18px;
                font-weight: bold;
            }
            .notify{
                margin: 10px 0;
                color: #3a983e;
                font-weight: bold;
                font-size: 25px;
            }
            .text{

            }
            .info-detail{
                padding: 10px;
                margin: 10px 0;
                background-color: #cdd2d0;
                .wrapper-text{
                    display: flex;
                    label{
                        font-size: 15px;
                        font-weight: bold;
                        color: #000;
                        margin-bottom: 0;
                        width: 5rem;
                        text-transform: initial;
                    }
                    font-weight: bold;
                }
            }
            .button-delete{
                border-radius: 15px;
                background-color: #bb0502;
                color: #fff;
                padding: 10px 20px;
                border: 1px solid #dd4b39;
                width: 20%;
                margin: 10px auto;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    border: 1px solid #bb0502;
                    background-color: #fff;
                    color: #bb0502;
                }
            }
        }
    }
}
</style>