<template>
    <div class="doctor-booking-specialist__container">
        <div class="content__wrapper">
            <div class="title">Tìm chính xác - đặt dễ dàng</div>
            <div class="search__wrapper">
                <input type="text" class="input-search" v-model="search" placeholder="Search">
                <div class="button-search" @click="onSearch ">
                    <img src="../../assets/svg/search.svg" alt="search">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="list-doctor">
                        <ItemDoctor v-for="(item,index) in dataDoctor" :key="index" :dataDoctor="item" />
                    </div>
                </div>
                <div class="col-md-4 info-hospital">
                    <card class="card-user ">
<!--                        src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"-->
                        <img slot="image" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                        <div class="info-medical">
                            <label>Địa chỉ:</label> <span>73 Nguyễn Hữu Thọ, Tp Đà Nẵng</span><br>
                            <label>Hệ thống tổng đài:</label><br>
                            <label>Tư vấn và đặt lịch khám:</label> <span>19002250 (7h00- 17h30 trừ lễ, tết)</span><br>
                            <label>Khối văn phòng:</label> <span>0236.3632.111 (7h00- 17h30 trừ Chủ nhật)</span><br>
                            <label>Cấp cứu:</label> <span>0236.3632.333 ( 24/7)</span><br>
                            <label>Email:</label> <span>family@familyhospital.vn</span><br>
                            <label>Giờ làm việc:</label> <span>06:00 đến 17:00 - Tất cả các ngày</span>
                        </div>
                    </card>
                </div>
            </div>



        </div>
    </div>
</template>

<script>
    import ItemDoctor from "./ItemDoctor";
    import {doctorService} from "../../services";

    export default {
        name: "DoctorBooking",
        components:{
            ItemDoctor
        },
        mounted(){
          this.fetchData();
        },
        data(){
          return{
              dataDoctor: {},
              search: ""
          }
        },
        computed:{

        },
        methods:{
            fetchData: async function () {
                let dataDoctor;
                if (this.search.length === 0) {
                    dataDoctor = await doctorService.getDoctorBySpecialist(this.$route.params.id);
                } else {
                    dataDoctor = await doctorService.searchNameBySpecialistId(this.$route.params.id, this.search);
                }
                this.dataDoctor = dataDoctor.data;
            },
            onSearch: function(){
                this.fetchData();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .doctor-booking-specialist__container {
        font-family: 'Baloo Bhai 2', cursive;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 7rem;
            left: 0;
            width: 100%;
            height: 300px;
            background-image: url("../../assets/img/banner.9fa9f5dbffa3fffcea32.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }

        .content__wrapper {
            position: relative;
            padding: 20px 4rem;
            margin: auto;
            z-index: 10;

            .title {
                font-weight: bold;
                margin-bottom: 30px;
                color: #24ae5d;
                text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                text-align: center;
                font-size: 40px;
            }

            .search__wrapper {
                display: flex;
                height: 3.5rem;

                .input-search {
                    width: 90%;
                    border: none;
                    border-right: 1px solid #e5e5e5;
                    padding-left: 20px;
                }

                .button-search {
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    background-color: #ffffff;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .list-doctor{
                display: flex;
                flex-direction: column;
                margin-top: 8rem;
                min-height: 10rem;
            }
            .info-hospital{
                margin-top: 8rem;
                .info-medical{
                    /*width: 40%;*/
                    /*margin: auto 1.5rem;*/
                    >label{
                        font-weight: bold;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
</style>