<template>
    <div class="enter-info__container">
        <div class="content-wrapper">
            <div class="profile-doctor">
                <img class="avatar" :src="dataDoctor.photo" alt="avatar">
                <div class="info">
                    <div class="name-doctor">{{dataDoctor.name}}</div>
                    <div class="phone-doctor"><b>Phone:</b> {{dataDoctor.phone}}</div>
                    <div class="email-doctor"><b>Email:</b> {{dataDoctor.email}}</div>
                    <div class="location-doctor"><b>Location:</b> {{dataDoctor.location}}</div>
                </div>
            </div>
            <div class="enter-info__wrapper">
                <div class="wrapper-button">
                    <div class="button" ref="you" @click="RegisterForYou">Đăng ký cho bạn</div>
                    <div class="button" ref="relatives" @click="RegisterForRelatives">Đăng ký cho người thân</div>
                </div>
                <div class="wrapper-content">
                    <div class="wraper-info-text">
                        <div class="input-info-base">
                            <div class="title">THÔNG TIN NGƯỜI KHÁM</div>
                            <base-input type="text"
                                        label="Họ Tên"
                                        v-model="dataInput.name"
                                        placeholder="Họ Tên">
                            </base-input>
                            <base-input type="text"
                                        label="Số Điện Thoại"
                                        v-model="dataInput.phone"
                                        placeholder="Số Điện Thoại">
                            </base-input>
                            <base-input type="text"
                                        label="Email"
                                        v-model="dataInput.email"
                                        placeholder="Email">
                            </base-input>
                            <base-input type="number"
                                        label="Tuổi"
                                        v-model="dataInput.old"
                                        placeholder="Tuổi">
                            </base-input>


                            <div class="input-sex">
                                <label> Giới Tính</label>
                                <select v-model="dataInput.sex" class="dropdown">
                                    <option disabled>&ndash; Select an Option &ndash;</option>
                                    <option>Nam</option>
                                    <option>Nữ</option>
                                </select>
                            </div>


                        </div>
                        <div class="input-info-additional">
                            <div class="title">TIỀN SỬ BỆNH - TRIỆU CHỨNG</div>
                            <textarea v-model="dataInput.anamnesis" rows="7" cols="60" placeholder="Tiền sử bệnh và triệu chứng"></textarea>
                            <div class="title">GHI CHÚ</div>
                            <textarea v-model="dataInput.note" rows="7" cols="60" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>

                    <div class="select-booking">
                        <div class="title">CHỌN THỜI GIAN KHÁM</div>
                        <div class="wrapper-select">
                            <Datetime input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                                      type="date"
                                      class="text-date"
                                      title="Date"
                                      :min-datetime="dayNow + 'T00:00:00.000+07:00'"
                                      v-model="searchDay"
                                      placeholder="Date"
                                      format="yyyy-MM-dd"
                                      value-zone='local'
                                      @input="setTime"
                                      zone='local'>
                            </Datetime>
                            <select v-model="timeBooking" class="dropdown" >
                                <option disabled>&ndash; Select an Option &ndash;</option>
                                <option :key="index" v-for="(item,index) in listTime">{{item.time_start}} - {{item.time_end}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="button-submit" @click="registerBooking">
                        Đăng Ký Khám
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Datetime} from 'vue-datetime';
    import {doctorService, patientService,DayOffService, bookingService} from "../../services";
    import {mapState, mapActions} from "vuex";
    export default {
        name: "EnterInfo",
        components:{
            Datetime
        },
        mounted(){
          this.fetchData();
          this.getDateNow();
            console.log("aaa")
        },
        computed:{

        },
        data(){
            return{
                dataDoctor:{},
                dataPatient: {},
                dataRelatives: {},
                stateBooking:'',
                dataInput:{},
                dayNow:"",
                searchDay: "",
                listTime:[],
                timeBooking: "",
            }
        },
        methods:{
            ...mapActions("booking",{
                actionSetDataBooking: 'setDataBooking',
            }),
            registerBooking: function(){
                if(this.dataInput.name.length !== 0 &&
                    this.dataInput.phone.length !== 0 &&
                    this.dataInput.email.length !== 0 &&
                    this.dataInput.old !== undefined &&
                    this.dataInput.sex.length !== 0 && this.searchDay.length !== 0 && this.timeBooking.length !== 0){
                    if(this.dataInput.anamnesis === undefined){
                        this.dataInput.anamnesis = "Không"
                    }
                    if(this.dataInput.note === undefined ){
                        this.dataInput.note = "Không"
                    }
                    this.dataInput.time_start = this.timeBooking.slice(0,5);
                    this.dataInput.time_end = this.timeBooking.slice(7,13);
                    this.dataInput.date = this.searchDay.slice(0,10);
                    this.dataInput.doctor = this.dataDoctor.name;
                    this.dataInput.doctorId= this.dataDoctor.id;
                    this.actionSetDataBooking(this.dataInput);
                    this.$router.push({ path: '/booking/confirm-booking' })
                }
            },
            fetchData:async function () {
                let dataDoctor = await doctorService.getDoctorByID(this.$route.params.id);
                let dataPatient = await patientService.getPatient(localStorage.getItem("id"))
                this.dataPatient= dataPatient.data;
                this.dataDoctor = dataDoctor.data;
                this.$refs.you.classList.add("active");
                this.stateBooking ='you';
                this.dataInput = this.dataPatient;
            },
            RegisterForYou: function(){
                this.stateBooking ='you';
                this.$refs.relatives.classList.remove("active");
                this.$refs.you.classList.add("active");
                this.dataInput = this.dataPatient;
            },
            RegisterForRelatives: function(){
                this.stateBooking ='relatives';
                this.$refs.you.classList.remove("active");
                this.$refs.relatives.classList.add("active");
                this.dataInput = this.dataRelatives;
            },
            getDateNow: function () {
                let date = new Date(Date.now());
                this.dayNow = `${this.addZero(date.getFullYear())}-${this.addZero(date.getMonth()+1)}-${date.getDate()}`
            },
            addZero: function (num) {
                if(num<10){
                    return "0"+num;
                }else return num
            },
            createListTime: function (timeStart, timeEnd) {
                let HStart = parseInt(timeStart.slice(0, 2));
                let MStart = parseInt(timeStart.slice(3, 5));

                let HEnd = parseInt(timeEnd.slice(0, 2));
                let MEnd = parseInt(timeEnd.slice(3, 5));
                while (HEnd > HStart) {
                    let VS = this.addZero(HStart) + ":" + this.addZero(MStart);
                    MStart = MStart + this.dataDoctor.minute;
                    if (MStart >= 60) {
                        HStart = HStart + 1;
                        MStart = MStart - 60;
                    }
                    if (HStart === HEnd && MEnd < MStart) break;
                    this.listTime.push({
                        time_start: VS,
                        time_end: this.addZero(HStart) + ":" + this.addZero(MStart),
                    });
                }
            },
            setTime: async function () {
                this.listTime = [];
                if(this.dataDoctor.time_start_morning){
                    let today = new Date();
                    let time = this.addZero(today.getHours()) + ":" + this.addZero(today.getMinutes());
                    this.createListTime(this.dataDoctor.time_start_morning, this.dataDoctor.time_end_morning);
                    this.createListTime(this.dataDoctor.time_start_afternoon, this.dataDoctor.time_end_afternoon);
                    let dataDayOff = await DayOffService.getDayOffInDate(this.searchDay.slice(0, 10),this.dataDoctor.id);
                    let booked = await bookingService.getBookingByDoctorAnDay(this.dataDoctor.id, this.searchDay.slice(0, 10));


                    for(let j = 0; j<dataDayOff.data.length ; j++ ){
                        for(let i = this.listTime.length -1 ; i >= 0; i--){

                            if(dataDayOff.data[j].time_start === this.dataDoctor.time_start_morning && dataDayOff.data[j].time_end === this.dataDoctor.time_end_morning ){
                                if(new Date(`${this.searchDay.slice(0, 10)}T${this.dataDoctor.time_end_morning.slice(0,5)}:00.000+07:00`) >= new Date(`${this.searchDay.slice(0, 10)}T${this.listTime[i].time_end}:00.000+07:00`))
                                    this.listTime.splice(i,1);
                            }
                            if(dataDayOff.data[j].time_start === this.dataDoctor.time_start_afternoon && dataDayOff.data[j].time_end === this.dataDoctor.time_end_afternoon ){
                                if(new Date(`${this.searchDay.slice(0, 10)}T${this.listTime[i].time_start}:00.000+07:00`) >= new Date(`${this.searchDay.slice(0, 10)}T${this.dataDoctor.time_start_afternoon.slice(0,5)}:00.000+07:00`))
                                {
                                    this.listTime.splice(i,1);
                                }
                            }
                            else if(dataDayOff.data[j].time_start === this.dataDoctor.time_start_morning && dataDayOff.data[j].time_end === this.dataDoctor.time_end_afternoon ){
                                this.listTime = [];
                                break;
                            }
                            else if(this.listTime[i].time_start === dataDayOff.data[j].time_start.slice(0,5) && this.listTime[i].time_end === dataDayOff.data[j].time_end.slice(0,5)){
                                this.listTime.splice(i,1);
                            }
                        }
                    }
                    for(let j = 0; j<booked.data.length ; j++ ){
                        for(let i = this.listTime.length -1 ; i >= 0; i--){
                            if(this.listTime[i].time_start === booked.data[j].time_start.slice(0,5) && this.listTime[i].time_end === booked.data[j].time_end.slice(0,5)){
                                this.listTime.splice(i,1);
                            }
                        }
                    }
                    let indexRemove = -1;
                    if(this.searchDay.slice(0, 10) === this.dayNow){
                        for(let i = 0 ; i < this.listTime.length ; i++){
                            if(new Date(`${this.dayNow}T${time}:00.000+07:00`) > new Date(`${this.searchDay.slice(0, 10)}T${this.listTime[i].time_start}:00.000+07:00`)){
                                indexRemove = i;
                            }else if(new Date(`${this.dayNow}T${time}:00.000+07:00`) <= new Date(`${this.searchDay.slice(0, 10)}T${this.dataDoctor.time_start_afternoon.slice(0,5)}:00.000+07:00`)){
                                for(let i = this.listTime.length -1 ; i >= 0; i--){
                                    if(new Date(`${this.searchDay.slice(0, 10)}T${this.listTime[i].time_end}:00.000+07:00`) <= new Date(`${this.searchDay.slice(0, 10)}T${this.dataDoctor.time_end_morning.slice(0,5)}:00.000+07:00`)){
                                        indexRemove = i;
                                        break;
                                    }
                                }
                            }else if(new Date(`${this.dayNow}T${time}:00.000+07:00`) > new Date(`${this.searchDay.slice(0, 10)}T${this.dataDoctor.time_end_afternoon.slice(0,5)}:00.000+07:00`)){
                                indexRemove = this.listTime.length;
                                break;
                            }else{
                                break;
                            }
                        }
                    }
                    if(indexRemove !== -1){
                        for (let  i = indexRemove ; i >= 0; i--){
                            this.listTime.splice(i,1);
                        }
                    }


                }

            }

        }
    }
</script>

<style lang="scss" scoped>
.enter-info__container{
    font-family: 'Baloo Bhai 2', cursive;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        height: 200px;
        background-image: url("../../assets/img/profile-header.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .content-wrapper{
        position: relative;
        padding: 0 7rem 2rem;
        margin: auto;
        z-index: 10;
        .profile-doctor{
            display: flex;
            .avatar{
                border-radius: 50%;
                border: 2px solid #838886;
                width: 10rem;
                height: 10rem;
                margin-right: 3rem;
            }
            .info{
                margin: auto 0;
                b{
                    margin-right: 5px;
                }
                .name-doctor{
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }
        .enter-info__wrapper{
            margin-top: 3rem;
            .wrapper-button{
                display: flex;
                .button{
                    background-color: #3a983e;
                    color: #fff;
                    width: 45%;
                    margin: 0 20px;
                    padding: 10px 30px;
                    text-align: center;
                    border-radius: 20px;
                    cursor: pointer;
                    border: 1px solid #2e981e;
                    &:hover{
                        background-color: #F5F7FA;
                        color: #000;
                        border: 1px solid #838886;
                    }
                    &.active{
                        background-color: #F5F7FA;
                        color: #000;
                        border: 1px solid #838886;
                    }
                }
            }
            .wrapper-content{
                .title{
                    font-size: 20px;
                    font-weight: bold;
                    color: #457ed0;
                }
                .wraper-info-text{
                    display: flex;
                    margin-top: 30px;
                    .input-info-base{
                        width: 45%;
                        margin-right: 10%;
                        .input-sex{
                            label{
                                display: block;
                            }
                            select{
                                width: 100%;
                                background-color: #FFFFFF;
                                border: 1px solid #E3E3E3;
                                border-radius: 4px;
                                color: #565656;
                                padding: 8px 12px;
                                height: 40px;
                                box-shadow: none;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .input-info-additional{
                        textarea{
                            overflow: auto;
                            resize: vertical;
                            background-color: #FFFFFF;
                            border: 1px solid #E3E3E3;
                            border-radius: 4px;
                            color: #565656;
                            padding: 8px 12px;
                            box-shadow: none;
                        }
                    }
                }

                .select-booking{
                    .wrapper-select{
                        display: flex;
                        margin-bottom: 20px;
                        .text-date{
                            background-color: #FFFFFF;
                            border: 1px solid #E3E3E3;
                            border-radius: 4px;
                            color: #565656;
                            padding: 8px 12px;
                            box-shadow: none;
                            height: 40px;
                            width: 47%;
                            margin-right: 6%;
                        }
                        .dropdown{
                            background-color: #FFFFFF;
                            border: 1px solid #E3E3E3;
                            border-radius: 4px;
                            color: #565656;
                            padding: 8px 12px;
                            box-shadow: none;
                            height: 40px;
                            width: 47%;

                        }
                    }
                }
                .button-submit{
                    border-radius: 10px;
                    background-color: #337ab7;
                    color: #F5F7FA;
                    width: 10rem;
                    padding: 5px 10px;
                    text-align: center;
                    margin: auto;
                    cursor: pointer;
                    &:hover{
                        background-color: #1D62F0;
                    }
                }
            }
        }
    }
}
</style>