<template>
    <div class="follow-up-examination__container">
        <div class="title">THÔNG BÁO LỊCH TÁI KHÁM CHI TIẾT</div>
        <div class="list-notify">
            <card class="card-notify" v-for="(item,index) in dataBookingTK" :key="index">
                <div class="code">Số đặt khám: #{{item.id}}</div>
                <div class="notify">
                    Lịch khám của bạn đã được xác nhận.
                </div>
                <div class="text">
                    Dưới đây là thông tin <b>xác nhận</b> lịch khám của bạn:
                </div>
                <div class="info-detail">
                    <div class="wrapper-text">
                        <label>Tên bác sĩ:</label>
                        <div>{{item.nameDoctor}}</div>
                    </div>
                    <hr>
                    <div class="wrapper-text">
                        <label>Bệnh nhân:</label>
                        <div>{{item.name}}</div>
                    </div>
                    <hr>
                    <div class="wrapper-text">
                        <label>Địa chỉ:</label>
                        <div>73 Nguyễn Hữu Thọ, Tp Đà Nẵng</div>
                    </div>
                    <hr>
                    <div class="wrapper-text">
                        <label>Ngày:</label>
                        <div>{{item.date}}</div>
                    </div>
                    <hr>
                    <div class="wrapper-text">
                        <label>Thời gian:</label>
                        <div>{{item.time_start.slice(0,5)}} - {{item.time_end.slice(0,5)}}</div>
                    </div>
                </div>
                <div class="text">
                    <b>Lưu ý:</b> Vui lòng có mặt <u>15 - 30 phút</u> trước giờ đặt khám và trình xác nhận này cho nhân viên phòng khám hoặc bác sĩ để được phục vụ chu đáo.
                </div>

            </card>

        </div>
    </div>
</template>

<script>
    import {Datetime} from 'vue-datetime';
    import {bookingService,doctorService} from "../../services";

    export default {
        name: "FollowUpExamination",
        components:{
            Datetime
        },
        mounted(){
            this.getDateNow();
            this.fetchData();
        },
        data(){
          return{
              dayNow:"",
              dataBookingTK: [],
          }
        },
        methods:{
            getDateNow: function () {
                let date = new Date(Date.now());
                this.dayNow = `${this.addZero(date.getFullYear())}-${this.addZero(date.getMonth()+1)}-${date.getDate()}`
            },
            addZero: function (num) {
                if(num<10){
                    return "0"+num;
                }else return num
            },


            fetchData: async function () {
                let dataBookingTK = await bookingService.getBookingInPatient(localStorage.getItem("id"));
                for(let bookingTK of dataBookingTK.data){
                    if(bookingTK.follow_up_examination === true &&
                        new Date(`${this.dayNow}T00:00:00.000+07:00`) <= new Date(`${bookingTK.date}T00:00:00.000+07:00`)){
                        let dataDoctor = await doctorService.getDoctorByID(bookingTK.doctorId);
                        bookingTK.nameDoctor = dataDoctor.data.HH + ", "+ dataDoctor.data.HV + ", " + dataDoctor.data.name;
                        this.dataBookingTK.push(bookingTK)
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .follow-up-examination__container {
        font-family: 'Baloo Bhai 2', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            margin: 20px 0;
            color: #ED8D00;
        }

        .list-notify {
            width: 50%;
            min-height: 460px;
            .card-notify {
                .code {
                    color: #1D62F0;
                    font-size: 18px;
                    font-weight: bold;
                }

                .notify {
                    margin: 10px 0;
                    color: #3a983e;
                    font-weight: bold;
                    font-size: 25px;
                }

                .text {

                }

                .info-detail {
                    padding: 10px;
                    margin: 10px 0;
                    background-color: #cdd2d0;

                    .wrapper-text {
                        display: flex;
                        .text-date{
                            background-color: #FFFFFF;
                            border: 1px solid #E3E3E3;
                            border-radius: 4px;
                            color: #565656;
                            padding: 8px 12px;
                            box-shadow: none;
                            height: 40px;
                            width: 47%;
                            margin-right: 6%;
                        }
                        .dropdown{
                            background-color: #FFFFFF;
                            border: 1px solid #E3E3E3;
                            border-radius: 4px;
                            color: #565656;
                            padding: 8px 12px;
                            box-shadow: none;
                            height: 40px;
                            width: 47%;

                        }
                        label {
                            font-size: 15px;
                            font-weight: bold;
                            color: #000;
                            margin-bottom: 0;
                            width: 5rem;
                            text-transform: initial;
                        }

                        font-weight: bold;
                    }
                }
                .wrapper-button{
                    display: flex;
                    justify-content: center;
                    .button-delete {
                        border-radius: 15px;
                        background-color: #bb0502;
                        color: #fff;
                        padding: 10px 20px;
                        border: 1px solid #dd4b39;
                        width: 20%;
                        margin: 10px auto;
                        text-align: center;
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid #bb0502;
                            background-color: #fff;
                            color: #bb0502;
                        }
                    }
                    .button-update {
                        border-radius: 15px;
                        background-color: #0066cb;
                        color: #fff;
                        padding: 10px 20px;
                        border: 1px solid #1D62F0;
                        width: 20%;
                        margin: 10px auto;
                        text-align: center;
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid #4FC1E9;
                            background-color: #fff;
                            color: #337ab7;
                        }
                    }
                }

            }
        }
    }
</style>