<template>
    <card >
        <div class="item-doctor">
            <img class="avatar border-gray" :src="dataDoctor.photo" alt="avatar">
            <div class="wrap-info">
                <div class="name">
<!--                    :to="{ name: 'user', params: { userId: 123 }}"-->
                    <router-link class="link-name" tag="span" :to="{ name: 'Detail Info Doctor', params: { id: dataDoctor.id }}">
                        {{dataDoctor.name}}
                    </router-link>
                    <span class="status">
                    <img v-b-tooltip.hover title="Chưa được xác nhận" src="../../assets/svg/signs.svg" v-if="dataDoctor.check === false">
                    <img v-b-tooltip.hover title="Đã được xác nhận" src="../../assets/svg/ui.svg" v-if="dataDoctor.check === true" >
                    </span>
                </div>
                <div class="specialist">Chuyên Khoa: {{name}} </div>
                <div class="detail"><span v-html="dataDoctor.summary"></span></div>
            </div>
            <div class="wrapper-button">
                <div class="price">Phí khám: {{dataDoctor.price}}đ</div>
<!--                <div class="button">Đặt Lịch Khám</div>-->
                <router-link class="button" tag="div" :to="{ name: 'Enter Info', params: { id: dataDoctor.id }}" >
                    Đặt Lịch Khám
                </router-link>
            </div>
        </div>
    </card>
</template>

<script>
    import {specialistService} from "../../services";
    import { VBTooltip } from 'bootstrap-vue'
    export default {
        name: "ItemDoctor",
        components:{
        },
        props:{
            dataDoctor: Object,
        },
        mounted() {
            this.fetchSpecialist();
        },
        computed:{
        },
        data(){
          return{
              name: "",
          }
        },
        methods:{
            fetchSpecialist: async function(){
                let data = await specialistService.getSpecialistById(this.dataDoctor.specialistId);
                this.name= data.data.name;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .item-doctor{
        display: flex;
        .avatar {
            height: 10rem;
            width: 10rem;
        }

        .wrap-info {
            width: calc( 100% - 20% - 10rem);
            padding:  0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .name{
                font-size: 25px;
                font-weight: bold;
                .link-name{
                    cursor: pointer;
                    &:hover{
                        color: #337ab7;
                    }
                }
                .status{
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .specialist{
                font-size: 18px;
                font-weight: bold;
                text-transform: initial;
            }
            .detail{

            }
        }
        .wrapper-button{
            width: 20%;
            padding-left: 20px;
            border-left: 1px solid #e5e5e5;
            .price{
                font-size: 15px;
                font-weight: bold;
                margin: 20px 0;
            }
            .button{
                background-color: #4CAF50;
                padding: 10px;
                font-size: 15px;
                color: #ffffff;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
                &:hover{
                    background-color: #4a9200;
                }
            }
        }
    }
</style>