<template>
    <div class="item-specialist__container" @click="bookingDoctor">
        <img :src="dataSpecialist.img" alt="...">
        <div class="title">{{dataSpecialist.name}}</div>
    </div>
</template>

<script>
    export default {
        name: "ItemSpecialist",
        props:{
            dataSpecialist: Object,
        },
        data(){
            return{

            }
        },
        methods:{
            bookingDoctor:function () {
                this.$router.push({name: "Doctor Booking Specialist", params: {id: this.dataSpecialist.id}})
            }
        }
    }
</script>

<style lang="scss" scoped>
.item-specialist__container{
    border-radius: 50%;
    border: 1px solid #337ab7;
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0.5rem 1rem;

    &:hover{
        background-color: #e6e8eb;
        .title{
            color: #337ab7;
        }
    }
    img{
        margin: 20px auto;
    }
    .title{
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }
}
</style>