<template>
    <div class="overview__container">
        <div class="content__wrapper">
            <div class="title">Tìm chính xác - đặt dễ dàng</div>
            <div class="search__wrapper">
                <select data-trigger="" class="dropdown-search">
                    <option>Bác sĩ</option>
                    <option>Chuyên Khoa</option>
                </select>
                <input type="text" class="input-search" placeholder="Search">
                <div class="button-search">
                    <img src="../../assets/svg/search.svg" alt="search">
                </div>
            </div>
            <div class="list-doctor">

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OverViewBooking"
    }
</script>

<style lang="scss" scoped>
    .overview__container{

        font-family: 'Baloo Bhai 2', cursive;
        &::before{
            content:'';
            display:block;
            position: absolute;
            top:7rem;
            left:0;
            width: 100%;
            height: 300px;
            background-image: url("../../assets/img/banner.9fa9f5dbffa3fffcea32.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }
        .content__wrapper{
            position: relative;
            padding: 20px 7rem;
            margin: auto;
            z-index: 10;
            .title{
               font-weight: bold;
                margin-bottom: 30px;
                color: #24ae5d;
                text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                text-align: center;
                font-size: 40px;
            }
            .search__wrapper{
                display: flex;
                height: 3.5rem;
                .dropdown-search{
                    width: 20%;
                    border: none;
                    padding-left: 10px;
                    border-right: 1px solid #e5e5e5;
                }
                .input-search{
                    width: 75%;
                    border: none;
                    border-right: 1px solid #e5e5e5;
                    padding-left: 20px;
                }
                .button-search{
                    width: 5%;
                    display: flex;
                    justify-content: center;
                    background-color: #ffffff;
                    align-items: center;
                    cursor: pointer;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
</style>