<template>
    <div class="specialist-booking__container">
        <div class="content__wrapper">
            <div class="title">Tìm chính xác - đặt dễ dàng</div>
            <div class="search__wrapper">
                <input type="text" v-model="searchSpecialist" class="input-search" placeholder="Search">
                <div class="button-search" @click="search">
                    <img src="../../assets/svg/search.svg" alt="search">
                </div>
            </div>
            <div class="list-specialist">
                <ItemSpecialist v-for="(item,index) in dataSpecialist" :key="index" :dataSpecialist="item"/>

            </div>
        </div>
    </div>
</template>

<script>
    import {specialistService} from "../../services";
    import ItemSpecialist from "./ItemSpecialist";
    export default {
        name: "SpecialistBooking",
        components:{
            ItemSpecialist
        },
        mounted(){
            this.fetchData();
        },
        data(){
            return{
                dataSpecialist:[],
                searchSpecialist:"",
            }
        },
        methods:{
            fetchData:async function () {
                if(this.searchSpecialist.length===0){
                    let dataSpecialist = await specialistService.getSpecialist();
                    this.dataSpecialist = dataSpecialist.data;
                }else{
                    let dataSpecialist = await specialistService.searchSpecialist(this.searchSpecialist);
                    this.dataSpecialist = dataSpecialist.data;
                }


            },
            search: function () {
                this.fetchData();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .specialist-booking__container {
        font-family: 'Baloo Bhai 2', cursive;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 7rem;
            left: 0;
            width: 100%;
            height: 300px;
            background-image: url("../../assets/img/banner.9fa9f5dbffa3fffcea32.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }

        .content__wrapper {
            position: relative;
            padding: 20px 7rem;
            margin: auto;
            z-index: 10;
            .title {
                font-weight: bold;
                margin-bottom: 30px;
                color: #24ae5d;
                text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                text-align: center;
                font-size: 40px;
            }

            .search__wrapper {
                display: flex;
                height: 3.5rem;

                .input-search {
                    width: 90%;
                    border: none;
                    border-right: 1px solid #e5e5e5;
                    padding-left: 20px;
                }

                .button-search {
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    background-color: #ffffff;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
        }
            .list-specialist{
                display: flex;
                flex-wrap: wrap;
                margin-top: 8rem;
                min-height: 10rem;
            }
        }
    }

</style>