@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2&display=swap');