<template>
    <div :class="['modal-info-user__container',{'show': isShowModalInfo }]">
        <transition name="fade">
            <div v-if="isShowModalInfo && !isClose" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Thông tin Bệnh Nhân</h4>
                    <button @click="handleCloseModal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                        <label>Họ Tên Bệnh Nhân:</label>
                        <div>{{userSelect.name}}</div>
                        <label>Số Điện Thoại:</label>
                        <div>{{userSelect.phone}}</div>
                        <label>Giới Tính:</label>
                        <div>{{userSelect.sex}}</div>
                        <label>Email:</label>
                        <div>{{userSelect.email}}</div>
                        <label>Tỉnh:</label>
                        <div>{{userSelect.province}}</div>
                        <label>Huyện:</label>
                        <div>{{userSelect.district}}</div>
                        <label>Địa chỉ chi tiết:</label>
                        <div>{{userSelect.location_detail}}</div>
                        <label>Tuổi:</label>
                        <div>{{userSelect.old}}</div>
                </div>

            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "InfoUser",
        mounted(){
        },
        props:{
            isShowModalInfo: Boolean,
            userSelect: Object,
        },
        computed:{
        },
        data(){
            return{
                isClose: false,
            }
        },
        methods:{
            handleCloseModal: function () {
                this.isClose = true;
                let vm = this;
                setTimeout(()=>{
                    vm.$emit('handleShowModalInfo');
                    vm.isClose = false;
                },500)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }

    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }

    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }

    .modal-info-user__container {
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        visibility: hidden;

        &.show {
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            visibility: inherit;
        }

        .modal-content {
            overflow: hidden;
            top: 2rem;
            width: 80%;
            height: fit-content;
            font-weight: bold;

            .modal-header {
                height: 50px;
                margin: auto 0;
                padding: 0.5rem;

                .close {
                    padding: 0;
                    margin: auto 1rem;
                }
            }

            .modal-body {
                display: grid;
                grid-template-columns: 10rem auto;
                font-size: 15px;

            }
        }
    }
</style>