<template>
    <div :class="['modal-info-doctor__container',{'show': isShowModalInfor }]">
        <transition name="fade">
            <div v-if="isShowModalInfor && !isClose" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Thông tin bác sĩ</h4>
                    <button @click="handleCloseModal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <img
                        border="0"
                        class="img-circle" height="140" name="aboutme" :src="doctorSelect.photo" width="140">
                    <h3 class="name">{{doctorSelect.name}}</h3>
                    <div class="skill"><img src="../../assets/svg/skills.svg" alt="skill">{{specialist(doctorSelect.specialistId)}}</div>
                    <div class="location"><img src="../../assets/svg/location.svg" alt="location">{{doctorSelect.location}}</div>
                    <div class="profile">
                        <label>Quy Trình Đào Tạo:</label>
                        <div><span v-html="doctorSelect.training_process"></span></div>
                        <label>Sách và các công trình nghiên cứu, báo cáo khoa học:</label>
                        <div><span v-html="doctorSelect.research_works"></span></div>
                        <label>Giáo sư Khám, điều trị các bệnh:</label>
                        <div><span v-html="doctorSelect.treatment_diseases"></span></div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import {specialistService} from "../../services";

    export default {
        name: "InforDoctor",
        mounted(){

        },
        computed:{},
        props:{
            isShowModalInfor: Boolean,
            doctorSelect: Object,
        },
        data(){
            return{
                isClose: false,
                nameSpecialist : {},
            }
        },
        methods:{
            getSpecialistDoctor: async function(id){
                let data = await specialistService.getSpecialistById(id);
                this.nameSpecialist =  data.data.name;
            },
            specialist: function(id){
                this.getSpecialistDoctor(id);
                return this.nameSpecialist;
            },
            handleCloseModal: function () {
                this.isClose = true;
                let vm = this;
                setTimeout(()=>{
                    vm.$emit('handleShowModalInfor');
                    vm.isClose = false;
                },500)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }
    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }
    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }
.modal-info-doctor__container{
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    &.show{
        background: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        visibility: inherit;
    }
    .modal-content{
        overflow: hidden;
        top: 2rem;
        width: 80%;
        height: fit-content;
        font-weight: bold;
        .modal-header{
            height: 50px;
            margin: auto 0;
            padding: 0.5rem;
            .close{
                padding: 0;
                margin: auto 1rem;
            }
        }
        .modal-body{
            display: grid;
            grid-template-columns: 10rem 10rem auto;
            grid-template-rows: 6rem 4rem 320px;
            font-size: 15px;
            .img-circle{
                margin: auto;
                grid-row: span 2;
                border-radius: 50%;
            }
            .name{
                margin-top: auto;
                grid-column: span 2;
            }
            .skill{
                margin: 0 10px;
                color: #838886;
                display: flex;
                align-items: baseline;
                >img{
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }
            .location{
                margin: 0 10px;
                color: #838886;
                display: flex;
                align-items: baseline;
                >img{
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }
            .profile{
                border-top: 1px solid #eee;
                font-size: 0.9rem;
                grid-column: span 3;
                overflow: auto;
                label{
                    font-size: 18px;
                    text-transform: uppercase;
                    text-decoration: underline;
                }
                div{
                    margin: 0 0 5px 15px;
                    white-space: pre-line;
                }
            }
        }
    }
}
</style>