<template>
    <div :class="['modal_container',{'show': isShowLogin }]">
        <transition name="fade">
            <div v-if="isShowLogin" class="modal-content">
                <div class="modal-body">
                    <button @click="() => this.$emit('triggerLogin')" class="close">&times;</button>
                    <h4>Login</h4>
                        <input class="username form-control" name="email" v-model="email" placeholder="Email" type="text"/>
                        <input class="password form-control" name="password" v-model="password" placeholder="Password" type="password"/>
                    <div class="notify">{{notify}}</div>
                    <button class="btn login" @click="onLogin" >Login</button>
                    <router-link tag="div" to="/registerSingle" class="link">Register now!</router-link>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { userService } from '@/services';
    import {MD5} from "../../utils/MD5";
    import {mapState, mapActions} from "vuex";

    export default {
        name: "ModalLogin",
        props:{
            isShowLogin : Boolean,
        },
        data(){
            return{
                email:"",
                password:"",
                notify:"",
            }
        },
        methods:{
            ...mapActions("user", {
                actionSetUser: "setUser",
            }),
            onLogin:async function () {
                if( this.email.length !== 0 && this.password.length !== 0 ){
                    let responseAdmin = await userService.loginAdmin(this.email, MD5.md5(this.password));
                    let responseDoctor = await userService.loginDoctor(this.email, MD5.md5(this.password));
                    let responsePatient = await userService.loginPatient(this.email, MD5.md5(this.password));
                    console.log(responsePatient)
                    if(responseAdmin.data.length === 0 && responseDoctor.data.length === 0 && responsePatient.data.length === 0){
                        this.notify = "email hoặc password chưa đúng !"
                    }else if(responseAdmin.data.length !== 0){
                        localStorage.setItem("token",MD5.md5(this.password));
                        localStorage.setItem("id",responseAdmin.data[0].id);
                        localStorage.setItem("typeUser","Admin");
                        localStorage.setItem("Email",this.email);
                        this.$emit('triggerLogin');
                        // this.actionSetUser(responseAdmin.data[0].id,"Admin", this.email)
                    }else if(responseDoctor.data.length !== 0){
                        localStorage.setItem("token",MD5.md5(this.password));
                        localStorage.setItem("id",responseDoctor.data[0].id);
                        localStorage.setItem("typeUser","Doctor");
                        localStorage.setItem("Email",this.email);
                        this.$emit('triggerLogin');
                        // this.actionSetUser(responseDoctor.data[0].id,"Doctor",this.email);
                    // }else if(responsePatient.data.length !== 0){
                    }else if(responsePatient.data){
                        localStorage.setItem("token",MD5.md5(this.password));
                        localStorage.setItem("id",responsePatient.data[0].id);
                        localStorage.setItem("typeUser","Patient");
                        localStorage.setItem("email",this.email);
                        this.$emit('triggerLogin');
                        // this.actionSetUser(responsePatient.data[0].id,"Patient",this.email);
                    }

                }
            }
        }
    };
</script>


<style scoped lang="scss">

.fade-enter-active, .fade-leave-active {
    transition: transform 0.5s, opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}
.fade-enter-to, .fade-leave {
    transform: translateY(0%);
    opacity: 1;
}
.modal_container{
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s linear 0.1s, visibility 1s, all 0.5s;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    &.show{
        background: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        visibility: inherit;
    }
    .modal-content {
        overflow: hidden;
        top: 5rem;
        width: 30%;
        height: 20rem;
        font-weight: bold;
        background: linear-gradient(to bottom right, #3a983e, #4a9200);
        .close {
            color: #fff;
            transform: scale(1.2)
        }
        h4 {
            font-weight: bold;
            color: #fff;
            text-align: center;
        }
        .form-control {
            margin: 1em 0;
            &:hover, &focus{
                box-shadow: none;
                border-color: #fff;
            }
        }
        .form-control::-webkit-input-placeholder {
            color: #eee;
        }
        .form-control:focus::-webkit-input-placeholder {
            font-weight: bold;
            color: #fff;
        }
        .username, .password {
            border: none;
            border-radius: 0;
            box-shadow: none;
            border-bottom: 2px solid #eee;
            padding-left: 0;
            font-weight: normal;
            background: transparent;
        }
        .notify{
            color: red;
        }
        .login {
            padding: 6px 20px;
            border-radius: 20px;
            background: none;
            border: 2px solid #FAB87F;
            color: #FAB87F;
            font-weight: bold;
            transition: all .5s;
            margin-top: 1em;
            width: 100%;
            &:hover {
                background: #FAB87F;
                color: #fff;
            }
        }
        .link{
            margin-top: 1em;
            cursor: pointer;
            color: #fff;
            transition: all .5s;
            text-decoration: underline;
            &:hover{
                color: #FAB87F;
            }
        }
    }
}
</style>
