<template>
    <div :class="['modal-detail-doctor__container',{'show': isShowModalDetail }]">
        <transition name="fade">
            <div class="modal-content" v-if="isShowModalDetail && !isClose">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Thông tin bác sĩ</h4>
                    <button @click="handleCloseModal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="wrapper-img">
                        <img
                            :src="doctorSelect.photo"
                            border="0" class="img-circle" height="140" name="aboutme" width="140">
                        <input type="file" @change="processFile($event)">
                    </div>

                    <h3 class="name">
                        <input type="text"
                               class="input"
                               style="width: 90%"
                               placeholder="Input Name Doctor"
                               v-model="doctorSelect.name"
                               required
                        >
                    </h3>
                    <div class="location">
                        <img alt="location" src="../../assets/svg/location.svg">
                        <input type="text" class="input" v-model="doctorSelect.location" required>
                    </div>
                    <div class="profile">
                        <label>Email:</label>
                        <input class="input" v-model="doctorSelect.email" required/>
                        <label v-if="doctorSelect.id === undefined">Password:</label>
                        <input v-if="doctorSelect.id === undefined" class="input" v-model="doctorSelect.password" type="password" required/>
                        <label>Phone:</label>
                        <input class="input" v-model="doctorSelect.phone" required/>
                        <label>specialist:</label>
                        <div>
                            <select  v-model="doctorSelect.specialistId">
                                <option disabled >&ndash; Select an Option &ndash;</option>
                                <option :value="item.id" :key="index" v-for="(item,index) in listKhoa">{{item.name}}</option>
                            </select>
                        </div>

                        <label>Price:</label>
                        <input class="input" type="number" v-model="doctorSelect.price" required/>
                        <label>Tóm Lượt:</label>
                        <vue-editor v-model="doctorSelect.summary"></vue-editor>
                        <label>Quy Trình Đào Tạo:</label>
                        <vue-editor v-model="doctorSelect.training_process"></vue-editor>
                        <label>Sách và các công trình nghiên cứu, báo cáo khoa học:</label>
                        <vue-editor v-model="doctorSelect.research_works"></vue-editor>
                        <label>Giáo sư Khám, điều trị các bệnh:</label>
                        <vue-editor v-model="doctorSelect.treatment_diseases"></vue-editor>
                    </div>
                    <button v-if="doctorSelect.id !== undefined" class="btn btn-success" @click="onSave">Save</button>
                    <button v-if="doctorSelect.id === undefined" class="btn btn-success" @click="onAdd">Add</button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import {VueEditor} from "vue2-editor";
    import {doctorService,uploadService,specialistService} from "../../services";

    export default {
        name: "ModalDetailDoctor",
        components:{
            VueEditor
        },
        mounted(){
            this.loadSpecialist();
        },
        computed: {

        },
        props:{
            isShowModalDetail: Boolean,
            doctorSelect: Object,
        },
        data(){
            return{
                isClose: false,
                file: "",
                listKhoa: [],
            }
        },
        methods:{
            loadSpecialist:async function(){
                let dataSpecialist = await specialistService.getSpecialist();
                this.listKhoa=[];
                for(let khoa of dataSpecialist.data){
                    this.listKhoa.push(khoa)
                }
            },
            processFile: function(event){
                this.file = event.target.files[0];
                let fr = new FileReader();
                fr.onload = () => this.doctorSelect.photo = fr.result;
                fr.readAsDataURL(this.file);
            },
            onAdd: async function(){
                if(this.file.length !== 0){
                    await uploadService.postFileImg(this.file);
                    this.doctorSelect.photo = `http://localhost:3000/api/uploads/image/download/${this.file.name}`;
                }
                this.doctorSelect.price = Number(this.doctorSelect.price);
                this.doctorSelect.specialistId = Number(this.doctorSelect.specialistId);
                if( this.doctorSelect.email !== undefined &&
                    this.doctorSelect.name !== undefined &&
                    this.doctorSelect.password !== undefined &&
                    this.doctorSelect.specialistId !== undefined &&
                    this.doctorSelect.price !== undefined ){
                    await doctorService.CreateDoctor(this.doctorSelect);
                    this.$emit("ReloadListDoctor");
                    this.handleCloseModal();
                }

            },
            onSave:async function(){
                if(this.file.length !== 0){
                    await uploadService.postFileImg(this.file);
                    this.doctorSelect.photo = `http://localhost:3000/api/uploads/image/download/${this.file.name}`;
                }
                this.doctorSelect.price = Number(this.doctorSelect.price);
                await doctorService.updateDoctor(this.doctorSelect);
                this.$emit("ReloadListDoctor");
                this.handleCloseModal();
            },
            handleCloseModal: function () {
                this.isClose = true;
                let vm = this;
                setTimeout(()=>{
                    vm.$emit('handleShowModalDetail');
                    vm.isClose = false;
                },500)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }

    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }

    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }

    .modal-detail-doctor__container {
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        visibility: hidden;

        &.show {
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            visibility: inherit;
        }

        .modal-content {
            overflow: hidden;
            top: 2rem;
            width: 80%;
            height: fit-content;
            font-weight: bold;

            .modal-header {
                height: 50px;
                margin: auto 0;
                padding: 0.5rem;

                .close {
                    padding: 0;
                    margin: auto 1rem;
                }
            }

            .modal-body {
                display: grid;
                grid-template-columns: 12rem 10rem auto;
                grid-template-rows: 6rem 7rem 260px;
                font-size: 15px;
                .wrapper-img{
                    display: grid;
                    grid-template-columns: 12rem;
                    grid-template-rows: 7rem 3rem;
                }
                .input{
                    display: block;
                    border: 1px solid #eee;
                    border-radius: 5px;
                    padding: 0 20px;
                }
                .img-circle {
                    background-color: #7b7b7b;
                    margin: auto;
                    grid-row: span 2;
                    border-radius: 50%;
                }

                .name {
                    margin-top: auto;
                    grid-column: span 2;
                }

                .skill {
                    margin: 0 10px;
                    color: #838886;
                    display: flex;
                    align-items: baseline;

                    > img {
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;
                    }
                }

                .location {
                    margin: 0 10px;
                    color: #838886;
                    display: flex;
                    align-items: baseline;
                    grid-column: span 1/3;
                    > img {
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;
                    }
                }

                .profile {
                    border-top: 1px solid #eee;
                    font-size: 0.9rem;
                    grid-column: span 3;
                    overflow: auto;

                    label {
                        font-size: 18px;
                        text-transform: uppercase;
                        text-decoration: underline;
                    }

                    div {
                        /*margin: 0 0 5px 15px;*/
                        white-space: pre-line;
                    }
                }
                .btn{
                    grid-column: span 3;
                }
            }
        }
    }
</style>