<template>
    <div :class="['modal-info-specialist__container',{'show': isShowModalInfoSpecialist }]">
        <transition name="fade">
            <div v-if="isShowModalInfoSpecialist && !isClose" class="modal-content">
                <div class="modal-header">
                    <h4 v-if="!isPageAdmin" class="modal-title">{{dataInfo.name}}</h4>
                    <h4 v-if="isPageAdmin" class="modal-title" >Thông Tin Khoa</h4>
                    <button @click="handleCloseModal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <label v-if="isPageAdmin">Tên Khoa: </label>
                    <div v-if="isPageAdmin">{{dataInfo.name}}</div>
                    <label v-if="!isPageAdmin">Số Bác Sĩ: </label>
                    <div v-if="!isPageAdmin">{{dataInfo.totalDoctors}}</div>
                    <label>Thông tin khoa: </label>
                    <div><span v-html="dataInfo.detail"></span></div>
                    <router-link class="btn-primary btn btn-add-date"
                                 tag="button"
                                 v-if="!isPageAdmin"
                                 :to="{ name: 'listDoctorHasId', params: { id: dataInfo.id }}">Đặt Lịch</router-link>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import {Datetime} from 'vue-datetime';

    export default {
        name: "ModalAddDate",
        components:{
            Datetime,
        },
        mounted(){
            this.isPageAdmin = this.$router.currentRoute.path ==="/manageViewer" ? true : false;
            this.isPatient = localStorage.getItem('typeUser') === 'Patient' ? true : false;
        },
        props:{
            isShowModalInfoSpecialist: Boolean,
            dataInfo: Object,
        },
        computed:{

        },
        data(){
            return{
                isPatient: false,
                isClose: false,
                isPageAdmin: false,
            }
        },
        methods:{
            handleCloseModal: function () {
                this.isClose = true;
                let vm = this;
                setTimeout(()=>{
                    vm.$emit('handleShowModalInfoSpecialist');
                    vm.isClose = false;
                },500)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }

    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }

    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }

    .modal-info-specialist__container{
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        visibility: hidden;

        &.show {
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            visibility: inherit;
        }

        .modal-content {
            overflow: hidden;
            top: 5rem;
            width: 80%;
            height: fit-content;
            font-weight: bold;

            .modal-header {
                height: 50px;
                margin: auto 0;
                padding: 0.5rem;

                .close {
                    padding: 0;
                    margin: auto 1rem;
                }
            }

            .modal-body {
                display: grid;
                grid-template-columns: 5rem auto;
                font-size: 15px;
                max-height: 30rem;
                overflow: auto;
                .btn-add-date{
                    margin: 10px auto;
                    width: 100px;
                    grid-column: 1 / span 2;
                }
            }
        }
    }
</style>