<template>
    <div :class="['modal-detail-specialist__container',{'show': isShowModalDetailSpecialist }]">
        <transition name="fade">
            <div v-if="isShowModalDetailSpecialist && !isClose" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Thông Tin Khoa</h4>
                    <button @click="handleCloseModal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <label>Tên Khoa: </label>
                    <input type="text" v-model="dataDoctor.name">
                    <label>Thông tin khoa: </label>
                    <VueEditor v-model="dataDoctor.detail"></VueEditor>
                </div>
                <div v-if="dataDoctor.id === undefined" class="btn btn-success" @click="onAdd"> Add</div>
                <div v-if="dataDoctor.id !== undefined" class="btn btn-primary" @click="onSave"> Save</div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { VueEditor } from "vue2-editor";
    import {specialistService} from "../../services";

    export default {
        name: "ModalDetailSpecialist",
        components:{
            VueEditor
        },
        mounted(){
        },
        props:{
            isShowModalDetailSpecialist: Boolean,
            dataDoctor: Object,
        },
        computed:{

        },
        data(){
            return{
                isClose: false,
            }
        },
        methods:{
            onAdd: async function(){
                await specialistService.postSpecialty(this.dataDoctor);
                this.$emit("ReloadSpecialist");
                this.handleCloseModal();
            },
            onSave: async function(){
                await specialistService.updateSpecialty(this.dataDoctor);
                this.$emit("ReloadSpecialist");
                this.handleCloseModal();
            },
            handleCloseModal: function () {
                this.isClose = true;
                let vm = this;
                setTimeout(()=>{
                    vm.$emit('handleShowModalDetailSpecialist');
                    vm.isClose = false;
                },500)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }

    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }

    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }

    .modal-detail-specialist__container{
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        visibility: hidden;

        &.show {
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            visibility: inherit;
        }

        .modal-content {
            overflow: hidden;
            top: 2rem;
            width: 80%;
            height: fit-content;
            font-weight: bold;

            .btn{
                margin: 10px 5px;
                cursor: pointer;
            }
            .modal-header {
                height: 50px;
                margin: auto 0;
                padding: 0.5rem;

                .close {
                    padding: 0;
                    margin: auto 1rem;
                }
            }

            .modal-body {
                display: grid;
                grid-template-columns: 5rem auto;
                grid-gap: 10px;
                font-size: 15px;
                max-height: 30rem;
                overflow: auto;
                .btn-add-date{
                    margin: 10px auto;
                    width: 100px;
                    grid-column: 1 / span 2;
                }
            }
        }
    }
</style>