<template>
    <div :class="['modal-add-date__container',{'show': isShowModalAddDate }]">
        <transition name="fade">
            <div v-if="isShowModalAddDate && !isClose" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Date</h4>
                    <button @click="handleCloseModal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <label>Date: </label>
                    <Datetime input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                              type="date"
                              v-model="dateAdd"
                              title="Add Date"
                              format="dd-MM-yyyy">
                    </Datetime>
                    <button class="btn-primary btn btn-add-date" @click="onAddDate">Add Date</button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { Datetime } from 'vue-datetime';
    export default {
        name: "ModalAddDate",
        components:{
            Datetime,
        },
        mounted(){
        },
        props:{
            isShowModalAddDate: Boolean,
            dateEdit: String,
        },
        computed:{

        },
        data(){
            return{
                dateAdd: "",
                isClose: false,
            }
        },
        methods:{
            onAddDate: function(){
                if(this.dateAdd.length !== 0){
                    this.$emit('emitAddDate', this.dateAdd);
                    this.handleCloseModal();
                }
            },
            handleCloseModal: function () {
                this.isClose = true;
                let vm = this;
                setTimeout(()=>{
                    vm.$emit('handleShowModalAddDate');
                    vm.isClose = false;
                },500)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }

    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }

    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }

    .modal-add-date__container {
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        visibility: hidden;

        &.show {
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            visibility: inherit;
        }

        .modal-content {
            overflow: hidden;
            top: 10rem;
            width: 50%;
            height: fit-content;
            font-weight: bold;

            .modal-header {
                height: 50px;
                margin: auto 0;
                padding: 0.5rem;

                .close {
                    padding: 0;
                    margin: auto 1rem;
                }
            }

            .modal-body {
                display: grid;
                grid-template-columns: 5rem auto;
                font-size: 15px;
                .btn-add-date{
                    margin: 10px auto;
                    width: 100px;
                    grid-column: 1 / span 2;
                }
            }
        }
    }
</style>