<template>
    <div :class="['modal-edit-time__container',{'show': isShowModalEditTime }]">
        <transition name="fade">
            <div v-if="isShowModalEditTime && !isClose" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Edit Time</h4>
                    <button @click="handleCloseModal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <label>Time Start:</label>
                    <Datetime input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                              type="time"
                              :placeholder="dataEditTime.time_start"
                              value-zone='local'
                              zone='local'
                              v-model="timeStart"
                              title="time start">
                    </Datetime>
                    <label>Time End:</label>
                    <Datetime input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                              type="time"
                              :placeholder="dataEditTime.time_end"
                              v-model="timeEnd"
                              zone='local'
                              value-zone='local'
                              title="time end">
                    </Datetime>
                    <label>Limit:</label>
                    <input :placeholder="dataEditTime.limit" class="input-limit" v-model="limit" />
                    <button class="btn btn-primary btn-edit-time" @click="onEditTime">Edit Time</button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { Datetime } from 'vue-datetime';
    import { Settings } from 'luxon'
    export default {
        name: "ModalEditTime",
        components:{
            Datetime
        },
        mounted(){
        },
        props:{
            isShowModalEditTime: Boolean,
            dataEditTime:Object,
        },
        computed:{

        },
        data(){
            return{
                timeStart:"",
                timeEnd:"",
                limit:"",
                isClose: false,
            }
        },
        methods:{
            onEditTime: function(){
                if(this.timeStart.length !== 0 && this.timeEnd.length !== 0 && this.limit.length !== 0){
                    // Settings.defaultLocale = 'en';
                    let data = this.dataEditTime;
                    data.time_start = this.timeStart.slice(11,16);
                    data.time_end = this.timeEnd.slice(11,16);
                    data.limit = this.limit;
                    console.log("time",this.timeStart.slice(11,16),this.timeEnd.slice(11,16))
                    this.$emit('emitEditTime', data);
                    this.handleCloseModal();
                }
            },
            handleCloseModal: function () {
                this.timeStart="";
                this.timeEnd="";
                this.limit="";
                this.isClose = true;
                let vm = this;
                setTimeout(()=>{
                    vm.$emit('handleShowModalEditTime');
                    vm.isClose = false;
                },500)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }

    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }

    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }

    .modal-edit-time__container {
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        visibility: hidden;

        &.show {
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            visibility: inherit;
        }

        .modal-content {
            overflow: hidden;
            top: 10rem;
            width: 50%;
            height: fit-content;
            font-weight: bold;

            .modal-header {
                height: 50px;
                margin: auto 0;
                padding: 0.5rem;

                .close {
                    padding: 0;
                    margin: auto 1rem;
                }
            }

            .modal-body {
                display: grid;
                grid-template-columns: 5rem auto;
                font-size: 15px;
                .input-limit{
                    border: none;
                    border-bottom: 1px solid rgb(204, 204, 204);
                }
                .btn-edit-time{
                    margin: 10px auto;
                    width: 100px;
                    grid-column: 1 / span 2;
                }
            }
        }
    }
</style>