<template>
    <div :class="['modal-check-booking_container',{'show': isShowCheckBooking }]">
        <transition name="fade">
            <div v-if="isShowCheckBooking && !isOff" class="modal-content">
                <img v-if="!isTriggerOK" class="icon-warning" src="../../assets/svg/warning.svg"/>
                <div v-if="isTriggerOK" class="icon icon--order-success svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="80px">
                        <g fill="none" stroke="#8EC343" stroke-width="5">
                            <circle cx="36" cy="36" r="33" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                            <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                        </g>
                    </svg>
                </div>
                <div class="text-notify">
                    {{isTriggerOK ? Success : Question}}
                </div>
                <div class="button__wrapper">
                    <div class="btn btn-ok" @click="BookingTime">OK</div>
                    <div class="btn btn-cancel" @click="CancelBookingTime">Cancel</div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "ModalCheckBooking",
        props:{
            isShowCheckBooking:Boolean,
        },
        computed:{
            Question:()=>"Bạn có muốn đặt lịch ?",
            Success:()=>"Đặt lịch thành công."
        },
        data(){
            return{
                isTriggerOK: false,
                isBooking: false,
                isOff: false,
            }
        },
        methods:{
            BookingTime: function () {
                if(!this.isTriggerOK){
                    let vm = this;
                    this.isTriggerOK = true;
                    this.$emit("setBooking")
                    setTimeout(()=>{
                        vm.isOff = true;
                    },1300);
                    setTimeout(()=>{
                        vm.$emit('changeStateShowModal');
                        this.isTriggerOK = false;
                        vm.isOff = false;
                    },1800);
                }
            },
            CancelBookingTime: function () {
                if(!this.isOff){
                    let vm = this;
                    this.isOff = true;
                    setTimeout(()=>{
                        vm.$emit('changeStateShowModal');
                        this.isTriggerOK = false;
                        vm.isOff = false;
                    },500);
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }
    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }
    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }

    @keyframes checkmark {
        0% {
            stroke-dashoffset: 50px
        }

        100% {
            stroke-dashoffset: 0
        }
    }

    @keyframes checkmark-circle {
        0% {
            stroke-dashoffset: 240px
        }

        100% {
            stroke-dashoffset: 480px
        }
    }
    .modal-check-booking_container{
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        visibility: hidden;
        &.show{
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            visibility: inherit;
        }
        .modal-content {
            display: grid;
            grid-auto-rows: 6rem 1fr auto;
            overflow: hidden;
            top: 5rem;
            width: 30%;
            min-width: 250px;
            height: 18rem;
            font-weight: bold;
            background: #ffffff;
            .icon-warning{
                width: 80px;
                height: 80px;
                margin: 10px auto;
            }
            .icon--order-success {
                margin: 10px auto;
                text-align: center;
                svg{
                    margin: auto;
                    display: inline;
                    path {
                        animation: checkmark 0.25s ease-in-out 0.7s backwards;
                        animation-delay: 0.75s;
                    }
                    circle {
                        animation: checkmark-circle 0.6s ease-in-out backwards;
                        animation-delay: 0.1s;
                    }
                }
            }
            .text-notify{
                font-size: 34px;
                padding: 0 20px;
                text-align: center;
                margin: auto;
            }
            .button__wrapper{
                width: 100%;
                display: flex;
                .btn-ok{
                    border-right: 2px solid #E8E8E8;
                    &:hover{
                        background-color: #3a983e;
                        color: #fff;
                    }
                }
                .btn-cancel{
                    &:hover{
                        background-color: #E8E8E8;
                    }
                }
                .btn{
                    font-weight: bold;
                    font-size: 15px;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    border-top: 2px solid #E8E8E8;
                    border-radius: initial;
                }
            }
        }
    }

</style>