<template>
    <div :class="['modal-detail-user__container',{'show': isShowModalDetail }]">
        <transition name="fade">
            <div v-if="isShowModalDetail && !isClose" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Thông tin Bệnh Nhân</h4>
                    <button @click="handleCloseModal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                        <label>Họ Tên Bệnh Nhân:</label>
                        <input class="input" type="text" v-model="userSelect.name">
                        <label>Số Điện Thoại:</label>
                        <input class="input" type="text" v-model="userSelect.phone">
                        <label>Giới Tính:</label>
                        <select v-model="userSelect.sex" class="dropdown">
                            <option >{{userSelect.sex}}</option>
                            <option disabled >&ndash; Select an Option &ndash;</option>
                            <option>Nam</option>
                            <option>Nữ</option>
                        </select>
                        <label>Email:</label>
                        <input class="input" type="text" v-model="userSelect.email">
                        <label>Tỉnh:</label>
                        <select v-model="userSelect.province" class="dropdown">
                            <option >{{userSelect.province}}</option>
                            <option disabled >&ndash; Select an Option &ndash;</option>
                            <option :key="index" v-for="(item,index) in listProvinces">{{item._name}}</option>
                        </select>
                        <label>Huyện:</label>
                        <select v-model="userSelect.district" class="dropdown">
                            <option >{{userSelect.district}}</option>
                            <option disabled >&ndash; Select an Option &ndash;</option>
                            <option :key="index" v-for="(item,index) in listDistrict">{{item._name}}</option>
                        </select>
                        <label>Địa chỉ chi tiết:</label>
                        <input class="input" type="text" v-model="userSelect.location_detail">
                        <label>Tuổi:</label>
                        <input class="input" type="number" v-model="userSelect.old">
                </div>
                <div class="btn btn-success" @click="onSave">Save</div>
            </div>
        </transition>
    </div>
</template>

<script>
    import {locationService,patientService} from "../../services";

    export default {
        name: "InfoUser",
        mounted(){
            this.loadLocation();
        },
        props:{
            isShowModalDetail: Boolean,
            userSelect: Object,
        },
        computed:{
             listDistrict (){
                 this.loadDistrict()
                return this.listDistrictData;
            }
        },
        data(){
            return{
                isClose: false,
                listProvinces: [],
                listDistrictData: [],
            }
        },
        methods:{
            onSave: async function(){
                await patientService.updatePatientOfAdmin(this.userSelect);
                this.handleCloseModal();
            },
            loadDistrict: async function(){
                if(this.userSelect.province !== null){
                    if(this.userSelect.province.length !== 0){
                        let id = await locationService.getIdByName(this.userSelect.province);
                        let data = await locationService.getCity(id.data[0].id);
                        this.listDistrictData = data.data;
                    }
                }

            },
            loadLocation:async function(){
                let data = await locationService.getLocation();
                this.listProvinces = data.data;
            },
            handleCloseModal: function () {
                this.isClose = true;
                let vm = this;
                setTimeout(()=>{
                    vm.$emit('handleShowModalDetailPatient');
                    vm.isClose = false;
                },500)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: transform 0.5s, opacity 0.5s;
    }

    .fade-enter, .fade-leave-to {
        transform: translateY(-100%);
        opacity: 0;
    }

    .fade-enter-to, .fade-leave {
        transform: translateY(0%);
        opacity: 1;
    }

    .modal-detail-user__container {
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s linear 0.1s, visibility 0.5s, all 0.5s;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        visibility: hidden;

        &.show {
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            visibility: inherit;
        }

        .modal-content {
            overflow: hidden;
            top: 2rem;
            width: 80%;
            height: fit-content;
            font-weight: bold;
            .btn{
                margin: 10px;
            }
            .modal-header {
                height: 50px;
                margin: auto 0;
                padding: 0.5rem;

                .close {
                    padding: 0;
                    margin: auto 1rem;
                }
            }

            .modal-body {
                display: grid;
                grid-template-columns: 10rem auto;
                font-size: 15px;
                .input{
                    border: none;
                    border-bottom: 1px solid #838886;
                    margin-bottom: 5px;
                }
                .dropdown{
                    border: 1px solid #838886;
                    margin: 5px 0;
                    border-radius: 5px;
                }
            }
        }
    }
</style>