<template>
    <div class="booking__container">
        <NavbarBooking/>
        <ContentBooking class="content-booking"/>
        <TheFooter/>
    </div>
</template>

<script>
    import ContentBooking from "./ContentBooking";
    import NavbarBooking from "./NavbarBooking";
    import TheFooter from "../TheFooter";
    export default {
        name: "BookingLayout",
        components:{
            ContentBooking,
            NavbarBooking,
            TheFooter
        }
    }
</script>

<style lang="scss" scoped>
    .booking__container{
        .content-booking{
            padding-top: 9rem;
            background-color: #f7f7f7;
        }
    }
</style>