<template>
    <div class="navbar-booking__Container">
        <div class="navbar-booking-header">
                <router-link class="logo" tag="div" to="/">
                    <img alt="logo" src="../../assets/svg/logo-home-booking.svg">
                    BookingCare
                </router-link>
            <div class="wrapper-tool-account">
                <base-dropdown tag="div" >
                    <template slot="title">
                        <i class="nc-icon nc-bell-55"></i>
                        <b class="caret"></b>
                        <span class="notification" v-if="getNotify.length!==0">{{getNotify.length}}</span>
                    </template>
                    <a href="#" @click="viewNotify(item)" :class="[!item.isRead ? 'isRead' : '', 'dropdown-item']" v-for="(item,index) in stateListNotify" :key="index"> {{item.message}}</a>
                </base-dropdown>
                <div class="wrapper-type-account">
                    <base-dropdown tag="div">
                        <template slot="title">
                            <img alt="logo" src="../../assets/svg/account.svg">
                            <span class="name-account">Account</span>
                        </template>
                        <router-link class="dropdown-item" tag="a" to="/booking/profile-user">
                            Thông tin tài khoản
                        </router-link>
                        <a class="dropdown-item" href="#" @click="logout">Đăng xuất</a>
                    </base-dropdown>
                </div>
            </div>
        </div>
        <div class="navbar-booking-content">
            <router-link class="icon-logo" tag="div" to="/booking/doctor-booking">
                <img alt="logo " src="../../assets/svg/doctor.svg">
                Bác sĩ
            </router-link>

            <router-link class="icon-logo" tag="div" to="/booking/specialist-booking">
                <img alt="logo" src="../../assets/svg/hospital-specialty.svg">
                chuyên Khoa
            </router-link>
            <router-link class="icon-logo" tag="div" to="/booking/follow-up-examination">
                <img alt="logo" src="../../assets/svg/clock-regular.svg">
                Lịch Tái Khám
            </router-link>
            <router-link class="icon-logo" tag="div" to="/booking/detail-notify">
                <img alt="logo" src="../../assets/svg/calendar-filter.svg">
                Lịch Khám
            </router-link>
        </div>
    </div>
</template>

<script>
    import {notifyPatientService} from "../../services";
    import {mapState,mapActions} from 'vuex';
    export default {
        name: "NavbarBooking",
        computed:{
            ...mapState("notify",{
                stateListNotify: "listNotify",
            }),
            getNotify(){
                return this.stateListNotify.filter((notify) => {
                    return notify.isRead === false
                })
            }
        },
        data(){
          return{

          }
        },
        mounted(){
            this.actionSetListNotify();
        },
        methods:{
            ...mapActions("notify",{
                actionSetListNotify: "setListNotify",
            }),
            logout: function(){
                localStorage.clear();
                this.$router.push({path: "/"})
            },
            viewNotify:async function (data) {
                console.log(data)
                await notifyPatientService.putNotify(data);
                this.actionSetListNotify();
                console.log(data.type)
                if(data.type === "L"){
                    this.$router.push({ path: "/booking/detail-notify"})
                }
                if(data.type === "TK"){
                    this.$router.push({ path: "/booking/follow-up-examination"})
                }

            }
        }
    }
</script>

<style lang="scss" scoped>
.navbar-booking__Container{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    .navbar-booking-header{
        display: flex;
        align-items: center;
        margin: 10px 3rem;
        .logo{
            margin-right: auto;
            cursor: pointer;
            font-family: 'Permanent Marker', cursive;
            font-size: 1.5rem;
            img{
                width: 35px;
                height: 35px;
            }
        }

        .wrapper-tool-account{
            display: flex;
            margin-left: auto;
            justify-content: center;
            .notification{
                position: absolute;
                top: -2px;
                left: 25px;
                background: red;
                padding: 1px 3px;
                margin: auto;
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                border-radius: 40%;
                color: #fff;
                font-weight: bold
            }
            .isRead{
                background-color: #fafafa;
            }
            .wrapper-type-account{
                display: flex;
                /*justify-content: center;*/
                img{
                    width: 25px;
                    height: 25px;
                }
                .name-account{
                    margin: 0 5px;
                }

                .wrapper-button{
                    display: flex;
                    .button-register{
                        display: flex;
                        align-items: center;
                        text-align: center;
                        border: 2px solid #337ab7;
                        color: #337ab7;
                        border-radius: 30px;
                        padding: 5px 20px;
                        margin: 0 5px;
                        cursor: pointer;
                        &:hover{
                            background-color: #337ab7;
                            color: #fff;

                        }
                    }
                    .button-login{
                        display: flex;
                        align-items: center;
                        text-align: center;
                        border: 2px solid #33a719;
                        border-radius: 30px;
                        padding: 5px 20px;
                        background-color: #33a719;
                        color: #fff;
                        margin: 0 5px;
                        cursor: pointer;
                        &:hover{
                            background-color: #4CAF50;
                        }
                    }
                }
            }
        }
    }
    .navbar-booking-content{
        display: flex;
        align-items: center;
        padding: 10px 3rem;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        .icon-logo{
            cursor: pointer;
            /*font-weight: bold;*/
            padding: 5px 0;
            border-bottom: 3px solid #ffffff;
            margin-right: 2rem;
            img{
                margin-right: 5px;
                width: 25px;
                height: 25px;
            }
            &:hover{
                border-bottom: 3px solid #337ab7;
            }
        }
    }
}
</style>