<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title mb-2">Danh sách bệnh nhân đã đặt lịch</h4>
              <div class="search__wrapper">
                <div class="dropdown-search">Patient</div>
<!--                <select data-trigger="" class="dropdown-search">-->
<!--                  <option>Patient </option>-->
<!--                  <option>User Booking</option>-->
<!--                </select>-->
                <input type="text" class="input-search" placeholder="Search" v-model="searchNamePatient">
                <div class="button-search" @click="searchPatient">
                  <img src="../../assets/svg/search.svg" alt="search">
                </div>
              </div>
            </template>

            <card class="m-3">
              <table >
                <thead>
                <tr class="table-headers">
                  <th>ID</th>
                  <th>PATIENT</th>
                  <th>USER_BOOKING</th>
                  <th>DATE</th>
                  <th>TIME</th>
                  <th>STATE</th>
                  <th>TOOL</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in tableData" :key="index">
                  <td>{{item.id}}</td>
                  <th class="mobile-header">PATIENT</th><td>{{item.patient}}</td>
                  <th class="mobile-header">USER_BOOKING</th><td>{{item.user_booking}}</td>
                  <th class="mobile-header">DATE</th><td>{{item.date}}</td>
                  <th class="mobile-header">TIME</th><td>{{item.time}}</td>
                  <th class="mobile-header">STATE</th><td>
                    <BBadge v-if="item.state === true" variant="warning "> Tái khám</BBadge>
                    <BBadge v-else-if="item.state === false" variant="primary"> Khám một lần</BBadge>
                  </td>
                  <td class="p-0">
                    <div class="btn btn-primary mr-2" v-b-toggle.sidebar-backdrop @click="view(item.id)">View</div>
                    <div class="btn btn-success mr-2" v-b-toggle.sidebar-re_examination_time @click="view(item.id)">Tạo Tái Khám</div>
                    <div class="btn btn-danger" @click="deleteBooking(item.id)">Delete</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </card>

          </card>

        </div>

      </div>
    </div>
      <b-sidebar
          id="sidebar-backdrop"
          title="Thông Tin Bệnh Nhân"
          class="slide-info-patient"
          width="25rem"
          backdrop
          right
          shadow
      >
        <div class="px-3 py-2">
          <div class="code">Số Đặt Khám: #{{dataView.id}}</div>
          <hr>
          <div class="wrapper-text">
            <label>Họ tên:</label>
            <div>{{dataView.name}}</div>
          </div>
          <div class="wrapper-text">
            <label>Số điện thoại:</label>
            <div>{{dataView.phone}}</div>
          </div>
          <div class="wrapper-text">
            <label>Email:</label>
            <div>{{dataView.email}}</div>
          </div>
          <div class="wrapper-text">
            <label>Tuổi:</label>
            <div>{{dataView.old}}</div>
          </div>
          <div class="wrapper-text">
            <label>Giới tính:</label>
            <div>{{dataView.sex}}</div>
          </div>
          <hr>
          <label class="w-100">Tiền sử bệnh - Triệu chứng:</label>
          <div>{{dataView.anamnesis}}</div>
          <label>Ghi chú:</label>
          <div>{{dataView.note}}</div>
        </div>
      </b-sidebar>

    <b-sidebar
        id="sidebar-re_examination_time"
        title="Thông Tin Bệnh Nhân"
        class="slide-info-patient"
        width="35rem"
        backdrop
        right
        shadow
    >
      <div class="px-3 py-2">

        <div class="wrapper-text mb-3" >
          <label class="mb-0" style="width: 10rem">Thời Gian Tái Khám: </label>
          <input style="border: none; margin: 0 1rem; width: 5rem; font-weight: bold" type="number" placeholder="Ngày" v-model="dateReExaminationTime">
          <label class="mb-0" style="width: 10rem">(Ngày / Lần)</label>

        </div>
        <div class="wrapper-text mb-3">
          <label class="mb-0" style="width: 10rem">Số Lần Tái Khám: </label>
          <input style="border: none; margin: 0 1rem; width: 5rem; font-weight: bold" type="number" placeholder="Lượt"  v-model="timesReExaminationTime">
          <label class="mb-0" style="width: 10rem">(Lượt Tái Khám)</label>
        </div>
        <button class="btn btn-primary " @click="setDayReExamination(dataView)" >Create</button>
        <hr>
        <div class="wrapper-text">
          <label>Họ tên:</label>
          <div>{{dataView.name}}</div>
        </div>
        <div class="wrapper-text">
          <label>Số điện thoại:</label>
          <div>{{dataView.phone}}</div>
        </div>
        <div class="wrapper-text">
          <label>Email:</label>
          <div>{{dataView.email}}</div>
        </div>
        <div class="wrapper-text">
          <label>Tuổi:</label>
          <div>{{dataView.old}}</div>
        </div>
        <div class="wrapper-text">
          <label>Giới tính:</label>
          <div>{{dataView.sex}}</div>
        </div>
        <hr>
        <label class="w-100">Tiền sử bệnh - Triệu chứng:</label>
        <div>{{dataView.anamnesis}}</div>
        <label>Ghi chú:</label>
        <div>{{dataView.note}}</div>
      </div>
    </b-sidebar>
    </div>
</template>
<script>
  import {BDropdown} from 'bootstrap-vue';
  import LTable from '@/components/core/Table.vue';
  import Card from '@/components/core/Cards/Card.vue';
  import {bookingService, patientService,DayOffService,doctorService,notifyPatientService} from "../../services";


  // const tableColumns = ["id","patient",'user_booking','date', 'time', 'state'];
  export default {
    components: {
      LTable,
      Card,
      BDropdown
    },
    mounted(){
      this.fetchData();
    },
    computed:{
    },
    data () {
      return {
        dataView : {},
        dataDoctor: {},
        tableData :[],
        timesReExaminationTime: 0,
        dateReExaminationTime: 0,
        search:{
          data: "",
          type: "",
        },
        dayNow:"",
        listTime:[],
        searchDay: "",
        searchNamePatient: "",

      }
    },
    methods:{
      searchPatient:async function(){
         await this.fetchData();
      },
      addDays: function (dateObj, numDays) {
        dateObj.setDate(parseInt(dateObj.getDate()) + numDays);
        return dateObj;
      },
      deleteBooking: async function(id){
        let dataBooking = await bookingService.getBookingById(id);
        await bookingService.deleteBooking(id);
        this.notifyVue("Xoá Lịch Thành Công","success");
        if(dataBooking.data[0].follow_up_examination){
          await notifyPatientService.postNotify({
            message: `Lịch có mã #${id} đã bị hủy`,
            patientId: dataBooking.data[0].patientId,
            type:"TK",
          });
        }else{
          await notifyPatientService.postNotify({
            message: `Lịch có mã #${id} đã bị hủy`,
            patientId: dataBooking.data[0].patientId,
            type:"L",
          });
        }
        await this.fetchData();
      },
      setDayReExamination:async function(data){
        let now = new Date(data.date);
        let newDay = this.addDays(now,parseInt(this.dateReExaminationTime));
        for(let i = 0 ; i < this.timesReExaminationTime ;i++){
          this.searchDay = newDay.getFullYear() +"-"+ this.addZero(newDay.getMonth()+1) +"-"+ this.addZero(newDay.getDate());
          await this.setTime();
          if(this.listTime.length === 0){
            let countDay = 1;
            while(this.listTime.length === 0){
              let DN = this.addDays(newDay, parseInt(countDay));
              this.searchDay = DN.getFullYear() +"-"+ this.addZero(DN.getMonth()+1) +"-"+ this.addZero(DN.getDate());
              await this.setTime();
              countDay ++;
            }
            newDay = this.addDays(newDay,parseInt(countDay));
          }else{
            data.time_start = this.listTime[0].time_start;
            data.time_end = this.listTime[0].time_end;
            data.follow_up_examination = true;
            data.re_examination_time = this.dateReExaminationTime;
            data.times = this.timesReExaminationTime;
            data.date = this.searchDay;
            await bookingService.postBooking(data);
            newDay = this.addDays(newDay,parseInt(this.dateReExaminationTime));
          }
        }
        this.notifyVue("Tạo Lịch Tái Khám Thành Công","success");
        await notifyPatientService.postNotify({
          message: 'Bạn có lịch tái khám mới',
          patientId: data.patientId,
          type:"TK",
        });
        await this.fetchData();
      },
      view:async function(id){
        this.timesReExaminationTime= 0;
        this.dateReExaminationTime= 0;
        let dataBooking = await bookingService.getBookingById(id);
        this.dataView = dataBooking.data[0];
      },

      fetchData: async function () {
        this.tableData = [];
        let dataBooking ={};
        if(this.searchNamePatient.length===0){
          dataBooking = await bookingService.getBookingByDoctor(localStorage.getItem("id"));
        }
        else{
          dataBooking = await bookingService.searchNamePatient(this.searchNamePatient);
        }
        for (let data of dataBooking.data){
          let patient = await patientService.getPatient(data.patientId);

          this.tableData.push({
            id: data.id,
            patient:data.name,
            user_booking:patient.data.name,
            date: data.date,
            time: `${data.time_start} - ${data.time_end}`,
            state:data.follow_up_examination ,
          })
        }
        let dataDoctor = await doctorService.getDoctorByID(localStorage.getItem("id"));
        this.dataDoctor = dataDoctor.data;
      },

      addZero: function (num) {
        if(num<10){
          return "0"+num;
        }else return num
      },
      createListTime: function (timeStart, timeEnd) {
        let HStart = parseInt(timeStart.slice(0, 2));
        let MStart = parseInt(timeStart.slice(3, 5));

        let HEnd = parseInt(timeEnd.slice(0, 2));
        let MEnd = parseInt(timeEnd.slice(3, 5));
        while (HEnd > HStart) {
          let VS = this.addZero(HStart) + ":" + this.addZero(MStart);
          MStart = MStart + this.dataDoctor.minute;
          if (MStart >= 60) {
            HStart = HStart + 1;
            MStart = MStart - 60;
          }
          if (HStart === HEnd && MEnd < MStart) break;
          this.listTime.push({
            time_start: VS,
            time_end: this.addZero(HStart) + ":" + this.addZero(MStart),
          });
        }
      },
      notifyVue: function (text,type) {
        this.$notifications.notify(
            {
              message: `<span>${text}</span>`,
              icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
              horizontalAlign: "right",
              verticalAlign: "bottom",
              type: type,
            })
      },
      setTime: async function () {
        this.listTime = [];
        if(this.dataDoctor.time_start_morning){
          let today = new Date();
          let time = today.getHours() + ":" + today.getMinutes();
          this.createListTime(this.dataDoctor.time_start_morning, this.dataDoctor.time_end_morning);
          this.createListTime(this.dataDoctor.time_start_afternoon, this.dataDoctor.time_end_afternoon);
          let dataDayOff = await DayOffService.getDayOffInDate(this.searchDay,this.dataDoctor.id);
          let booked = await bookingService.getBookingByDoctorAnDay(this.dataDoctor.id, this.searchDay);

          for(let j = 0; j<dataDayOff.data.length ; j++ ){
            for(let i = this.listTime.length -1 ; i >= 0; i--){

              if(dataDayOff.data[j].time_start === this.dataDoctor.time_start_morning && dataDayOff.data[j].time_end === this.dataDoctor.time_end_morning ){
                if(new Date(`${this.searchDay}T${this.dataDoctor.time_end_morning.slice(0,5)}:00.000+07:00`) >= new Date(`${this.searchDay}T${this.listTime[i].time_end}:00.000+07:00`))
                  this.listTime.splice(i,1);
              }
              if(dataDayOff.data[j].time_start === this.dataDoctor.time_start_afternoon && dataDayOff.data[j].time_end === this.dataDoctor.time_end_afternoon ){
                if(new Date(`${this.searchDay}T${this.listTime[i].time_start}:00.000+07:00`) >= new Date(`${this.searchDay}T${this.dataDoctor.time_start_afternoon.slice(0,5)}:00.000+07:00`))
                {
                  this.listTime.splice(i,1);
                }
              }
              else if(dataDayOff.data[j].time_start === this.dataDoctor.time_start_morning && dataDayOff.data[j].time_end === this.dataDoctor.time_end_afternoon ){
                this.listTime = [];
                break;
              }
              else if(this.listTime[i].time_start === dataDayOff.data[j].time_start.slice(0,5) && this.listTime[i].time_end === dataDayOff.data[j].time_end.slice(0,5)){
                this.listTime.splice(i,1);
              }
            }
          }
          for(let j = 0; j<booked.data.length ; j++ ){
            for(let i = this.listTime.length -1 ; i >= 0; i--){
              if(this.listTime[i].time_start === booked.data[j].time_start.slice(0,5) && this.listTime[i].time_end === booked.data[j].time_end.slice(0,5)){
                this.listTime.splice(i,1);
              }
            }
          }
          let indexRemove = -1;
          if(this.searchDay === this.dayNow){
            for(let i = 0 ; i < this.listTime.length ; i++){
              if(new Date(`${this.dayNow}T${time}:00.000+07:00`) > new Date(`${this.searchDay}T${this.listTime[i].time_start}:00.000+07:00`)){
                indexRemove = i;
              }else{
                break;
              }
            }
          }
          if(indexRemove !== -1){
            for (let  i = indexRemove ; i >= 0; i--){
              this.listTime.splice(i,1);
            }
          }
        }

      },

    }
  }
</script>
<style lang="scss" scoped>
  .content{
    font-family: 'Baloo Bhai 2', cursive;
    .slide-info-patient{
      .code{
        font-weight: bold;
        font-size: 20px;
        color: #1D62F0;
      }
      .wrapper-text{
        display: flex;
      }
      label{
        font-weight: bold;
        width: 7rem;
        font-size: 18px;
      }
    }
    .search__wrapper{
      display: flex;
      height: 3.5rem;
      box-shadow: 0 0 5px;
      border-radius: 10px;
      overflow: hidden;
      .dropdown-search{
        text-align: center;
        line-height: 3.5rem;
        font-size: 20px;
        text-transform: uppercase;
        width: 20%;
        border: none;
        padding-left: 10px;
        border-right: 1px solid #e5e5e5;
      }
      .input-search{
        width: 75%;
        border: none;
        border-right: 1px solid #e5e5e5;
        padding-left: 20px;
      }
      .button-search{
        width: 5rem;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        align-items: center;
        cursor: pointer;
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
    table{
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      overflow: hidden;

      td, th{
        border-top: 1px solid #ECF0F1;
        padding: 10px;
      }


      th{
        color: #fff;
        background-color: #343a40;
        border-color: #454d55
      }

      tr:nth-of-type(even) td{
        background-color: #f2f2f2;
      }

      .total{
        th{
          background-color: white;
        }

        td{
          text-align: right;
          font-weight: 700;
        }
      }
    }

    .mobile-header{
      display: none;
    }

    @media only screen and (max-width: 760px){
      p{
        display: block;
        font-weight: bold;
      }

      table{
        tr{
          td:not(:first-child), th:not(:first-child), td:not(.tool-val){
            display: none;
          }

          &:nth-of-type(even) td:first-child{
            background-color: #f2f2f2;
          }
          &:nth-of-type(odd) td:first-child{
            background-color: white;
          }

          &:nth-of-type(even) td:not(:first-child){
            background-color: white;
          }

          th:first-child{
            width: 100%;
            display:block;
          }

          th:not(:first-child){
            width: 40%;
            transition: transform 0.4s ease-out;
            transform:translateY(-9999px);
            position: relative;
            z-index: -1;
          }

          td:not(:first-child){
            transition: transform 0.4s ease-out;
            transform:translateY(-9999px);
            width: 60%;
            position: relative;
            z-index: -1;
          }

          td:first-child{
            display: block;
            cursor: pointer;
          }

        }
      }
    }

    @media only screen and (max-width: 300px){
      table{
        tr{
          th:not(:first-child){
            width: 50%;
            font-size: 14px;
          }

          td:not(:first-child){
            width: 50%;
            font-size: 14px;
          }
        }
      }
    }
  }




</style>

