<template>
    <div class="content">
        <div class="row">
            <div class="col-12">
                <card body-classes="table-full-width table-responsive"
                      class="strpied-tabled-with-hover"
                >
                    <template slot="header">
                        <h4 class="card-title ">Tạo lịch nghỉ</h4>
                        <div class="row">
                            <div class="col-8">
                                <base-input label="Lý do nghỉ"
                                            placeholder="Lý do nghỉ"
                                            type="text"
                                            v-model="reason">
                                </base-input>
                            </div>
                            <div class="col-2 mt-4">
                                <b-button
                                    :aria-expanded="visible ? 'true' : 'false'"
                                    :class="visible ? null : 'collapsed'"
                                    @click="visible = !visible"
                                    aria-controls="collapse-4"
                                    style="height: 2.8rem; padding: 10px;"
                                >
                                    Chọn ngày nghỉ
                                </b-button>
                            </div>

                            <div class="col-2 mt-4">
                                <b-button :disabled="checkClick" @click="addTimeOff" class="btn btn-success">
                                    ADD
                                </b-button>
                            </div>
                        </div>
                        <div class="notify">{{notifyDayOff}}</div>
                        <div class="row">
                            <div class="col-12">
                                <b-collapse class="mt-2 mb-3" id="collapse-4" v-model="visible">
                                    <div class="row ">
                                        <div class="col-12">
                                            <base-input label="Date">

                                                <Datetime :min-datetime="dayNow + 'T00:00:00.000+07:00'"
                                                          @input="setTime"
                                                          class="text date"
                                                          format="yyyy-MM-dd"
                                                          input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                                                          placeholder="Date"
                                                          title="Date"
                                                          type="date"
                                                          v-model="searchDay"
                                                >
                                                </Datetime>
                                            </base-input>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <BBadge :key="index" class=" p-2 m-1"
                                                    v-for="(item, index) in listTimeChoice" variant="primary ">
                                                {{item.time_start + " - "+item.time_end}}
                                            </BBadge>
                                            <b-button @click="clearTime" class="btn btn-danger m-2 p-1">
                                                clear
                                            </b-button>
                                        </div>
                                    </div>
                                    <b-button @click="choiceAllDate" class="btn btn-warning m-2">
                                        ALL DATE
                                    </b-button>
                                    <b-button :key="index" @click="choiceTime(item)"
                                              class="btn btn-primary m-2"
                                              v-for="(item, index) in listTime">
                                        {{item.time_start + " - "+item.time_end}}
                                    </b-button>


                                </b-collapse>
                                <div class="row">
                                    <div class="col-12">
                                        <card class="card-plain">
                                            <div class="row">
                                                <div class="col-12">
                                                    <card body-classes="table-full-width table-responsive"
                                                          class="strpied-tabled-with-hover"
                                                    >
                                                        <template slot="header">
                                                            <h4 class="card-title text-warning">Danh sách lịch Nghỉ</h4>
                                                        </template>
                                                        <card class="m-3">
                                                            <table>
                                                                <thead>
                                                                <tr class="table-headers">
                                                                    <th>Reason</th>
                                                                    <th>Date</th>
                                                                    <th>Time</th>
                                                                    <th>Tool</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr :key="index" v-for="(item,index) in ListDateOff">
                                                                    <td>{{item.reason}}</td>
                                                                    <th class="mobile-header">Date</th>
                                                                    <td>{{item.date}}</td>
                                                                    <th class="mobile-header">Time</th>
                                                                    <td>{{item.time_start}} - {{item.time_end}}</td>
                                                                    <th class="mobile-header">Tool</th>
                                                                    <td>
                                                                        <div @click="deleteDayOff(item.id)"
                                                                             class="btn btn-danger">Delete
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </card>
                                                    </card>

                                                </div>
                                            </div>
                                        </card>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </card>

            </div>
        </div>

        <card>
            <h4 class="card-title" slot="header">Cài đặt lịch</h4>
            <div class="row">
                <div class="col-4">
                    <base-input :disabled="disabled"
                                :min="30"
                                label="Thời Gian Khám / Lượt"
                                placeholder="Thời gian khám bệnh trên 1 lượt"
                                type="number"
                                v-model="dataDoctor.minute">
                    </base-input>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <base-input label="Giờ Bắt Đầu Khám Buổi Sáng">
                        <Datetime :disabled="disabled"
                                  class="text date "
                                  input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                                  placeholder="Giờ Bắt Đầu Khám Buổi Sáng"
                                  type="time"
                                  v-model="dataDoctor.time_start_morning"
                                  value-zone='local'
                                  zone='local'
                        >
                        </Datetime>
                    </base-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <base-input label="Giờ Kết Thúc Khám Buổi Sáng">
                        <Datetime :disabled="disabled"
                                  class="text date"
                                  input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                                  placeholder="Giờ Kết Thúc Khám Buổi Sáng"
                                  type="time"
                                  v-model="dataDoctor.time_end_morning"
                                  value-zone='local'
                                  zone='local'
                        >
                        </Datetime>
                    </base-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <base-input label="Giờ Bắt Đầu Khám Buổi Chiều">
                        <Datetime :disabled="disabled"
                                  class="text date "
                                  input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                                  placeholder="Giờ Bắt Đầu Khám Buổi Sáng"
                                  type="time"
                                  v-model="dataDoctor.time_start_afternoon"
                                  value-zone='local'
                                  zone='local'
                        >
                        </Datetime>
                    </base-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <base-input label="Giờ Kết Thúc Khám Buổi Chiều">
                        <Datetime :disabled="disabled"
                                  class="text date"
                                  input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                                  placeholder="Giờ Kết Thúc Khám Buổi Chiều"
                                  type="time"
                                  v-model="dataDoctor.time_end_afternoon"
                                  value-zone='local'
                                  zone='local'
                        >
                        </Datetime>
                    </base-input>
                </div>
            </div>
            <div class="notify">{{notify}}</div>
            <div @click="setTimeDoctor" class="button-set-time">
                SET
            </div>
        </card>
    </div>
</template>
<script>
    import {BBadge} from 'bootstrap-vue'
    import Card from '@/components/core/Cards/Card.vue'
    import {Datetime} from 'vue-datetime';
    import LTable from '@/components/core/Table.vue'
    import {bookingService, DayOffService, doctorService} from "../../services";

    export default {
        components: {
            Card,
            Datetime,
            BBadge,
            LTable
        },
        mounted() {
            this.fetchData();
            this.getDateNow();
        },
        data() {
            return {
                visible: false,
                notifyDayOff: "",
                notify: "",
                minute: 0,
                ListDateOff: [],
                listTimeChoice: [],
                dataDoctor: {},
                searchDay: "",
                dayNow: "",
                disabled: false,
                reason: "",
                listTime: [],
            }
        },
        computed: {
            checkClick() {
                if (this.listTimeChoice.length !== 0 && this.reason.length !== 0) {
                    return false;
                }
                return true;
            }
        },
        methods: {
            deleteDayOff: async function (id) {
                await DayOffService.deleteDayOff(id);
                this.notifyVue("xóa lịch nghỉ thành công", "success");
                await this.fetchData();
            },
            addTimeOff: async function () {
                if (this.listTimeChoice[0].time_start === this.dataDoctor.time_start_morning && this.listTimeChoice[0].time_end === this.dataDoctor.time_end_afternoon) {

                    let dataBooking = await bookingService.getBookingByDoctorAnDay(this.dataDoctor.id, this.searchDay.slice(0,10));
                    if(dataBooking.data.length === 0){
                        await DayOffService.postDayOff({
                            date: this.searchDay.slice(0, 10),
                            time_start: this.listTimeChoice[0].time_start,
                            time_end: this.listTimeChoice[0].time_end,
                            doctorId: this.dataDoctor.id,
                            reason: this.reason,
                        });
                        this.notifyVue("Tạo Lịch Nghỉ Thành Công","success" );
                    }
                    else{
                        this.notifyVue("Lịch trong ngày đã được đặt","danger")

                    }

                } else {

                    for (let time of this.listTimeChoice) {
                        await DayOffService.postDayOff({
                            date: this.searchDay.slice(0, 10),
                            time_start: time.time_start,
                            time_end: time.time_end,
                            doctorId: this.dataDoctor.id,
                            reason: this.reason,
                        })
                    }
                    this.notifyVue("Tạo Lịch Nghỉ Thành Công","success")
                }
                this.reason = "";
                this.searchDay = "";
                this.listTimeChoice = [];
                await this.fetchData();
            },
            notifyVue: function (text,type) {
                this.$notifications.notify(
                    {
                        message: `<span>${text}</span>`,
                        icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
                        horizontalAlign: "right",
                        verticalAlign: "bottom",
                        type: type,
                    })
            },
            choiceTime: function (data) {
                let check = true;
                for (let time of this.listTimeChoice) {
                    if (time.time_start === data.time_start && time.time_end === data.time_end) {
                        check = false;
                        break;
                    }
                }
                if (check) {
                    this.listTimeChoice.push({
                        time_start: data.time_start,
                        time_end: data.time_end,
                    })
                }
            },
            choiceAllDate: function () {
                this.listTimeChoice = [];
                this.listTimeChoice.push({
                    time_start: this.dataDoctor.time_start_morning,
                    time_end: this.dataDoctor.time_end_afternoon,
                });
                this.listTime = [];
            },
            clearTime: function () {
                this.listTimeChoice = [];
                this.setTime();
            },
            fetchData: async function () {
                this.listTime = [];
                this.ListDateOff = [];
                let dataDayOff = await DayOffService.getDayOffInDoctor(localStorage.getItem("id"));
                let dataDoctor = await doctorService.getDoctorByID(localStorage.getItem("id"));
                let dataBooking = await bookingService.getBookingByDoctor(dataDoctor.data.id);
                if (dataBooking.data.length !== 0) this.disabled = true;
                this.ListDateOff.push(...dataDayOff.data);
                this.dataDoctor = dataDoctor.data;
            },
            getDateNow: function () {
                let date = new Date(Date.now());
                this.dayNow = `${this.addZero(date.getFullYear())}-${this.addZero(date.getMonth() + 1)}-${date.getDate()}`
            },
            setTimeDoctor: async function () {
                if (!this.disabled) {
                    if (this.dataDoctor.minute.length !== 0 &&
                        this.dataDoctor.timeStartMorning.length !== 0 &&
                        this.dataDoctor.timeEndMorning.length !== 0 &&
                        this.dataDoctor.timeStartAfternoon.length !== 0 &&
                        this.dataDoctor.timeEndAfternoon.length !== 0) {
                        this.notify = '';
                        this.dataDoctor.minute = parseInt(this.dataDoctor.minute);
                        await doctorService.updateDoctor(this.dataDoctor);
                        this.notifyVue("Cập nhật lịch thành công","success" );
                    } else {
                        this.notify = 'Thông tin chưa nhập đầy đủ !';
                    }
                }
            },
            setTime: async function () {
                this.listTime = [];
                if (this.dataDoctor.time_start_morning) {
                    let today = new Date();
                    let time = today.getHours() + ":" + today.getMinutes();
                    this.createListTime(this.dataDoctor.time_start_morning, this.dataDoctor.time_end_morning);
                    this.createListTime(this.dataDoctor.time_start_afternoon, this.dataDoctor.time_end_afternoon);
                    let dataDayOff = await DayOffService.getDayOffInDate(this.searchDay.slice(0, 10), this.dataDoctor.id);
                    let booked = await bookingService.getBookingByDoctorAnDay(this.dataDoctor.id, this.searchDay.slice(0, 10));

                    for (let j = 0; j < dataDayOff.data.length; j++) {
                        for (let i = this.listTime.length - 1; i >= 0; i--) {

                            if (dataDayOff.data[j].time_start === this.dataDoctor.time_start_morning && dataDayOff.data[j].time_end === this.dataDoctor.time_end_morning) {
                                if (new Date(`${this.searchDay.slice(0, 10)}T${this.dataDoctor.time_end_morning.slice(0, 5)}:00.000+07:00`) >= new Date(`${this.searchDay.slice(0, 10)}T${this.listTime[i].time_end}:00.000+07:00`))
                                    this.listTime.splice(i, 1);
                            }
                            if (dataDayOff.data[j].time_start === this.dataDoctor.time_start_afternoon && dataDayOff.data[j].time_end === this.dataDoctor.time_end_afternoon) {
                                if (new Date(`${this.searchDay.slice(0, 10)}T${this.listTime[i].time_start}:00.000+07:00`) >= new Date(`${this.searchDay.slice(0, 10)}T${this.dataDoctor.time_start_afternoon.slice(0, 5)}:00.000+07:00`)) {
                                    this.listTime.splice(i, 1);
                                }
                            } else if (dataDayOff.data[j].time_start === this.dataDoctor.time_start_morning && dataDayOff.data[j].time_end === this.dataDoctor.time_end_afternoon) {
                                this.listTime = [];
                                break;
                            } else if (this.listTime[i].time_start === dataDayOff.data[j].time_start.slice(0, 5) && this.listTime[i].time_end === dataDayOff.data[j].time_end.slice(0, 5)) {
                                this.listTime.splice(i, 1);
                            }
                        }
                    }
                    for (let j = 0; j < booked.data.length; j++) {
                        for (let i = this.listTime.length - 1; i >= 0; i--) {
                            if (this.listTime[i].time_start === booked.data[j].time_start.slice(0, 5) && this.listTime[i].time_end === booked.data[j].time_end.slice(0, 5)) {
                                this.listTime.splice(i, 1);
                            }
                        }
                    }
                    let indexRemove = -1;
                    if (this.searchDay.slice(0, 10) === this.dayNow) {
                        for (let i = 0; i < this.listTime.length; i++) {
                            if (new Date(`${this.dayNow}T${time}:00.000+07:00`) > new Date(`${this.searchDay.slice(0, 10)}T${this.listTime[i].time_start}:00.000+07:00`)) {
                                indexRemove = i;
                            } else {
                                break;
                            }
                        }
                    }
                    if (indexRemove !== -1) {
                        for (let i = indexRemove; i >= 0; i--) {
                            this.listTime.splice(i, 1);
                        }
                    }
                }

            },

            createListTime: function (timeStart, timeEnd) {
                let HStart = parseInt(timeStart.slice(0, 2));
                let MStart = parseInt(timeStart.slice(3, 5));

                let HEnd = parseInt(timeEnd.slice(0, 2));
                let MEnd = parseInt(timeEnd.slice(3, 5));
                while (HEnd > HStart) {
                    let VS = this.addZero(HStart) + ":" + this.addZero(MStart);
                    MStart = MStart + this.dataDoctor.minute;
                    if (MStart >= 60) {
                        HStart = HStart + 1;
                        MStart = MStart - 60;
                    }
                    if (HStart === HEnd && MEnd < MStart) break;
                    this.listTime.push({
                        time_start: VS,
                        time_end: this.addZero(HStart) + ":" + this.addZero(MStart),
                    });
                }
            },

            addZero: function (number) {
                if (number < 10) return "0" + number;
                else return number;
            }
        }
    }
</script>
<style lang="scss" scoped>
    .date {
        width: 20rem;
    }

    .text {
        height: 100%;
        padding: 9px 15px;
        font-weight: bold;
        border: 1px solid #4CAF50;
        box-shadow: 1px 0px 3px #4CAF50;
        border-radius: 50px;
        font-size: 15px;
        text-transform: capitalize;
        outline: none;
        margin: 0 10px;

        &:focus {
            box-shadow: 1px 1px 8px #4CAF50;
        }
    }

    .notify {
        color: red;
        font-weight: bold;
    }

    .button-set-time {
        width: 32%;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
        font-weight: bold;
        margin: 0 5px 15px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;

        &:hover {
            background-color: #0066cb;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        overflow: hidden;

        td, th {
            border-top: 1px solid #ECF0F1;
            padding: 10px;
        }


        th {
            color: #fff;
            background-color: #343a40;
            border-color: #454d55
        }

        tr:nth-of-type(even) td {
            background-color: #f2f2f2;
        }

        .total {
            th {
                background-color: white;
            }

            td {
                text-align: right;
                font-weight: 700;
            }
        }
    }

    .mobile-header {
        display: none;
    }

    @media only screen and (max-width: 760px) {
        p {
            display: block;
            font-weight: bold;
        }

        table {
            tr {
                td:not(:first-child), th:not(:first-child), td:not(.tool-val) {
                    display: none;
                }

                &:nth-of-type(even) td:first-child {
                    background-color: #f2f2f2;
                }

                &:nth-of-type(odd) td:first-child {
                    background-color: white;
                }

                &:nth-of-type(even) td:not(:first-child) {
                    background-color: white;
                }

                th:first-child {
                    width: 100%;
                    display: block;
                }

                th:not(:first-child) {
                    width: 40%;
                    transition: transform 0.4s ease-out;
                    transform: translateY(-9999px);
                    position: relative;
                    z-index: -1;
                }

                td:not(:first-child) {
                    transition: transform 0.4s ease-out;
                    transform: translateY(-9999px);
                    width: 60%;
                    position: relative;
                    z-index: -1;
                }

                td:first-child {
                    display: block;
                    cursor: pointer;
                }

            }
        }
    }

    @media only screen and (max-width: 300px) {
        table {
            tr {
                th:not(:first-child) {
                    width: 50%;
                    font-size: 14px;
                }

                td:not(:first-child) {
                    width: 50%;
                    font-size: 14px;
                }
            }
        }
    }
</style>
