<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <edit-profile-form :doctor="doctor" :specialist="specialist" @updateDoctor="updateDoctor">
          </edit-profile-form>
        </div>
        <div class="col-md-4">
          <user-card :doctor="doctor" @updatePhoto="updatePhoto">
          </user-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import EditProfileForm from './UserProfile/EditProfileForm.vue'
  import UserCard from './UserProfile/UserCard.vue'
  import {doctorService, specialistService,uploadService} from "../../services";
  export default {
    components: {
      EditProfileForm,
      UserCard
    },
    data(){
      return{
        doctor: {},
        specialist: {},
      }
    },
    mounted(){
      this.fetchData();
    },
    methods:{
      updatePhoto: async function(file){
        if(file.length !== 0){
          await uploadService.postFileImg(file);
          this.doctor.photo = `http://localhost:3000/api/uploads/image/download/${file.name}`;
          await doctorService.updateDoctor(this.doctor);
          this.notifyVue("Cập nhật thông tin thành công","success");
          this.fetchData();
        }
      },
      fetchData:async function () {
        let dataDoctor = await doctorService.getDoctorByID(localStorage.getItem("id"));
        let dataSpecialist = await specialistService.getSpecialistById(dataDoctor.data.specialistId);
        this.specialist = dataSpecialist.data;
        this.doctor = dataDoctor.data;
      },
      updateDoctor: async function (data) {
        await doctorService.updateDoctor(data);
        this.notifyVue("Cập nhật thông tin thành công","success");
        this.fetchData();
      },
      notifyVue: function (text,type) {
        this.$notifications.notify(
            {
              message: `<span>${text}</span>`,
              icon: type === "success" ? 'nc-icon nc-check-2' : 'nc-icon nc-simple-remove',
              horizontalAlign: "right",
              verticalAlign: "bottom",
              type: type,
            })
      },
    }
  }

</script>
<style>

</style>
