﻿<template>
  <div class="app">
    <notifications></notifications>
    <router-view></router-view>
<!--    <TheFooter />-->
  </div>
</template>

<script>

  import TheFooter from "@/components/TheFooter.vue";
  import Notifications from "@/components/core/NotificationPlugin/Notifications";
  export default {
  name: "app",
  components: {
    TheFooter,
    Notifications
  },
  data(){
    return{

      isHomePage: true,
    };
  },
  // beforeUpdate() {
  //   this.isHomePage = this.$route.name === "home";
  //   console.log(this.isHomePage)
  // },
  methods:{

  },

};
</script>

<style lang="scss">

  html {
    position: relative;
    /*min-height: 100%;*/
    scroll-behavior: smooth;
  }

  body {
    padding: 0;
    min-width: 410px;
  }

  .vue-notifyjs.notifications{
    .list-move {
      transition: transform 0.3s, opacity 0.4s;
    }
    .list-item {
      display: inline-block;
      margin-right: 10px;

    }
    .list-enter-active {
      transition: transform 0.2s ease-in, opacity 0.4s ease-in;
    }
    .list-leave-active {
      transition: transform 1s ease-out, opacity 0.4s ease-out;
    }

    .list-enter {
      opacity: 0;
      transform: scale(1.1);

    }
    .list-leave-to {
      opacity: 0;
      transform: scale(1.2, 0.7);
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;

  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }


  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;

  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;

  }
</style>
