<template>
    <div class="list-select-medical-specialty__container">
        <div class="content">
            <div class="title">
                <div>Danh sách chuyên khoa.</div>
            </div>
            <div class="searchinput">
                <input class="text" name="searchMedicalSpecialty" placeholder=" search..." required type="text" v-model="search">
            </div>
            <div class="list__wrapper">
                <MedicalSpecialtyItem
                    @triggerCard="triggerCard"
                    :key="index" :khoa="khoa" v-for="(khoa,index) in filteredItems" />
            </div>
        </div>
        <ModalInfoSpecialist
            :isShowModalInfoSpecialist = isShowModalInfoSpecialist
            @handleShowModalInfoSpecialist = "handleShowModalInfoSpecialist"
            :dataInfo="specialistSelect"
        />
    </div>
</template>

<script>
    import {specialistService} from "../services";
    import MedicalSpecialtyItem from "@/components/MedicalSpecialtyItem.vue"
    import ModalInfoSpecialist from "../components/modals/ModalInfoSpecialist";
    export default {
        name: "ListSelectMedicalSpecialty",
        components:{
            MedicalSpecialtyItem,
            ModalInfoSpecialist
        },
        mounted(){
            this.loadSpecialist();
        },
        data(){
            return {
                isShowModalInfoSpecialist: false,
                isLoading: false,
                listChuyenKhoa:[],
                search: '',
                specialistSelect:{},
            };
        },
        watch:{},
        computed:{
            filteredItems() {
                if(this.isLoading){
                    return this.listChuyenKhoa.filter(item => {
                        return item.name.toLocaleLowerCase().search(this.search.toLocaleLowerCase()) != -1;
                    })
                }
            }
        },
        methods:{
            handleShowModalInfoSpecialist: function(){
                this.isShowModalInfoSpecialist = !this.isShowModalInfoSpecialist;
            },
            triggerCard: function (data) {
                this.specialistSelect = data;
                this.handleShowModalInfoSpecialist();
                // console.log(isClickCard,id)
            },
            loadSpecialist: async function () {
                let dataSpecialist = await specialistService.getSpecialist();
                for(let i = 0 ; i < dataSpecialist.data.length ; i++){
                    let listDoctorInSpecialist = await specialistService.getDoctorInSpecialist(dataSpecialist.data[i].id);
                    dataSpecialist.data[i].totalDoctors = listDoctorInSpecialist.data.length;
                }
                if (dataSpecialist.data.length !== 0){
                    this.listChuyenKhoa = dataSpecialist.data;
                    this.isLoading = true;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    .list-select-medical-specialty__container{
        width: 100%;
        max-width:950px;
        margin:10rem auto 60px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.25);
        font-family: 'Baloo Bhai 2', cursive;
        &::before{
            content:'';
            display:block;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 300px;
            background-image: url("../assets/img/chuyen_khoa.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }

        .content{
            position: relative;
            padding: 20px 50px;
            background: #fff;
            z-index: 10;
            .title{
                position: relative;
                color: #fff;
                div{
                    padding-bottom:25px;
                    font-size:3.25em;
                    font-weight: bold;
                    color: #337ab7;
                    text-shadow: 2px 2px 3px;
                }
            }
            .searchinput{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
                .text{
                    width: 80%;
                    height: 100%;
                    padding: 9px 15px;
                    font-weight: bold;
                    border: 1px solid #4CAF50;
                    box-shadow: 1px 0px 3px #4CAF50;
                    border-radius: 50px;
                    font-size: 15px;
                    text-transform: capitalize;
                    outline: none;
                    &:focus{
                        box-shadow: 1px 1px 8px #4CAF50;
                    }
                }
            }
        }
        .list__wrapper{
            transition: all 0.5s;
            max-height: 50rem;
            overflow-y: auto;
            overflow-x: hidden;
            border-radius: 5px;
            box-shadow: 0px 0px 5px #4CAF50;
            display: flex;
            flex-wrap: wrap;
        }
    }
</style>