<template>
    <div class="list-doctor__container">
        <div class="content">
            <div class="title">
                <div>Danh sách Bác Sĩ.</div>
            </div>
            <div class="searchinput">
                <input class="text" name="searchMedicalSpecialty" @keyup.enter="findDoctor" placeholder=" search..." required type="text" v-model="searchDoctor">
                <Datetime input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                          type="date"
                          class="text date"
                          :min-datetime="getDate + 'T00:00:00.000Z'"
                          :placeholder="getDate"
                          v-model="searchDate"
                          title="Date"
                          format="yyyy-MM-dd">
                </Datetime>
                <button class="btn-search" @click="onSearch">Search</button>
            </div>
            <BOverlay :show="isLoading" rounded="sm">
                <div class="list__wrapper" :aria-hidden="isLoading ? 'true' : null">
                    <div class="notify" v-if="listItemDoctor.length === 0">
                        Không có dữ liệu lịch khám.
                    </div>
                    <BookingDoctor
                        :key="index" v-for="(item,index) in listItemDoctor "
                        :listItemDoctor="item"
                        :listBookingPatient="listBookingPatient"
                        @timeSelect="timeSelect"
                        @changeStateShowModal="changeStateShowModal"
                        @handleShowModalInfor="handleShowModalInfor"
                    />
                </div>
            </BOverlay>
        </div>
        <ModalCheckBooking :isShowCheckBooking="isShowCheckBooking"
                           @setBooking="setBooking"
                           @changeStateShowModal="changeStateShowModal" />
        <InforDoctor :isShowModalInfor="isShowModalInfor"
                     @handleShowModalInfor="handleShowModalInfor"
                     :doctorSelect ="doctorSelect[0]"/>

    </div>
</template>

<script>
    import BookingDoctor from "../components/BookingDoctor";
    import ModalCheckBooking from "../components/modals/ModalCheckBooking";
    import InforDoctor from "../components/modals/InforDoctor";
    import {Datetime} from 'vue-datetime';
    import {mapActions, mapState} from "vuex";
    import {doctorService, patientService, scheduleService, specialistService} from "../services";
    export default {
        name: "ListDoctor",
        components:{
            Datetime,
            BookingDoctor,
            ModalCheckBooking,
            InforDoctor,
        },
        props:{},
        computed:{
            ...mapState("doctor",{
                stateListDoctorResponsive: "listDoctorResponsive",
            }),
            filteredItems() {
                if(!this.isLoading){
                    return this.listItemDoctor.filter(item => {
                        return item.name.toLocaleLowerCase().search(this.searchDoctor.toLocaleLowerCase()) != -1;
                    })
                }
            },
            doctorSelect(){
                return this.listItemDoctor.filter(item => {
                    return item.id === this.idFocus;
                });
            },
            getDate(){
                let now = new Date();
                return [this.AddZero(now.getFullYear()),this.AddZero(now.getMonth() + 1),this.AddZero(now.getDate())].join("-");
            },
        },
        mounted(){
            this.searchDate = this.getDate;
            console.log(this.searchDate )
            this.searchDoctor = '';
            this.fetchData();
            // this.fetchData(this.searchDate,this.searchDoctor)
        },
        data(){
            return{
                idDoctor:'',
                idSchedule:'',
                listBookingPatient: [],
                isLoading: true,
                searchDate: '',
                searchDoctor:'',
                isShowCheckBooking: false,
                isShowModalInfor: false,
                idFocus: '',
                listItemDoctor:[],
                bookingTime:{},
            }
        },
        watch:{},
        methods:{
            ...mapActions("doctor", {
                actionSetListDoctor: "setListDoctor",
            }),
            timeSelect: function(idSchedule, idDoctor){
                this.idSchedule = idSchedule;
                this.idDoctor = idDoctor;
            },
            onSearch: function(){
                this.fetchData();
                // this.fetchData(this.searchDate,this.searchDoctor);
            },
            findDoctor: function(){
                console.log("endter")
            },
            setBooking: function(){
                patientService.postBooking(localStorage.getItem("id"),this.idSchedule,this.idDoctor);
                setTimeout(()=>{
                    this.fetchData();
                    // this.fetchData(this.searchDate,this.searchDoctor);
                },500);
            },
            AddZero: function(num) {
                return (num >= 0 && num < 10) ? "0" + num : num + "";
            },
            changeStateShowModal: function () {
                this.isShowCheckBooking = !this.isShowCheckBooking;
            },
            handleShowModalInfor: function (id) {
                this.isShowModalInfor = !this.isShowModalInfor;
                this.idFocus = id;
            },
            fetchData: async function () {
                // coi lại cái search
                this.isLoading = true;
                let dateSearch = this.searchDate.slice(0,10);
                let doctorSearch = this.searchDoctor;

                let listBookingPatient =await patientService.getBookingPatient(localStorage.getItem("id"));
                this.listBookingPatient = listBookingPatient.data;

                let listDoctor = [];
                let listTime = [];
                if(this.$router.currentRoute.params.id){
                    if(doctorSearch.length === 0){
                        listDoctor = await specialistService.getDoctorInSpecialist(this.$router.currentRoute.params.id);
                    }else{
                        listDoctor = await doctorService.searchNameBySpecialistId(this.$router.currentRoute.params.id,doctorSearch)
                    }
                }
                else{
                    if(doctorSearch.length === 0){
                        listDoctor = await doctorService.getDoctor();
                    }else{
                        listDoctor = await doctorService.searchDoctor(doctorSearch);
                    }

                }
                console.log(listDoctor)
                for(let i = 0 ; i < listDoctor.data.length; i++ ) {
                    // chưa xong cái search
                    // let listTimeBooking = (doctorSearch.length === 0) ? await doctorService.getScheduleInDoctor(listDoctor.data[i].id, dateSearch) : await doctorService.getSearchDoctor(listDoctor.data[i].id, dateSearch,doctorSearch);
                    let listTimeBooking = await doctorService.getScheduleInDoctor(listDoctor.data[i].id, dateSearch);

                    if(listTimeBooking.data.length !== 0){
                        for(let j = 0 ; j < listTimeBooking.data.length; j++){
                            let limit = await scheduleService.getScheduleInBooking(listTimeBooking.data[j].id);
                            listTime.push({
                                "time": listTimeBooking.data[j].time_start.slice(0,5) + " - " + listTimeBooking.data[j].time_end.slice(0,5),
                                "id": listTimeBooking.data[j].id,
                                "limit": listTimeBooking.data[j].limit,
                                "full": limit.data.length === listTimeBooking.data[j].limit ? true : false,
                            })
                        }
                    }
                    listDoctor.data[i].time_booking = listTime;
                    listDoctor.data[i].date = dateSearch;
                    listTime = [];
                }
                if(listDoctor.data){
                    this.listItemDoctor = listDoctor.data.filter((doctor) => {
                        return doctor.time_booking.length !== 0
                    });

                    this.isLoading = false;
                }
            }
        },

    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";

    .list-doctor__container {
        width: 100%;
        max-width: 950px;
        margin: 10rem auto 60px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        font-family: 'Baloo Bhai 2', cursive;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background-image: url("../assets/img/bac-si.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }



        .content{
            position: relative;
            padding: 20px 50px;
            background: #fff;
            z-index: 10;
            .title {
                position: relative;
                color: #fff;

                div {
                    padding-bottom: 25px;
                    font-size: 3.25em;
                    font-weight: bold;
                    color: #337ab7;
                    text-shadow: 2px 2px 3px;
                }
            }
            .searchinput {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
                .date{
                    width: 30% !important;
                }
                .text {
                    width: 70%;
                    height: 100%;
                    padding: 9px 15px;
                    font-weight: bold;
                    border: 1px solid #4CAF50;
                    box-shadow: 1px 0px 3px #4CAF50;
                    border-radius: 50px;
                    font-size: 15px;
                    text-transform: capitalize;
                    outline: none;
                    margin: 0 10px;
                    &:focus {
                        box-shadow: 1px 1px 8px #4CAF50;
                    }
                }
                .btn-search{
                    color: #fff;
                    background-color: #218838;
                    padding: 10px;
                    border: none;
                    border-radius: 30px;
                    width: 7rem;
                    box-shadow: 1px 1px 8px #4CAF50;
                    &:hover{
                        background-color: #4CAF50;
                        box-shadow: none;
                    }
                }
                input[type="date"] {
                    display: block;
                    position: relative;
                    padding: 0.75rem 3.5rem 0.75rem 0.75rem;
                    font-weight: bold;
                    font-size: 1rem;
                    font-family: monospace;
                    margin-left: 20px;
                    border: 1px solid #4CAF50;
                    box-shadow: 1px 0px 3px #4CAF50;
                    border-radius: 40px;
                    overflow: hidden;
                    background: white url("../assets/svg/calendar-filter.svg") right 1rem center no-repeat;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                        box-shadow: 1px 1px 8px #4CAF50;
                        box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
                    }
                    &:hover::-webkit-calendar-picker-indicator {
                        opacity: 0.05;
                    }
                    &:hover::-webkit-calendar-picker-indicator:hover {
                        opacity: 0.15;
                    }
                }
                ::-webkit-clear-button,
                ::-webkit-inner-spin-button {
                    display: none;
                }
                ::-webkit-calendar-picker-indicator {
                    position: absolute;
                    width: 2.5rem;
                    height: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    cursor: pointer;
                    color: rgba(0, 120, 250, 1);
                    background: rgba(0, 120, 250, 1);
                }
            }
        }

        .list__wrapper {
            min-height: 10rem;

            .notify {
                text-align: center;
                line-height: 10rem;
                height: 10rem;
                color: #bbb;
                font-size: 35px;
                font-weight: bold;

            }
        }
    }
</style>