<template>
    <div class="register__container">
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="input-content">
            <div class="input-content-wrap">
                <dl class="inputbox">
                    <dt class="inputbox-title">Email</dt>
                    <dd class="inputbox-content">
                        <input id="input0" type="text" v-model="email" required/>
                        <label for="input0">Email</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Password</dt>
                    <dd class="inputbox-content">
                        <input id="input1" type="password" v-model="password" required/>
                        <label for="input1">Password</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <div class="notify">{{notify}}</div>
                <div class="btns">
                    <button class="btn btn-confirm" @click="onLogin">Login</button>
                    <router-link tag="div" to="/" class="btn btn-cancel">Cancel</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {userService} from "../services";
    import {MD5} from "../utils/MD5";
    export default {
        name: "LoginViewer",
        data(){
            return{
                email:'',
                password:'',
                notify:'',
            }
        },
        methods:{
            onLogin:async function () {
                if( this.email.length !== 0 && this.password.length !== 0 ){
                    let responseAdmin = await userService.loginAdmin(this.email, MD5.md5(this.password));
                    let responseDoctor = await userService.loginDoctor(this.email, MD5.md5(this.password));
                    let responsePatient = await userService.loginPatient(this.email, MD5.md5(this.password));
                    if(responseAdmin.data.length === 0 && responseDoctor.data.length === 0 && responsePatient.data.length === 0){
                        this.notify = "email hoặc password chưa đúng !"
                    }else if(responseAdmin.data.length !== 0){
                        localStorage.setItem("token",MD5.md5(this.password));
                        localStorage.setItem("id",responseAdmin.data[0].id);
                        localStorage.setItem("typeUser","Admin");
                        localStorage.setItem("Email",this.email);
                        // this.$emit('triggerLogin');
                        this.$router.push({ path: '/' })
                        // this.actionSetUser(responseAdmin.data[0].id,"Admin", this.email)
                    }else if(responseDoctor.data.length !== 0){
                        localStorage.setItem("token",MD5.md5(this.password));
                        localStorage.setItem("id",responseDoctor.data[0].id);
                        localStorage.setItem("typeUser","Doctor");
                        localStorage.setItem("Email",this.email);
                        // this.$emit('triggerLogin');
                        this.$router.push({ path: '/' })
                        // this.actionSetUser(responseDoctor.data[0].id,"Doctor",this.email);
                    }else if(responsePatient.data.length !== 0){
                        console.log(responsePatient.data[0].id,this.email)
                        localStorage.setItem("token",MD5.md5(this.password));
                        localStorage.setItem("id",responsePatient.data[0].id);
                        localStorage.setItem("typeUser","Patient");
                        localStorage.setItem("email",this.email);
                        // this.$emit('triggerLogin');
                        this.$router.push({ path: '/' })
                        // this.actionSetUser(responsePatient.data[0].id,"Patient",this.email);
                    }

                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    @import "./../assets/fonts/fonts.css";
    // color vars
    $primary-color: #1a237e;
    $dark-primary-color: #0f1041;
    $accent-color: #2962ff;
    $sub-yellow: #ffca00;

    //layout
    .register__container {
        width: 100%;
        max-width: 900px;
        margin: 0 auto 60px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        font-family: 'Baloo Bhai 2', cursive;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background: $dark-primary-color;
        }

        .title {
            position: relative;
            padding-top: 80px;
            color: #fff;

            h1 {
                padding-bottom: 25px;
                font-size: 3.25em;
                font-weight: 100;
            }
        }

        .input-content {
            position: relative;
            padding: 44px 55px;
            background: #fff;
            z-index: 10;

            h2 {
                padding-bottom: 45px;
                font-size: 1.625em;
                font-weight: bold;
                vertical-align: middle;

                span {
                    display: inline-block;
                    margin-left: 10px;
                    padding: 5px 6px 3px;
                    border: 1px solid $sub-yellow;
                    border-radius: 4px;
                    font-size: 0.85rem;
                    vertical-align: middle;
                    color: $sub-yellow;
                }
            }
            .notify{
                color: red;
            }
            .inputbox {
                overflow: hidden;
                position: relative;
                padding: 15px 0 28px 200px;

                &-title {
                    position: absolute;
                    top: 15px;
                    left: 0;
                    width: 200px;
                    height: 30px;
                    color: #666;
                    font-weight: bold;
                    line-height: 30px;
                }

                select {
                    border: none;
                    border-bottom: solid 1px #ddd;
                    /*border-top: none;*/
                    /*border-right: none;*/
                    /*border-left: none;*/
                    font-size: 100%;
                    font-weight: inherit;
                    outline: none;
                    padding: 8px 10px;
                    text-indent: 0.01px;
                    text-overflow: '';
                    vertical-align: middle;
                    width: 100%;
                    box-sizing: border-box;

                }

                &-content {
                    position: relative;
                    width: 100%;

                    input {
                        width: 100%;
                        height: 30px;
                        box-sizing: border-box;
                        line-height: 30px;
                        font-size: 14px;
                        border: 0;
                        background: none;
                        border-bottom: 1px solid #ccc;
                        outline: none;
                        border-radius: 0;
                        -webkit-appearance: none;

                        &:focus, &:valid {
                            & ~ label {
                                color: $accent-color;
                                transform: translateY(-20px);
                                font-size: 0.825em;
                                cursor: default;
                            }
                        }

                        &:focus {
                            & ~ .underline {
                                width: 100%;
                            }
                        }
                    }

                    label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 30px;
                        line-height: 30px;
                        color: #ccc;
                        cursor: text;
                        transition: all 200ms ease-out;
                        z-index: 10;
                    }

                    .underline {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: $accent-color;
                        transition: all 200ms ease-out;
                    }
                }
            }

            .btns {
                padding: 30px 0 0 200px;

                .btn {
                    display: inline-block;
                    margin-right: 2px;
                    padding: 10px 25px;
                    background: none;
                    border: 1px solid #c0c0c0;
                    border-radius: 2px;
                    color: #666;
                    font-size: 1.125em;
                    outline: none;
                    transition: all 100ms ease-out;

                    &:hover, &:focus {
                        transform: translateY(-3px);
                    }

                    &-confirm {
                        border: 1px solid $accent-color;
                        background: $accent-color;
                        color: #fff;
                    }
                }
            }
        }
    }
</style>