<template>
    <div class="manage__container">
        <div class="content">
            <div class="title">
                <div>Hospital Management</div>
            </div>
            <div class="tabs__wrapper">
                <b-card no-body>
                    <b-tabs card>
                        <b-tab title="Doctor" active>
                            <ListManageDoctor
                                ref="Doctor"
                                @dataDoctorSelect="setDataDoctorSelect"
                                @dataDoctorSelectEdit="setDataDoctorSelectEdit"
                                @dataDoctorAdd="setDataDoctorAdd"/>
                        </b-tab>
                        <b-tab title="Patient">
                            <ListManagePatient
                                ref="Patient"
                                @dataPatientSelect="setDataPatientSelect"
                                @dataPatientSelectEdit="setDataPatientSelectEdit"/>
                        </b-tab>
                        <b-tab title="Medical Specialty">
                            <ListManageMedicalSpecialty
                                ref="MedicalSpecialty"
                                @dataSpecialtySelect="setDataSpecialtySelect"
                                @dataSpecialtySelectEdit="setDataSpecialtySelectEdit"
                                @dataSpecialtyAdd="setDataSpecialtyAdd"/>
                        </b-tab>

                        <b-tab title="Support User" >
                            <div class="support-user__wrapper">
                                <div v-if="dataSupportUser.length === 0" style=" color: #bbb;font-weight: bold; font-size: 30px;text-align: center; line-height: 10rem">Không có thông tin</div>
                               <div class="item-support" :key="index" v-for="(item, index) in dataSupportUser">
                                   <div class="header-support">
                                       <div class="btn btn-warning" @click="toHandle(item.id)">Giải Quyết</div>
                                   </div>
                                   <div class="content-support">
                                       <label>Name: </label>
                                       <div>{{item.name}}</div>
                                       <label>Email: </label>
                                       <div>{{item.email}}</div>
                                       <label>Phone: </label>
                                       <div>{{item.phone}}</div>
                                       <label>Message: </label>
                                       <div>{{item.message}}</div>
                                   </div>

                               </div>
                            </div>
                        </b-tab>
                        <b-tab title="Register Admin" >
                            <div class="register-admin">
                                <label>Name: </label>
                                <input type="text" v-model="dataAdmin.name" placeholder="Name">
                                <label>Email: </label>
                                <input type="text" v-model="dataAdmin.email" placeholder="Email">
                                <label>Password: </label>
                                <input type="password" v-model="dataAdmin.password" placeholder="Password">
                                <button class="btn btn-success" @click="onAddAdmin">Add Admin</button>
                                <label class="notify">{{notify}}</label>
                            </div>
                        </b-tab>
                    </b-tabs>
                </b-card>
            </div>
        </div>
        <ModalDetailDoctor
            ref="ModalDetailDoctor"
            @ReloadListDoctor="ReloadListDoctor"
            @handleShowModalDetail="handleShowModalDetail"
            :isShowModalDetail="isShowModalDoctorDetail"
            :doctorSelect="dataDoctorSelect"/>
        <ModalDetailPatient
            ref="ModalDetailPatient"
            @handleShowModalDetailPatient="handleShowModalDetailPatient"
            :isShowModalDetail="isShowModalPatientDetail"
            :userSelect="dataUserSelect"/>
        <ModalDetailSpecialist
            ref="ModalDetailSpecialist"
            @ReloadSpecialist="ReloadSpecialist"
            @handleShowModalDetailSpecialist="handleShowModalDetailSpecialty"
            :isShowModalDetailSpecialist="isShowModalSpecialtyDetail"
            :dataDoctor="dataInfoSpecialist"/>


        <InforDoctor
            @handleShowModalInfor="handleShowModalInfor"
            :isShowModalInfor="isShowModalDoctor"
            :doctorSelect="dataDoctorSelect"/>
        <InfoUser
            @handleShowModalInfo="handleShowModalInfoPatient"
            :isShowModalInfo="isShowModalPatient"
            :userSelect="dataUserSelect"/>
        <ModalInfoSpecialist
            @handleShowModalInfoSpecialist="handleShowModalInfoSpecialist"
            :isShowModalInfoSpecialist="isShowModalSpecialist"
            :dataInfo="dataInfoSpecialist"/>
    </div>
</template>

<script>
    import ListManageDoctor from "../components/ListManageDoctor";
    import ListManagePatient from "../components/ListManagePatient";
    import ListManageMedicalSpecialty from "../components/ListManageMedicalSpecialty";
    import InforDoctor from "../components/modals/InforDoctor";
    import InfoUser from "../components/modals/InfoUser";
    import ModalInfoSpecialist from "../components/modals/ModalInfoSpecialist";
    import ModalDetailDoctor from "../components/modals/ModalDetailDoctor";
    import ModalDetailPatient from "../components/modals/ModalDetailPatient";
    import ModalDetailSpecialist from "../components/modals/ModalDetailSpecialist";
    import {adminService,supportService} from "../services";
    import {MD5} from "../utils/MD5";

    export default {
        name: "ManageViewer",
        components:{
            ListManageDoctor,
            ListManagePatient,
            ListManageMedicalSpecialty,
            InforDoctor,
            InfoUser,
            ModalInfoSpecialist,
            ModalDetailDoctor,
            ModalDetailPatient,
            ModalDetailSpecialist
        },
        data(){
            return{
                isShowModalDoctor:false,
                isShowModalPatient:false,
                isShowModalSpecialist:false,
                isShowModalDoctorDetail: false,
                isShowModalPatientDetail: false,
                isShowModalSpecialtyDetail: false,
                dataAdmin:{
                    name:"",
                    email:"",
                    password:"",
                },
                notify: "",
                dataInfoSpecialist:{},
                dataUserSelect:{},
                dataDoctorSelect:{},
                dataSupportUser:[],
            }
        },
        mounted(){
            this.fetchDataSupport();
        },
        methods:{
            ReloadSpecialist: function(){
                this.$refs.MedicalSpecialty.fetchData();
            },
            ReloadListDoctor: function(){
                this.$refs.Doctor.fetchData();
            },
            ReloadListPatient: function(){
                this.$refs.Patient.fetchData();
            },
            toHandle:async function(id){
                await supportService.deleteSupport(id);
                this.fetchDataSupport();
            },
            fetchDataSupport: async function(){
                let data = await supportService.getSupport();
                this.dataSupportUser = data.data;
            },
            onAddAdmin:async function(){
                if(this.dataAdmin.name.length !== 0 && this.dataAdmin.email.length !== 0 && this.dataAdmin.password.length !== 0){
                    this.notify = "";
                    this.dataAdmin.password = MD5.md5(this.dataAdmin.password);
                    let response = await adminService.addAdmin(this.dataAdmin);
                    if(response.status === 200) this.dataAdmin = {};
                }else{
                    this.notify = "chưa nhập đủ giá trị!"
                }
            },
            setDataDoctorAdd: function(){
                this.dataDoctorSelect = {};
                this.$refs.ModalDetailDoctor.loadSpecialist();
                this.handleShowModalDetail();
            },
            setDataDoctorSelectEdit: function(data){
                this.dataDoctorSelect = data;
                this.$refs.ModalDetailDoctor.loadSpecialist();
                this.handleShowModalDetail();
            },
            setDataDoctorSelect: function(data){
                this.dataDoctorSelect = data;
                this.handleShowModalInfor();
            },

            setDataPatientSelect: function(data){
                this.dataUserSelect = data;
                this.handleShowModalInfoPatient()
            },
            setDataPatientSelectEdit: function(data){
                this.dataUserSelect = data;
                this.handleShowModalDetailPatient();
            },


            setDataSpecialtySelect: function(data){
                this.dataInfoSpecialist = data;
                this.handleShowModalInfoSpecialist();
            },
            setDataSpecialtySelectEdit: function(data){
                this.dataInfoSpecialist = data;
                this.handleShowModalDetailSpecialty();
            },
            setDataSpecialtyAdd: function(){
                this.dataInfoSpecialist = {};
                this.handleShowModalDetailSpecialty();
            },

            handleShowModalDetail: function(){
                this.isShowModalDoctorDetail=!this.isShowModalDoctorDetail;
            },
            handleShowModalDetailPatient: function(){
                this.isShowModalPatientDetail =! this.isShowModalPatientDetail;
            },
            handleShowModalDetailSpecialty: function(){
                this.isShowModalSpecialtyDetail =!this.isShowModalSpecialtyDetail;
            },
            handleShowModalInfor: function () {
                this.isShowModalDoctor=!this.isShowModalDoctor;
            },
            handleShowModalInfoPatient: function () {
                this.isShowModalPatient=!this.isShowModalPatient;
            },
            handleShowModalInfoSpecialist: function(){
                this.isShowModalSpecialist=!this.isShowModalSpecialist;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    .manage__container{
        width: 100%;
        max-width:80rem;
        margin:10rem auto 60px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.25);
        font-family: 'Baloo Bhai 2', cursive;
        &::before{
            content:'';
            display:block;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 300px;
            background-image: url("../assets/img/chuyen_khoa.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }

        .content{
            position: relative;
            padding: 20px 50px;
            background: #fff;
            z-index: 10;
            .title{
                position: relative;
                color: #fff;
                div{
                    padding-bottom:25px;
                    font-size:3.25em;
                    font-weight: bold;
                    color: #337ab7;
                    text-shadow: 2px 2px 3px;
                }
            }
        }
        .tabs__wrapper{
            .support-user__wrapper{
                overflow: auto;
                min-height: 10rem;
                max-height: 50rem;
                .item-support{
                    border: none;
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: 0 0 10px;
                    margin: 10px 5px;
                    .header-support{
                        padding: 10px ;
                        background-color: #007bff;
                        overflow: hidden;
                    }
                    .content-support{
                        padding: 10px 50px;
                        display: grid;
                        grid-template-columns: 5rem auto;
                        font-weight: bold;
                    }
                }


            }
            .register-admin{
                display: grid;
                grid-template-columns: 6rem 24rem;
                grid-gap: 10px;
                input{
                    border: none;
                    border-bottom: 1px solid #838886;
                }
                .notify{
                    color: red;
                    grid-column: span 2;
                    font-weight: bold;
                }
                .btn{
                    margin-top: 20px;
                    grid-column: span 2;
                }
            }
        }
    }
</style>