<template>
    <div class="profile-doctor__container">
        <div class="title">
            <h1>Thông Tin Bác sĩ.</h1>
        </div>
        <div class="input-content">
            <div class="input-content-wrap">
                <div class="wrapper-img">
                    <img :src="dataUser.photo" class="avatar" alt="avatar">
                    <input type="file" @change="processFile($event)">
                </div>
                <dl class="inputbox">
                    <dt class="inputbox-title">Name</dt>
                    <dd class="inputbox-content">
                        <input id="input2" type="text" v-model="dataUser.name" required/>
                        <label for="input2">Name</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Email</dt>
                    <dd class="inputbox-content">
                        <input id="input3" type="text" v-model="dataUser.email"  required/>
                        <label for="input3">Email</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Phone</dt>
                    <dd class="inputbox-content">
                        <input id="input4" type="text" v-model="dataUser.phone"  required/>
                        <label for="input4">Phone</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Summary</dt>
                    <dd class="inputbox-content">
                        <vue-editor v-model="dataUser.summary"></vue-editor>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Training Process</dt>
                    <dd class="inputbox-content">
                        <vue-editor v-model="dataUser.training_process"></vue-editor>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Research Works</dt>
                    <dd class="inputbox-content">
                        <vue-editor v-model="dataUser.research_works"></vue-editor>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Treatment Diseases</dt>
                    <dd class="inputbox-content">
                        <vue-editor v-model="dataUser.research_works"></vue-editor>
<!--                        <input type="text" v-model="dataUser.treatment_diseases" required/>-->
<!--                        <label for="input8">Treatment Diseases</label>-->
<!--                        <span class="underline"></span>-->
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Location</dt>
                    <select v-model="dataUser.location">
                        <option>{{dataUser.location}}</option>
                        <option disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in listLocation">{{item}}</option>
                    </select>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Price</dt>
                    <dd class="inputbox-content">
                        <input id="input9" type="number" v-model="dataUser.price" required/>
                        <label for="input9">Price</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Khoa</dt>
                    <select v-model="specialist.id">
                        <option>{{specialist.name}}</option>
                        <option disabled >&ndash; Select an Option &ndash;</option>
                        <option :value="item.id" :key="index" v-for="(item,index) in listKhoa">{{item.name}}</option>
                    </select>
                </dl>

                <div class="btns">
                    <button class="btn btn-save" @click="onSave">save</button>
                    <router-link tag="div" to="/" class="btn btn-cancel">Cancel</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Datetime } from 'vue-datetime';
    import {doctorService,locationService,specialistService,uploadService} from "../services";
    import { VueEditor } from "vue2-editor";
    import {mapState, mapActions} from "vuex";
    export default {
        name: "ProfileUser",
        components:{
            Datetime,
            VueEditor
        },
        computed:{},
        props:{},
        mounted(){
            this.fetchData()
        },
        data(){
            return {
                isLoading: false,
                dataUser:{},
                listKhoa: [],
                listLocation: [],
                specialist: {},
                file: "",
            };
        },
        methods:{
            processFile: function(event){
                this.file = event.target.files[0];
                let fr = new FileReader();
                fr.onload = () => this.dataUser.photo = fr.result;
                fr.readAsDataURL(this.file);
            },
            onSave:async function(){
                // console.log(this.dataUser.photo)
                if(this.file.length !== 0){
                    await uploadService.postFileImg(this.file);
                    this.dataUser.photo = `http://localhost:3000/api/uploads/image/download/${this.file.name}`;
                }

                this.dataUser.specialistId = this.specialist.id;
                await doctorService.updateDoctor(this.dataUser);
            },
            fetchData: async function () {
                let dataCheck =  await doctorService.getDoctorByID(localStorage.getItem("id"));
                let dataSpecialist = await specialistService.getSpecialist();
                let dataLocation = await locationService.getLocation();
                if(dataCheck.status === 200){
                   let specialist = await specialistService.getSpecialistById(dataCheck.data.specialistId);
                   this.isLoading = true;
                   this.dataUser = dataCheck.data;
                   this.specialist = specialist.data;
                   for(let khoa of dataSpecialist.data){
                       this.listKhoa.push(khoa);
                   }
                   for(let location of dataLocation.data){
                       this.listLocation.push(location._name);
                   }
                }
            }
        },
        destroyed() {
            console.log(" destroyed")
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    @import "./../assets/fonts/fonts.css";
    // color vars
    $primary-color: #1a237e;
    $dark-primary-color: #0f1041;
    $accent-color: #2962ff;
    $sub-yellow: #ffca00;

    //layout
    .profile-doctor__container{
        width: 100%;
        max-width:900px;
        margin:0 auto 60px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.25);
        font-family: 'Baloo Bhai 2', cursive;
        &::before{
            content:'';
            display:block;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 300px;
            background: $dark-primary-color;
        }
        .title{
            position: relative;
            padding-top:80px;
            color: #fff;
            h1{
                padding-bottom:25px;
                font-size:3.25em;
                font-weight:100;
            }
        }
        .input-content{
            position: relative;
            padding:44px 55px;
            background: #fff;
            z-index:10;
            h2{
                padding-bottom:45px;
                font-size:1.625em;
                font-weight:bold;
                vertical-align: middle;
                span{
                    display: inline-block;
                    margin-left:10px;
                    padding:5px 6px 3px;
                    border:1px solid $sub-yellow;
                    border-radius:4px;
                    font-size:0.85rem;
                    vertical-align: middle;
                    color: $sub-yellow;
                }
            }
            .wrapper-img{
                display: flex;
                align-items: center;
                .avatar{
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                }
                input{
                    width: 80%;
                    margin-left: 60px;

                }
            }
            .inputbox{
                overflow: hidden;
                position: relative;
                padding:15px 0 28px 200px;

                &-title{
                    position: absolute;
                    top:15px;
                    left: 0;
                    width: 200px;
                    height: 30px;
                    color: #666;
                    font-weight: bold;
                    line-height: 30px;
                }
                select {
                    border: none;
                    border-bottom: solid 1px #ddd;
                    font-size:100%;
                    font-weight:inherit;
                    outline:none;
                    padding:8px 10px;
                    text-indent: 0.01px;
                    text-overflow: '';
                    vertical-align: middle;
                    width:100%;
                    box-sizing: border-box;

                }
                &-content{
                    position: relative;
                    width: 100%;
                    input, .date-input{
                        width: 100%;
                        height: 30px;
                        box-sizing: border-box;
                        line-height: 30px;
                        font-size:14px;
                        border:0;
                        background: none;
                        border-bottom:1px solid #ccc;
                        outline:none;
                        border-radius: 0;
                        -webkit-appearance: none;
                        &:focus,&:valid{
                            &~label{
                                color: $accent-color;
                                transform: translateY(-20px);
                                font-size:0.825em;
                                cursor:default;
                            }
                        }
                        &:focus{
                            &~.underline{
                                width: 100%;
                            }
                        }
                    }
                    label{
                        position: absolute;
                        top:0;
                        left:0;
                        height: 30px;
                        line-height: 30px;
                        color:#ccc;
                        cursor:text;
                        transition: all 200ms ease-out;
                        z-index:10;
                    }
                    .underline{
                        content:'';
                        display: block;
                        position: absolute;
                        bottom:-1px;
                        left:0;
                        width: 0;
                        height: 2px;
                        background: $accent-color;
                        transition: all 200ms ease-out;
                    }
                }
            }
            .btns{
                padding:30px 0 0 200px;
                .btn{
                    display:inline-block;
                    margin-right:2px;
                    padding: 10px 25px;
                    background: none;
                    border:1px solid #c0c0c0;
                    border-radius:2px;
                    color: #666;
                    font-size:1.125em;
                    outline:none;
                    transition: all 100ms ease-out;
                    &:hover,&:focus{
                        transform: translateY(-3px);
                    }
                    &-save{
                        border:1px solid $accent-color;
                        background: $accent-color;
                        color: #fff;}
                }
            }
        }
    }
</style>