<template>
    <div class="register__container">
        <div class="title">
            <h1>Thông Tin Người Dùng.</h1>
        </div>
        <div class="input-content">
            <div class="input-content-wrap">
                <dl class="inputbox">
                    <dt class="inputbox-title">Họ Tên</dt>
                    <dd class="inputbox-content">
                        <input id="input2" type="text" v-model="dataUser.name" required/>
                        <label for="input2">Họ Tên</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Số Điện Thoại</dt>
                    <dd class="inputbox-content">
                        <input id="input3" type="text" v-model="dataUser.phone"  required/>
                        <label for="input3">Số Điện Thoại</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Giới Tính</dt>
                    <select v-model="dataUser.sex">
                        <option value="0">{{dataUser.sex}}</option>
                        <option value="1">&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in ListSex">{{item}}</option>
                    </select>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Email</dt>
                    <dd class="inputbox-content">
                        <input id="input5" type="text" v-model="dataUser.email" required/>
                        <label for="input5">Email</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Tỉnh</dt>
                    <select v-model="dataUser.province">
                        <option >{{dataUser.province}}</option>
                        <option disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in ListLocation">{{item}}</option>
                    </select>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Huyện</dt>
                    <select v-model="dataUser.district">
                        <option >{{dataUser.district}}</option>
                        <option disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item._name" :key="index" v-for="(item,index) in listDistrict">{{item._name}}</option>
                    </select>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Địa Chỉ Chi Tiết</dt>
                    <dd class="inputbox-content">
                        <input id="input8" type="text" v-model="dataUser.location_detail" required/>
                        <label for="input8">Địa Chỉ Chi Tiết</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Tuổi</dt>
                    <dd class="inputbox-content">
                        <input id="input9" type="number" v-model="dataUser.old" required/>
                        <label for="input5">Tuổi</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <div class="btns">
                    <button class="btn btn-save" @click="onSave">save</button>
                    <router-link tag="div" to="/" class="btn btn-cancel">Cancel</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Datetime} from 'vue-datetime';
    import {locationService, patientService} from "../services";
    // import { Settings } from 'luxon';
    export default {
        name: "ProfileUser",
        components:{
            Datetime,
        },
        computed:{
            listDistrict (){
                this.loadDistrict()
                return this.listDistrictData;
            }
        },
        props:{},
        mounted(){

            this.fetchData();
            this.loadDistrict();

        },
        data(){
            return {
                isLoading: false,
                dataUser:{},
                listDistrictData:[],
                ListSex:[
                    "Nam",
                    "Nữ"
                ],
                ListLocation: [],
            };
        },
        methods:{
            onSave: async function(){
                console.log(this.dataUser);
                patientService.updatePatient(this.dataUser);
            },
            loadDistrict: async function () {
                if(this.dataUser.province !== undefined){
                    let idCity = await locationService.getIdByName(this.dataUser.province);
                    let dataCity = await locationService.getCity(idCity.data[0].id);
                    this.listDistrictData = dataCity.data;
                }
            },
            fetchData: async function () {
                let dataLocation = await locationService.getLocation();
                let dataCheck =  await patientService.getPatient(localStorage.getItem("id"));
                if(dataCheck.status === 200){
                   this.isLoading = true;
                   this.dataUser = dataCheck.data;
                   for(let location of dataLocation.data){
                       this.ListLocation.push(location._name);
                   }

                }
            }
        },
        destroyed() {
            console.log(" destroyed")
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    @import "./../assets/fonts/fonts.css";
    // color vars
    $primary-color: #1a237e;
    $dark-primary-color: #0f1041;
    $accent-color: #2962ff;
    $sub-yellow: #ffca00;

    //layout
    .register__container{
        width: 100%;
        max-width:900px;
        margin:0 auto 60px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.25);
        font-family: 'Baloo Bhai 2', cursive;
        &::before{
            content:'';
            display:block;
            position: absolute;
            top: -30px;
            left:0;
            width: 100%;
            height: 300px;
            background: $dark-primary-color;
        }
        .title{
            position: relative;
            /*padding-top:80px;*/
            color: #fff;
            h1{
                padding-bottom:25px;
                font-size:3.25em;
                font-weight:100;
            }
        }
        .input-content{
            position: relative;
            padding:44px 55px;
            background: #fff;
            z-index:10;
            h2{
                padding-bottom:45px;
                font-size:1.625em;
                font-weight:bold;
                vertical-align: middle;
                span{
                    display: inline-block;
                    margin-left:10px;
                    padding:5px 6px 3px;
                    border:1px solid $sub-yellow;
                    border-radius:4px;
                    font-size:0.85rem;
                    vertical-align: middle;
                    color: $sub-yellow;
                }
            }
            .inputbox{
                overflow: hidden;
                position: relative;
                padding:15px 0 28px 200px;

                &-title{
                    position: absolute;
                    top:15px;
                    left: 0;
                    width: 200px;
                    height: 30px;
                    color: #666;
                    font-weight: bold;
                    line-height: 30px;
                }
                select {
                    border: none;
                    border-bottom: solid 1px #ddd;
                    font-size:100%;
                    font-weight:inherit;
                    outline:none;
                    padding:8px 10px;
                    text-indent: 0.01px;
                    text-overflow: '';
                    vertical-align: middle;
                    width:100%;
                    box-sizing: border-box;

                }
                &-content{
                    position: relative;
                    width: 100%;
                    input, .date-input{
                        width: 100%;
                        height: 30px;
                        box-sizing: border-box;
                        line-height: 30px;
                        font-size:14px;
                        border:0;
                        background: none;
                        border-bottom:1px solid #ccc;
                        outline:none;
                        border-radius: 0;
                        -webkit-appearance: none;
                        &:focus,&:valid{
                            &~label{
                                color: $accent-color;
                                transform: translateY(-20px);
                                font-size:0.825em;
                                cursor:default;
                            }
                        }
                        &:focus{
                            &~.underline{
                                width: 100%;
                            }
                        }
                    }
                    label{
                        position: absolute;
                        top:0;
                        left:0;
                        height: 30px;
                        line-height: 30px;
                        color:#ccc;
                        cursor:text;
                        transition: all 200ms ease-out;
                        z-index:10;
                    }
                    .underline{
                        content:'';
                        display: block;
                        position: absolute;
                        bottom:-1px;
                        left:0;
                        width: 0;
                        height: 2px;
                        background: $accent-color;
                        transition: all 200ms ease-out;
                    }
                }
            }
            .btns{
                padding:30px 0 0 200px;
                .btn{
                    display:inline-block;
                    margin-right:2px;
                    padding: 10px 25px;
                    background: none;
                    border:1px solid #c0c0c0;
                    border-radius:2px;
                    color: #666;
                    font-size:1.125em;
                    outline:none;
                    transition: all 100ms ease-out;
                    &:hover,&:focus{
                        transform: translateY(-3px);
                    }
                    &-save{
                        border:1px solid $accent-color;
                        background: $accent-color;
                        color: #fff;}
                }
            }
        }
    }
</style>