<template>
    <div class="register__container">
        <div class="title">
            <h1>Register!</h1>
        </div>
        <div class="input-content">
            <div class="wrapper-button">
                <div class="button-doctor" ref="btnDoctor" @click="onDoctor">Bác sĩ</div>
                <div class="button-patient " ref="btnPatient" @click="onPatient">Bệnh nhân</div>
            </div>

            <div class="input-content-wrap" v-if="typeInput === 'patient'">
                <dl class="inputbox">
                    <dt class="inputbox-title">Email</dt>
                    <dd class="inputbox-content">
                        <input id="input12" v-model="dataUser.email" type="text" required/>
                        <label for="input12">Email</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Password</dt>
                    <dd class="inputbox-content">
                        <input id="input13" type="password" v-model="dataUser.password"  required/>
                        <label for="input13">Password</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Họ Tên</dt>
                    <dd class="inputbox-content">
                        <input id="input21" type="text" v-model="dataUser.name"  required/>
                        <label for="input21">Họ Tên</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Số Điện Thoại</dt>
                    <dd class="inputbox-content">
                        <input id="input31" type="text" v-model="dataUser.phone"  required/>
                        <label for="input31">Số Điện Thoại</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Giới Tính</dt>
                    <select v-model="dataUser.sex">
                        <option value="0">&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in ListSex">{{item}}</option>
                    </select>
                </dl>

                <dl class="inputbox">
                    <dt class="inputbox-title">Tỉnh</dt>
                    <select v-model="dataUser.province">
                        <option disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in ListLocation">{{item}}</option>
                    </select>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Huyện</dt>
                    <select v-model="dataUser.district">
                        <option >{{dataUser.district}}</option>
                        <option value="0" disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item._name" :key="index" v-for="(item,index) in listDistrict">{{item._name}}</option>
                    </select>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Địa Chỉ Chi Tiết</dt>
                    <dd class="inputbox-content">
                        <input id="input18" v-model="dataUser.location_detail" type="text" required/>
                        <label for="input18">Địa Chỉ Chi Tiết</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Tuổi</dt>
                    <dd class="inputbox-content">
                        <input id="input19" v-model="dataUser.old" type="number" required/>
                        <label for="input19">Tuổi</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <div class="notify">{{notify}}</div>
                <div class="btns">
                    <button class="btn btn-confirm" @click="onRegister">Register</button>
                    <router-link tag="div" to="/" class="btn btn-cancel">Cancel</router-link>
                </div>
            </div>




            <div class="input-content-wrap" v-if="typeInput === 'doctor'">
                <dl class="inputbox">
                    <dt class="inputbox-title">Email</dt>
                    <dd class="inputbox-content">
                        <input id="input5" v-model="dataDoctor.email" type="text" required/>
                        <label for="input5">Email</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Password</dt>
                    <dd class="inputbox-content">
                        <input id="input1" type="password" v-model="dataDoctor.password"  required/>
                        <label for="input1">Password</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Họ Tên</dt>
                    <dd class="inputbox-content">
                        <input id="input2" type="text" v-model="dataDoctor.name"  required/>
                        <label for="input2">Họ Tên</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Số Điện Thoại</dt>
                    <dd class="inputbox-content">
                        <input id="input3" type="text" v-model="dataDoctor.phone"  required/>
                        <label for="input3">Số Điện Thoại</label>
                        <span class="underline"></span>
                    </dd>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Giới Tính</dt>
                    <select v-model="dataDoctor.sex">
                        <option value="0">&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in ListSex">{{item}}</option>
                    </select>
                </dl>

                <dl class="inputbox">
                    <dt class="inputbox-title">Chuyên Khoa</dt>
                    <select v-model="dataDoctor.specialistId">
                        <option disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item.id" :key="index" v-for="(item,index) in dataSpecialist">{{item.name}}</option>
                    </select>
                </dl>
                <dl class="inputbox">
                    <dt class="inputbox-title">Địa chỉ</dt>
                    <select v-model="dataDoctor.location">
                        <option disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in ListLocation">{{item}}</option>
                    </select>
                </dl>

                <dl class="inputbox">
                    <dt class="inputbox-title">Học Hàm</dt>
                    <select v-model="dataDoctor.HH">
                        <option disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in HH">{{item}}</option>
                    </select>
                </dl>

                <dl class="inputbox">
                    <dt class="inputbox-title">Học Vị</dt>
                    <select v-model="dataDoctor.HV">
                        <option disabled>&ndash; Select an Option &ndash;</option>
                        <option :value="item" :key="index" v-for="(item,index) in HV">{{item}}</option>
                    </select>
                </dl>

                <div class="notify">{{notify}}</div>
                <div class="btns">
                    <button class="btn btn-confirm" @click="onRegisterDoctor">Register</button>
                    <router-link tag="div" to="/" class="btn btn-cancel">Cancel</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {locationService, patientService,doctorService,specialistService} from "../services";
    import {MD5} from "../utils/MD5";

    export default {
        name: "RegisterSingle",
        props:{},
        computed:{
            listDistrict (){
                this.loadDistrict();
                return this.listDistrictData;
            }
        },
        mounted(){
            this.fetchData();
            this.loadDistrict();
            this.onPatient();
        },
        data(){
            return {
                typeInput: "patient",
                notify:"",
                ListSex:[
                    "Nam",
                    "Nữ"
                ],
                HH:[
                    "Phó Giáo sư",
                    "Giáo sư"
                ],
                HV:[
                    "Thạc sĩ",
                    "Tiến sĩ",
                    "Chuyên Khoa I",
                    "Chuyên Khoa II",
                ],
                dataSpecialist:[],
                dataDoctor:{
                  email:"",
                  password:"",
                  name:"",
                  phone:"",
                  sex:"",
                  location:"",
                  HH:"",
                  HV:"",
                  specialistId:"",
                },
                dataUser: {
                    name: "",
                    phone: "",
                    sex: "",
                    email:"",
                    province:"",
                    district:"",
                    location_detail:"",
                    old:0,
                    password:"",
                },
                ListLocation: [],
                listDistrictData:[],
            };
        },
        methods:{
            onDoctor: function(){
                this.typeInput = "doctor";
                this.$refs.btnDoctor.classList.add('active');
                this.$refs.btnPatient.classList.remove('active');
            },
            onPatient: function(){
                this.typeInput = "patient";
                this.$refs.btnPatient.classList.add('active');
                this.$refs.btnDoctor.classList.remove('active');
            },
            onRegisterDoctor: async function(){
                let regexCheckPhone =/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/g;

                if(this.dataDoctor.name.length !== 0 &&
                    this.dataDoctor.phone.length !== 0 &&
                    this.dataDoctor.sex.length !== 0 &&
                    this.dataDoctor.email.length !== 0 &&
                    this.dataDoctor.specialistId.length !== 0 &&
                    this.dataDoctor.location.length !== 0 &&
                    this.dataDoctor.HH.length !== 0 &&
                    this.dataDoctor.HV.length !== 0 &&
                    this.dataDoctor.password.length !== 0 ){
                    this.notify="";
                    if( regexCheckPhone.test(this.dataDoctor.phone) ){
                        let checkEmail = await doctorService.checkEmail(this.dataDoctor.email);

                        if(checkEmail.data){
                            this.dataDoctor.specialistId = parseInt(this.dataDoctor.specialistId);
                            this.dataDoctor.password = MD5.md5(this.dataDoctor.password);
                            this.dataDoctor.photo= "http://localhost:3000/api/uploads/image/download/Logo.png";
                            this.dataDoctor.summary= "";
                            this.dataDoctor.price= 400000;
                            this.dataDoctor.minute= 45;
                            this.dataDoctor.time_start_morning= "07:30:00";
                            this.dataDoctor.time_end_morning= "12:00:00";
                            this.dataDoctor.time_start_afternoon= "14:00:00";
                            this.dataDoctor.time_end_afternoon= "18:00:00";
                            this.dataDoctor.check= false;
                            await doctorService.postDoctor(this.dataDoctor);
                            this.$router.push('/')
                        }else{
                            this.notify="Email vừa nhập chưa đúng !";
                        }
                    }
                    else{
                        this.notify="Số điện thoại vừa nhập chưa đúng !";
                    }
                }else{
                    this.notify=" Chưa nhập đầy đủ thông tin đăng ký !"
                }
            },
            onRegister: async function () {
                let regexCheckPhone =/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/g;

                if(this.dataUser.name.length !== 0 &&
                    this.dataUser.phone.length !== 0 &&
                    this.dataUser.sex.length !== 0 &&
                    this.dataUser.email.length !== 0 &&
                    this.dataUser.province.length !== 0 &&
                    this.dataUser.district.length !== 0 &&
                    this.dataUser.location_detail.length !== 0 &&
                    this.dataUser.old !== 0 &&
                    this.dataUser.password.length !== 0 ){
                    this.notify="";
                    if( regexCheckPhone.test(this.dataUser.phone) ){
                        let checkEmail = await patientService.checkEmail(this.dataUser.email);

                        if(checkEmail.data){
                            this.dataUser.password = MD5.md5(this.dataUser.password);
                            await patientService.postPatient(this.dataUser);
                            this.$router.push('/')
                        }else{
                            this.notify="Email vừa nhập chưa đúng !";
                        }
                    }
                    else{
                        this.notify="Số điện thoại vừa nhập chưa đúng !";
                    }
                }else{
                    this.notify=" Chưa nhập đầy đủ thông tin đăng ký !"
                }
            },
            loadDistrict: async function () {
                if(this.dataUser.province.length !== 0){
                    let idCity = await locationService.getIdByName(this.dataUser.province);
                    let dataCity = await locationService.getCity(idCity.data[0].id);
                    this.listDistrictData = dataCity.data;
                }
            },
            fetchData: async function () {
                let dataSpecialist = await specialistService.getSpecialist();
                let dataLocation = await locationService.getLocation();
                for (let location of dataLocation.data) {
                    this.ListLocation.push(location._name);
                }
                this.dataSpecialist = dataSpecialist.data;
            }
        }
    }
</script>

<style lang="scss" scoped>
@import "./../assets/scss/helper";
@import "./../assets/fonts/fonts.css";
// color vars
$primary-color: #1a237e;
$dark-primary-color: #0f1041;
$accent-color: #2962ff;
$sub-yellow: #ffca00;

//layout
.register__container{
    width: 100%;
    max-width:900px;
    margin:0 auto 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    font-family: 'Baloo Bhai 2', cursive;
    &::before{
        content:'';
        display:block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 300px;
        background: $dark-primary-color;
    }
    .title{
        position: relative;
        padding-top:80px;
        color: #fff;
        h1{
            padding-bottom:25px;
            font-size:3.25em;
            font-weight:100;
        }
    }
    .input-content{
        position: relative;
        padding:44px 55px;
        background: #fff;
        z-index:10;
        .wrapper-button{
            display: flex;
            margin:  0 0 2rem;
            .button-doctor{
                margin: 0 10px;
                width: 10rem;
                padding: 5px 10px;
                background-color: #337ab7;
                color: #fff;
                font-weight: bold;
                text-align: center;
                border-radius: 10px;
                box-shadow: 0 0 10px #838886;
                cursor: pointer;
                border: 1px solid #0b9eb7;
                &:hover{
                    box-shadow: 0 0 0;
                }
                &.active{
                    border: 1px solid #337ab7;
                    background: #fff;
                    color: #337ab7;
                }
            }
            .button-patient{
                margin: 0 10px;
                width: 10rem;
                padding: 5px 10px;
                background-color: #337ab7;
                color: #fff;
                font-weight: bold;
                text-align: center;
                border-radius: 10px;
                box-shadow: 0 0 10px #838886;
                border: 1px solid #0b9eb7;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 0 0;
                }
                &.active{
                    border: 1px solid #337ab7;
                    background: #fff;
                    color: #337ab7;
                }
            }
        }
        h2{
            padding-bottom:45px;
            font-size:1.625em;
            font-weight:bold;
            vertical-align: middle;
            span{
                display: inline-block;
                margin-left:10px;
                padding:5px 6px 3px;
                border:1px solid $sub-yellow;
                border-radius:4px;
                font-size:0.85rem;
                vertical-align: middle;
                color: $sub-yellow;
            }
        }
        .inputbox{
            overflow: hidden;
            position: relative;
            padding:15px 0 28px 200px;
            &-title{
                position: absolute;
                top:15px;
                left: 0;
                width: 200px;
                height: 30px;
                color: #666;
                font-weight: bold;
                line-height: 30px;
            }
            select {
                border: none;
                border-bottom: solid 1px #ddd;
                /*border-top: none;*/
                /*border-right: none;*/
                /*border-left: none;*/
                font-size:100%;
                font-weight:inherit;
                outline:none;
                padding:8px 10px;
                text-indent: 0.01px;
                text-overflow: '';
                vertical-align: middle;
                width:100%;
                box-sizing: border-box;

            }
            &-content{
                position: relative;
                width: 100%;
                input{
                    width: 100%;
                    height: 30px;
                    box-sizing: border-box;
                    line-height: 30px;
                    font-size:14px;
                    border:0;
                    background: none;
                    border-bottom:1px solid #ccc;
                    outline:none;
                    border-radius: 0;
                    -webkit-appearance: none;
                    &:focus,&:valid{
                        &~label{
                            color: $accent-color;
                            transform: translateY(-20px);
                            font-size:0.825em;
                            cursor:default;
                        }
                    }
                    &:focus{
                        &~.underline{
                            width: 100%;
                        }
                    }
                }
                label{
                    position: absolute;
                    top:0;
                    left:0;
                    height: 30px;
                    line-height: 30px;
                    color:#ccc;
                    cursor:text;
                    transition: all 200ms ease-out;
                    z-index:10;
                }
                .underline{
                    content:'';
                    display: block;
                    position: absolute;
                    bottom:-1px;
                    left:0;
                    width: 0;
                    height: 2px;
                    background: $accent-color;
                    transition: all 200ms ease-out;
                }
            }
        }
        .notify{
            color: red;
            font-weight: bold;
        }
        .btns{
            padding:30px 0 0 200px;
            .btn{
                display:inline-block;
                margin-right:2px;
                padding: 10px 25px;
                background: none;
                border:1px solid #c0c0c0;
                border-radius:2px;
                color: #666;
                font-size:1.125em;
                outline:none;
                transition: all 100ms ease-out;
                &:hover,&:focus{
                    transform: translateY(-3px);
                }
                &-confirm{
                    border:1px solid $accent-color;
                    background: $accent-color;
                    color: #fff;}
            }
        }
    }
}
</style>