<template>
    <div class="scheduling__container">
        <div class="content">
            <div class="title">
                <h1>
                    Lên Lịch Khám Bệnh
                </h1>
            </div>
            <div class="search-wrapper">
                <label>Search</label>
                <Datetime input-style="border: 0; border-bottom: 1px solid #ccc; width: 100%"
                          type="date"
                          placeholder="Search Date"
                          v-model="dateSearch"
                          title="Date"
                          format="dd-MM-yyyy">
                </Datetime>
                <div v-if="dateSearch.length !== 0" class="btn-clear" @click="()=>{this.dateSearch = ''}">X</div>
                <button class="btn btn-primary btn-search" @click="Search">Search</button>
            </div>


            <div class="list-scheduling__wrapper">
                <div class="list-scheduling">
                    <div class="header-list">
                        <div class="title-list">
                            Lịch Khám Bệnh
                        </div>
                        <button class="btn-success btn btn-add-date" @click="addDate">
                            Thêm Ngày Khám
                        </button>
                    </div>
                    <BOverlay :show="isLoadingSchedule" rounded="sm">
                        <div class="list-content" :aria-hidden="isLoadingSchedule ? 'true' : null">
                            <div class="notify" v-if="dateScheduleInDoctor.length === 0">Không có dữ liệu lịch tạo</div>
                            <ItemDate :key="index"
                                      :Booking="item"
                                      v-for="(item, index) in dateScheduleInDoctor"
                                      @listUserBooking="setListUserBooking"
                                      @addTime="addTime"
                                      @deleteDate="deleteDate"
                                      @editTime="editTime"
                                      @deleteTime="deleteTime"
                            />
                        </div>
                    </BOverlay>
                </div>
                <div class="info-user-booking">
                    <div class="header-list-user">
                        <div class="title-list">
                            Danh Sách Bệnh Nhân
                        </div>
                    </div>
                    <BOverlay :show="isLoadingUser" rounded="sm">
                        <div class="list-user" :aria-hidden="isLoadingUser ? 'true' : null">
                            <ItemUser :key="index"
                                      :profileUser="item" v-for="(item, index) in listUser"
                                      @userClick="userEmit"/>
                        </div>
                    </BOverlay>
                </div>
            </div>
        </div>
        <InfoUser :isShowModalInfo="isClickUser"
                  @handleShowModalInfo="handleShowModalInfo"
                  :userSelect ="patientEmit"/>
        <ModalAddDate
            :isShowModalAddDate="isShowModalAddDate"
            @handleShowModalAddDate="handleShowModalAddDate"
            @emitAddDate="emitAddDate"/>
        <ModalAddTime
            :isShowModalAddTime="isShowModalAddTime"
            @handleShowModalAddTime="handleShowModalAddTime"
            @emitAddTime="emitAddTime"
            :dateAddTime = "dateAddTime"/>
        <ModalEditTime
            :dataEditTime = "dataEditTime"
            :isShowModalEditTime="isShowModalEditTime"
            @emitEditTime = "emitEditTime"
            @handleShowModalEditTime="handleShowModalEditTime"
        />
    </div>
</template>

<script>
    import {Datetime} from 'vue-datetime';
    import ItemDate from "../components/ItemDate";
    import ItemUser from "../components/ItemUser";
    import InfoUser from "../components/modals/InfoUser";
    import ModalEditDate from "../components/modals/ModalEditDate";
    import ModalAddDate from "../components/modals/ModalAddDate";
    import ModalAddTime from "../components/modals/ModalAddTime";
    import ModalEditTime from "../components/modals/ModalEditTime";
    import {bookingService, doctorService, patientService, scheduleService} from "../services";

    export default {
        name: "Scheduling",
        components:{
            Datetime,
            ItemDate,
            ItemUser,
            InfoUser,
            ModalEditDate,
            ModalAddDate,
            ModalAddTime,
            ModalEditTime
        },
        computed:{},
        mounted(){
            this.fetchData();
        },
        methods:{
            Search: function(){
                this.fetchData();
            },
            fetchData: async function(){
                this.isLoadingSchedule = true;
                this.dateScheduleInDoctor = [];
                if(this.dateSearch.length === 0){
                    let dataSchedule = await doctorService.getScheduleOfDoctor(localStorage.getItem("id"));
                    let distinctDate = [];
                    if(dataSchedule.data.length !== 0){
                        distinctDate.push(dataSchedule.data[0].date);
                        for(let i = 1; i< dataSchedule.data.length; i++){
                            let duplicate = false;
                            for(let j = 0; j<distinctDate.length; j++){
                                if(distinctDate[j] === dataSchedule.data[i].date){
                                    duplicate=true;
                                    break;
                                }
                            }
                            if(!duplicate){
                                distinctDate.push(dataSchedule.data[i].date);
                            }
                        }
                        for(let i = 0; i<distinctDate.length; i++ ){
                            let timeInDate = await doctorService.getScheduleInDoctor(localStorage.getItem("id"),distinctDate[i]);
                            let item = {"date": distinctDate[i], "time": timeInDate.data};
                            this.dateScheduleInDoctor.push(item);
                        }
                    }
                }
                else{
                    let timeInDate = await doctorService.getScheduleInDoctor(localStorage.getItem("id"), this.dateSearch.slice(0,10));
                    let item = {"date": this.searchDate, "time": timeInDate.data};
                    this.dateScheduleInDoctor.push(item);
                }

                for (let i = 0; i < this.dateScheduleInDoctor.length; i++){
                    for(let j = 0 ; j < this.dateScheduleInDoctor[i].time.length; j++){
                        let booking = await bookingService.getPatientInBooking(this.dateScheduleInDoctor[i].time[j].id,localStorage.getItem("id"))
                        if(booking.data.length !==0 ) {
                            let listPatient = [];
                            for(let z = 0; z < booking.data.length; z++){
                                let patient = await patientService.getPatient(booking.data[z].patientId);
                                listPatient.push(patient.data);
                            }
                            this.dateScheduleInDoctor[i].time[j].listPatient = listPatient;
                        }
                        else{
                            this.dateScheduleInDoctor[i].time[j].listPatient = [];
                        }
                    }
                }
                this.isLoadingSchedule = false;
            },

            emitAddTime: async function(timeStart, timeEnd,limit){
                await doctorService.postTimeInDate(this.dateAddTime,timeStart,timeEnd,limit);
                this.fetchData();
            },
            emitAddDate: async function(date){
                await doctorService.postDateDefault(date.slice(0,10));
                this.fetchData();
            },
            deleteDate: async function (listIdTime) {
                console.log(listIdTime)
                for (let i = 0; i<listIdTime.length; i++){
                    await scheduleService.deleteScheduleInBooking(listIdTime[i]);
                    await doctorService.deleteTimeInDate(listIdTime[i]);

                }
                this.fetchData();
            },
            emitEditTime: async function(data){
                await doctorService.editTimeInDate(data);
                this.fetchData();
            },
            deleteTime: async function (id) {
                await scheduleService.deleteScheduleInBooking(id);
                await doctorService.deleteTimeInDate(id);
                this.fetchData();
            },

            handleShowModalEditTime: function(){
                this.isShowModalEditTime = !this.isShowModalEditTime;
            },
            handleShowModalAddTime: function(){
                this.isShowModalAddTime =!this.isShowModalAddTime;
            },
            handleShowModalAddDate:function(){
                this.isShowModalAddDate =!this.isShowModalAddDate;
            },
            handleShowModalInfo: function(){
                this.isClickUser = !this.isClickUser;
            },

            userEmit: function(dataPatient){
                this.isClickUser = !this.isClickUser;
                this.patientEmit = dataPatient;
            },
            setListUserBooking: function (data) {
                setTimeout(()=>{
                    this.listUser = [];
                    if(this.listUser.length === 0){
                        this.listUser.push(...data);
                    }
                    this.isLoadingUser = false;
                }, 200);
                this.isLoadingUser = true;
            },

            addDate: function() {
                this.isShowModalAddDate =!this.isShowModalAddDate;
            },
            addTime: function (date) {
                this.isShowModalAddTime =!this.isShowModalAddTime;
                this.dateAddTime = date;
            },

            editTime: function (data) {
                this.dataEditTime = data;
                this.isShowModalEditTime = !this.isShowModalEditTime;
            },

        },
        data(){
            return{
                time:{
                    "timeStart": "",
                    "timeEnd":"",
                },
                isLoadingSchedule: false,
                isLoadingUser: false,
                dateScheduleInDoctor:[],
                dateSearch:"",
                isShowModalEditTime: false,
                isShowModalAddTime:false,
                isShowModalAddDate: false,
                dateAddTime:"",
                listUser:[],
                isClickUser: false,
                patientEmit:{},
                dataEditTime:{},
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    @import "./../assets/fonts/fonts.css";
    // color vars
    $primary-color: #1a237e;
    $dark-primary-color: #0f1041;
    $accent-color: #2962ff;
    $sub-yellow: #ffca00;
    .scheduling__container{
        width: 100%;
        max-width: 950px;
        margin: 10rem auto 60px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        font-family: 'Baloo Bhai 2', cursive;
        user-select: none;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background-image: url("../assets/img/bac-si.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }
        .content{
            position: relative;
            padding: 20px 50px;
            background: #fff;
            z-index: 10;
            .title{
                position: relative;
                color: #456cd2;
                h1{
                    padding-bottom: 25px;
                    font-size: 3.25em;
                    font-weight: 100;
                }
            }
            .search-wrapper{
                display: grid;
                align-items: center;
                grid-template-columns: 5rem auto 10rem;
                padding: 0 50px;
                margin: 1rem 0;
                .btn-clear{
                    position: absolute;
                    right: 17rem;
                    width: 20px;
                    color: #fff;
                    border-radius: 50%;
                    text-align: center;
                    background: #DC3545;
                    height: 20px;
                    top: 8rem;
                    line-height: 23px;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 0 0 15px #f9041b;
                    }
                }
                >label{
                    margin: auto;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                >button{
                    margin: 0 10px;
                }
            }
            .list-scheduling__wrapper{
                display: flex;
                .list-scheduling{
                    width: 65%;
                    margin: 5px;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #ccc;
                    min-height: 10rem;
                    .header-list{
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        background: whitesmoke;
                        padding: 5px 10px;
                        .title-list{
                            text-transform: uppercase;
                        }
                        .btn-add-date{
                            margin-left: auto;
                        }
                    }
                    .list-content{
                        min-height: 10rem;
                        max-height: 45rem;
                        overflow: auto;
                        .notify{
                            line-height: 10rem;
                            text-align: center;
                            font-weight: bold;
                            color: #bbb;
                            font-size: 20px;
                        }
                    }
                }
                .info-user-booking{
                    width: 35%;
                    margin: 5px;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #ccc;
                    min-height: 10rem;
                    .header-list-user{
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        background: whitesmoke;
                        padding: 5px 10px;
                        height: 3rem;
                        .title-list{
                            text-transform: uppercase;
                        }
                    }

                    .list-user {
                        padding: 10px;
                        min-height: 2rem;
                        max-height: 45rem;
                        overflow: auto;
                    }
                }
            }
        }

}
</style>