<template>
  <div class="home__container" >
      <TheNavBar @scroll="handleScroll" :scrolled="scrolled" ref="navBar" />
      <Slide @triggerLogin="triggerLogin"/>
<!--      <ListSelectFinding/>-->
      <Introduce/>
      <Procedure/>
      <Location/>
<!--      <Contact/>-->
      <TheFooter/>

      <ModalLogin :isShowLogin="isShowLogin" @triggerLogin="triggerLogin"/>
  </div>
</template>

<script>
    import TheNavBar from "@/components/TheNavBar.vue";
    import ListSelectFinding from "@/components/ListSelectFinding.vue";
    import Slide from "@/components/Slide.vue";
    import Introduce from "@/components/Introduce.vue"
    import Procedure from "@/components/Procedure.vue";
    import Contact from "@/components/Contact.vue";
    import Location from "@/components/Location.vue";
    import ModalLogin from "@/components/modals/ModalLogin";
    import TheFooter from "../components/TheFooter";
    export default {
    name: "TheHome",
    components: {
      ListSelectFinding,
      Slide,
      Introduce,
      Procedure,
      Location,
      Contact,
      ModalLogin,
      TheNavBar,
      TheFooter
    },
    data(){
      return {
          limitPosition: 100,
          scrolled: false,
          lastPosition: 0,
          isShowLogin : false,
      };
    },
    methods:{
        handleScroll() {
            if (this.lastPosition < window.scrollY && this.limitPosition < window.scrollY) {
                this.scrolled = true;
            }

            if (this.limitPosition > window.scrollY) {
                this.scrolled = false;
            }

            this.lastPosition = window.scrollY;
        },
        triggerLogin: function () {
            this.$refs.navBar.getTypeUser();
            this.isShowLogin = !this.isShowLogin;
        }
    },
      created() {
          window.addEventListener("scroll", this.handleScroll);
      },
      destroyed() {
          window.removeEventListener("scroll", this.handleScroll);
      }

  };
</script>


<style scoped lang="scss">
@import "./../assets/fonts/fonts.css";
@import "./../assets/scss/helper";
.home__container {
    font-family: 'Baloo Bhai 2', cursive;
    .question {
      margin: 7rem 0 3rem 0;
      width: 100%;
      text-align: center;
    }
    .list-choice {
      margin: 7rem auto;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .block {
        cursor: pointer;
        width: 20%;
        margin: 20px;
        border: solid 1px #7a797996;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 2px 2px .5rem;
        img {
          height: 8rem;
          width: 100%;
        }
        &:hover{
            box-shadow: 0px 0px 0px;
            background: #fdf8cef3;
        }
      }
    }
}
</style>
