<template>
    <div class="waiting-schedule__container">
        <div class="content">
            <div class="title">
                <div>Waiting Schedule</div>
            </div>
            <BOverlay :show="isLoading" rounded="sm">
                <div class="wrapper-waiting-schedule" :aria-hidden="isLoading ? 'true' : null">
                    <div class="empty" v-if="dataBooking.length === 0">
                        Không có dữ liệu lịch đặt
                    </div>
                    <ItemWaitingSchedule v-for="(item,index) in dataBooking"
                                         @removeBooking="removeBooking"
                                         :booking="item"
                                         :key="index"/>
                </div>
            </BOverlay>
        </div>
    </div>
</template>

<script>
    import ItemWaitingSchedule from "../components/ItemWaitingSchedule";
    import {bookingService,doctorService,scheduleService} from "../services";
    import { BOverlay } from 'bootstrap-vue'
    export default {
        name: "WaitingSchedule",
        components:{
            ItemWaitingSchedule,
            BOverlay
        },
        mounted(){
            this.fetchData();
            console.log(this.dataBooking)
        },
        data(){
            return{
                dataBooking: [],
                isLoading: false,
            }
        },
        methods:{
            removeBooking:async function (id) {
                await bookingService.deleteBooking(id);
                this.fetchData();
            },
            fetchData:async function () {
                this.dataBooking = [];
                this.isLoading = true;
                let dateNow = Date.now();

                let dataResponse = await bookingService.getBookingInPatient(localStorage.getItem("id"));
                for(let booking of dataResponse.data){
                    let dataSchedule = await scheduleService.getScheduleById(booking.scheduleId);
                    let dataDoctor = await doctorService.getDoctorByID(booking.doctorId);
                    let dateBooking = new Date(dataSchedule.data.date);
                    if(Math.ceil((dateBooking - dateNow)/(86400000)) >= 0){
                        this.dataBooking.push({
                            id: booking.id,
                            date: dataSchedule.data.date,
                            time_start: dataSchedule.data.time_start,
                            time_end: dataSchedule.data.time_end,
                            nameDoctor: dataDoctor.data.name,
                            photo: dataDoctor.data.photo,
                            price: dataDoctor.data.price,
                            countDown: Math.ceil((dateBooking - dateNow)/(86400000))
                        })
                    }
                }
                if(this.isLoading){
                    this.isLoading = dataResponse.status === 200 ? false : true;
                }
            }

        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    .waiting-schedule__container{
        width: 100%;
        max-width:65rem;
        margin:10rem auto 60px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.25);
        font-family: 'Baloo Bhai 2', cursive;
        &::before{
            content:'';
            display:block;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 300px;
            background-image: url("../assets/img/chuyen_khoa.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }

        .content{
            position: relative;
            padding: 20px 50px;
            background: #fff;
            z-index: 10;
            .title{
                position: relative;
                color: #fff;
                div{
                    padding-bottom:25px;
                    font-size:3.25em;
                    font-weight: bold;
                    color: #337ab7;
                    text-shadow: 2px 2px 3px;
                }
            }
            .wrapper-waiting-schedule{
                overflow: auto;
                min-width: 620px;
                padding: 10px;
                min-height: 10rem;
                max-height: 40rem;
                border: none;
                border-radius: 5px;
                box-shadow: 0 0 10px;
                .empty{
                    color: #bbb;
                    font-size: 50px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 10rem;
                }
            }
        }

    }
</style>